<button
  type="button"
  class="__clickarea"
  [class.--dragging]="dragging"
  [class.--hovering]="hovering"
  (pointerenter)="hovering = true"
  (pointerleave)="hovering = false"
  (pointerdown)="onPointerdown($event)"
  (window:pointermove)="onPointermove($event)"
  (window:pointerup)="onPointerup($event)"
>

  <div class="__controls">
    <div
      class="__track"
      #track
    ></div>
    <div
      class="__knob-translate"
      [style.transform]="'translateX(' + (ratio * 100) + '%)'"
    >
      <div class="__knob"></div>
    </div>
  </div>

</button>
