@import "imports";

:host {
  position: relative;
  display: block;
}

.__grid {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: -.5rem;
}

.__col {
  flex: 1;
  width: 100%;
  max-width: 30rem;
}

@include on-mobile() {
  .__col {
    max-width: unset;
  }
}


cis-item,
cis-advisor,
cis-blueprint,
cis-design,
cis-consumable {
  padding: .5rem;
}


.__prerender {
  position: relative;
  width: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}

.__sentinel {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 25vh;
  border-bottom: .2rem dotted red;
  pointer-events: none;
  user-select: none;
  visibility: hidden;
}
