@import "imports";

::ng-deep {
  .icon--materials {
    $size: 24px;
    border-radius: 3px;
    width: $size;
    height: $size;
  }

  .__wrapper {
    @include elevation(4);
    @include border();

    position: relative;
    width: 100%;
    margin: 0 auto;
    background: $theme-shadow;
    padding: .75rem;
    font-size: 14px;
    color: white;
    opacity: .95;

    &:hover {
      z-index: 1;
    }
  }

  .row {
    display: flex;

    span {
      white-space: nowrap;
    }
  }

  .row.--header {
    justify-content: space-between;
  }

  .__rarity {
    text-transform: capitalize;
  }

  .row.--name {
    margin: .75rem 0;
  }

  .__name {
    margin-left: .25rem;
    padding: .25rem;
    font-size: 18px;
    font-weight: 700;
    flex: 1;
  }

  .row.--level {
    margin-top: 1rem;
  }

  .row.--source {
    margin-top: 1rem;
    margin-bottom: .25rem;
    flex-wrap: wrap;
  }

  .row.--materials {
    margin-left: .5rem;
    font-size: 90%;
    display: grid;
    grid-template-columns: auto auto auto auto 1fr;
    grid-column-gap: .375rem;
    grid-row-gap: .125rem;
    align-items: center;
    cursor: text;

    + .row.--materials {
      margin-top: .1rem;
    }
  }

  .__mat-amount {
    text-align: right;
  }
}
