@import "imports";

:host {
  display: flex;
  flex-direction: column;
}

.__tabs {
  display: flex;
  justify-content: center;
  margin-bottom: .5rem;
}

.__tab {
  @include elevation(12);

  margin: .5rem;
  padding: .5rem 2rem;
  border-radius: .5rem;
  background: white;
}

.__results {
  @include background();

  flex: 1;
  width: 100%;
  padding: 1rem;
}
