@import "imports";

:host {
  display: flex;
  flex-direction: column;
}

.__grid {
  @include background();

  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  border-radius: $border-radius;
  padding: 1rem;

  &.--empty {
    background: $theme-primary;
  }
}

.__col {
  flex: 0 0 33.333333%;
}

cis-item {
  padding: .5rem;
}
