@import "imports";

:host {
  display: block;
}

::ng-deep {
  .icon--items,
  .icon--advisors,
  .icon--blueprints,
  .icon--designs,
  .icon--consumables {
    background-color: $theme-border;
  }

  .icon--items,
  .icon--blueprints,
  .icon--designs,
  .icon--consumables {
    border-radius: 10px;
  }

  .icon--advisors {
    border-radius: 4px;
  }

  .icon--materials {
    border-radius: 3px;
    background-color: transparent;
  }
}
