@import "imports";

:host {
  display: block;
  font-size: .9rem;
  text-align: center;
  color: $theme-text;
}

a {
  color: inherit;
  border-bottom: .1rem dotted $theme-secondary;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    border-bottom-style: solid;
  }
}
