@import "imports";

:host {
  display: block;
}

.__tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -1vmin 0;
}

.__tab {
  display: flex;
  align-items: center;
  margin: 1vmin;
  width: 10rem;
  border-radius: ($border-radius / 2);
  background: $theme-text;
  color: $theme-shadow;
  opacity: .5;
  transition: .2s ease-out;
  transition-property: box-shadow, background-color, opacity;

  &:hover {
    opacity: 1;
    transition: none;
  }

  &.--active {
    background: $theme-primary;
    color: $theme-text;
    opacity: 1;
    transition: none;
  }
}

.__name {
  margin: 0 auto;
}

.__image {
  height: 3rem;
  border-radius: ($border-radius / 2);
}

// @media (max-width: 64rem) { // use later for 5 tabs
//   .__name {
//     display: none;
//   }
// }
@media (max-width: 48rem) {
  .__tab {
    width: auto;
  }
  .__name {
    display: none;
  }
}
