@import "imports";

:host {
  position: relative;
  display: block;
}

.__tabs {
  display: flex;
  justify-content: center;
  margin: -1vmin;
}

.__tab-wrapper {
  padding: 1vmin;
}

.__tab {
  display: flex;
  align-items: center;
  border-radius: ($border-radius / 2);
  background: $theme-text;
  color: $theme-shadow;
  opacity: (1/3);
  transition-property: background-color, opacity;

  &:hover {
    opacity: (2/3);
  }

  &:focus,
  &:active,
  &.--active {
    background: $theme-primary;
    color: $theme-text;
    opacity: 1;

    &:hover {
      background: $theme-primary--hover;
    }
  }
}

.__image {
  width: 3rem;
  height: 3rem;
  border-radius: ($border-radius / 2);
}

@media (max-width: 1280px) {
  .__tab-wrapper {
    flex: 0;
  }
}
