.fade-in {
  @keyframes fadeIn {
    from { opacity: .75 }
      to { opacity: 1 }
  }
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: .4s;
  animation-timing-function: ease-out;
}
