@import "~normalize.scss/normalize";
@import "~typeface-lato/index.css";
@import "imports";

* {
  box-sizing: border-box;
}

body {
  @include text-shadow();

  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: $theme-text;
}

input, button, a {
  outline: none;
  border: none;
  padding: 0;
  color: $theme-text;
  font: inherit;
}

input {
  background: rgba($theme-text, .8);
  color: $theme-shadow;
}

button {
  @include elevation(2);
  background: rgba($theme-secondary, .8);
  cursor: pointer;

  &:focus,
  &:active,
  &.--active {
    background: rgba($theme-primary, .8)y;
    @include elevation(8);
  }
}

a {
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

pre {
  margin: 0;
}

::selection {
  background: rgba($theme-secondary, .8);
  text-shadow: none;
}

// Removes the native input X buttons in Edge
::-ms-clear {
  display:none;
}
