@import "~normalize.scss/normalize";
@import "fonts";
@import "imports";

* {
  box-sizing: border-box !important;
}

body {
  @include text-shadow();

  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: $theme-text;
}

input, button, a {
  outline: none;
  border: none;
  padding: 0;
  color: inherit;
  font: inherit;
}

input {
  background: $theme-text;
  color: $theme-shadow;

  &::selection {
    background: rgba($theme-secondary, .8);
  }
}

button {
  @include elevation(4);

  background: $theme-secondary;
  transition: .2s ease-out background-color;
  cursor: pointer;

  &:hover {
    transition-duration: .1s;
    background: $theme-primary--hover;
  }

  &:focus,
  &:active,
  &.--active {
    background: $theme-primary;
    color: $theme-text;

    &:hover {
      background: $theme-primary--hover;
    }
  }
}

a {
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px dotted $theme-secondary;

  &:hover {
    text-decoration: none;
    border-bottom-style: solid;
  }
}

code {
  margin: 0 .1em;
  padding: .1em .4em;
  border-radius: .2em;
  background: rgba($theme-secondary, .8);
  font-family: inherit;
}

strong {
  font-weight: 400;
  color: #e6c953;
}

p {
  margin: 1em 0;
  width: 100%;
}

pre {
  margin: 0;
}

::selection {
  background: $theme-primary;
  color: $theme-text;
  text-shadow: none;
}

// Removes the native input X buttons in Edge
::-ms-clear {
  display:none;
}

// Remove the chrome focus background on mobile
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

summary {
  cursor: pointer;
}
