@import "../assets/bg/bg";
@import "../assets/sprites/items";
@import "../assets/sprites/materials";
@import "../assets/sprites/advisors";

@import "imports";
@import "reset";
@import "tooltip";
@import "animation";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
