@import "../assets/bg/bg";
@import "../assets/sprites/materials";
@import "../assets/sprites/items";
@import "../assets/sprites/advisors";
@import "../assets/sprites/blueprints";
// @import "../assets/sprites/designs";
// @import "../assets/sprites/consumables";

@import "imports";
@import "reset";
@import "animation";
@import "aoeo";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
