@import 'imports';

:host {
  display: block;
}

button {
  @include elevation(12);

  border: 2px solid $theme-secondary;
  background: $theme-primary;
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  transition: opacity .1s ease-out;
  opacity: 0;
  pointer-events: none;

  &.--shown {
    opacity: 1;
    pointer-events: unset;
  }
}

svg {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
