<ng-scrollbar #scrollbarRef [compact]="true" cisAwaitFont>

  <div class="__header" [style.width]="headerWidth">
    <div class="__form">
      <cis-search [scrollbarRef]="scrollbarRef"></cis-search>
      <cis-tabs></cis-tabs>
    </div>
  </div>

  <div class="__body">
    <cis-results></cis-results>
  </div>

  <div class="__footer">
    <cis-legal></cis-legal>
  </div>

</ng-scrollbar>

<cis-update></cis-update>

<cis-tooltip text="Options & Help" class="__sidebar-open">
  <cis-primary-button icon="menu" (click)="sidebar.open()" aria-label="Sidebar">
  </cis-primary-button>
</cis-tooltip>
<cis-sidebar #sidebar></cis-sidebar>

<cis-back-to-top [scrollbarRef]="scrollbarRef"></cis-back-to-top>
