@import "imports";

:host {
  width: 100%;
  height: 100%;
}

ng-scrollbar {
  width: 100%;
  height: 100%;
}

::ng-deep .main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

$spacing-calc: calc(1rem + 2.5vmin);
$spacing-viewport: 5vmin;

main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

cis-search {
  width: 100%;
  max-width: 66rem;
  padding: $spacing-viewport $spacing-viewport 0;
  margin: 0 auto;
}

cis-tabs {
  width: 100%;
  max-width: 66rem;
  padding: $spacing-calc $spacing-viewport;
  margin: 0 auto;
}

cis-results {
  flex: 1;
  width: 100%;
  max-width: 100rem;
  padding: 0 $spacing-viewport;
  margin: 0 auto;
}

cis-comparison {
  width: 100%;
  max-width: 100rem;
  padding: 0 $spacing-viewport $spacing-viewport;
  margin: 0 auto;
}

cis-legal {
  width: 100%;
  max-width: 45rem;
  padding: (2 * $spacing-viewport) $spacing-viewport $spacing-viewport;
  margin: 0 auto;
}
