@import "imports";

:host {
  position: relative;
  display: block;
}

.__sidebar {
  @include elevation(8);

  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background: $theme-text;
  color: $theme-shadow;
  text-shadow: none;
  will-change: transform;
  overflow: hidden;
}

.__buttons {
  flex: 0;
  display: flex;
  padding: .5rem;

  button {
    margin: .5rem;
    flex: 1;
    box-shadow: none;
    background: $theme-secondary;
    color: $theme-text;
    opacity: 1/3;
    transition-property: background-color, opacity;

    &:hover {
      opacity: 2/3;
    }

    &:focus,
    &:active,
    &.--active {
      background: $theme-primary;
      color: $theme-text;
      opacity: 1;

      &:hover {
        background: $theme-primary--hover;
      }
    }
  }

  .__close {
    flex: 0;
  }
}

.__content {
  flex: 1;
  padding: 1rem 3rem 1rem 2rem;
}
