@import "imports";

@include on-mobile() {
  :host {
    display: none;
  }
}

.__open {
  z-index: 1;
  position: fixed;
  top: $spacing-viewport;
  right: $spacing-viewport;
}

.__close {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
}

.__sidebar {
  @include elevation(8);

  display: block;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateX(105%);
  width: 100vw;
  max-width: 25rem;
  padding: 2rem;
  background: $theme-text;
  color: $theme-shadow;
  text-shadow: none;
  transition: ease-out .2s transform;
  will-change: transform;

  &.--open {
    transform: translateX(0%);
  }
}

.__setting {
  margin-top: 1rem;
}

.__description {
  font-weight: bold;
  display: flex;
  align-items: center;
}

cis-icon {
  width: 2em;
  height: 2em;
  margin-right: 1em;
}

input, p, .__hints {
  margin: 0;
  width: 100%;
  padding: .5em 0;
}

a {
  display: inline-block;
  padding: .5em 0;
}
