<div class="__sidebar" *ngIf="isOpen" (window:keydown.escape)="close()"
  (clickOutside)="close()" exclude=".__sidebar-open" @enterLeaveRight>

  <div class="__buttons">
    <button *ngFor="let text of ['Help', 'Settings']; index as i" type="button"
      [class.--active]="tab === i" (click)="tab = i">{{ text }}</button>

    <cis-icon-button icon="close" class="__close" (click)="close()">
    </cis-icon-button>
  </div>

  <div class="__content">
    <cis-scrollbar theme="dark">
      <div class="__hints">
        <cis-help *ngIf="tab === 0"></cis-help>
        <cis-settings *ngIf="tab === 1"></cis-settings>
      </div>
    </cis-scrollbar>
  </div>

</div>
