@import "imports";

:host {
  @include text-shadow();

  position: relative;
  display: block;
  font-weight: 400;

  &:hover {
    position: relative;
    z-index: 1;
  }
}

.icon--advisors {
  $size: 64px;
  border-radius: 4px;
  background-color: $theme-border;
  width: $size;
  height: $size;
}

.icon--materials {
  $size: 24px;
  border-radius: 3px;
  width: $size;
  height: $size;
}

.__inside {
  @include elevation(4);
  @include border();

  width: 100%;
  margin: 0 auto;
  background: $theme-shadow;
  padding: .75rem;
  font-size: 14px;
  color: white;
  opacity: .95;
}

.row {
  display: flex;
}

.row.--header {
  justify-content: space-between;
}

.row.--rarities {
  .__rarity {
    position: relative;
    background: transparent;
    margin: 0;
    padding: 0 .2rem;
    transform: translate3d(0,0,0);
    transition: .1s ease-out;
    transition-property: color;
    box-shadow: none;
    text-transform: capitalize;
    cursor: help;

    &:hover, &:active {
      transition: none;
    }
  }
}

.row.--name {
  margin: .75rem 0;
}

.__name {
  margin-left: .25rem;
  padding: .25rem;
  font-size: 18px;
  font-weight: 700;
  flex: 1;
}

.__value {
  position: relative;
  padding: 0 .25rem;

  &.--left {
    margin-right: auto;
  }

  &.--right {
    cursor: help;
    font-size: 90%;
  }
}

.row.--level {
  margin-top: 1rem;
}

.row.--vendor {
  margin-top: 1rem;
  margin-bottom: .25rem;
}

.row.--materials {
  margin-left: .5rem;
  font-size: 90%;
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-column-gap: .375rem;
  grid-row-gap: .125rem;
  align-items: center;
}

.__mat-text {
  margin-top: .125rem;
}
