@import "imports";

:host {
  display: block;
}

.icon--advisors {
  $size: 64px;
  border-radius: 4px;
  background-color: $theme-border;
  width: $size;
  height: $size;
}

.row.--rarities {
  .__rarity {
    position: relative;
    background: transparent;
    margin: 0;
    padding: 0 .2rem;
    transform: translate3d(0,0,0);
    transition: .1s ease-out;
    transition-property: color;
    box-shadow: none;
    text-transform: capitalize;

    &:hover, &:active {
      transition: none;
    }
  }
}

.row.--footer {
  margin-top: 1rem;
  justify-content: space-between;
}

.row.--level {
  margin-top: 0;
}
