.icon--advisors {
  display: block;
  background-image: url("/assets/sprites/advisors.png");
  background-repeat: no-repeat;
  background-position: -100% -100%;
  background-size: 100%;
  background-clip: padding-box;
  width: 64px;
  height: 64px;
  max-width: 100%;
  overflow: hidden;
}
.icon--advisors--06CX7odt { background-position: 0 0; }
.icon--advisors--0b7lSvLL { background-position: 0 0.245098%; }
.icon--advisors--0ItYoTru { background-position: 0 0.490196%; }
.icon--advisors--0jmtTxrZ { background-position: 0 0.735294%; }
.icon--advisors--0KNK5gco { background-position: 0 0.980392%; }
.icon--advisors--0x4a6eeC { background-position: 0 1.22549%; }
.icon--advisors--1JCZYIsV { background-position: 0 1.470588%; }
.icon--advisors--1jOrzttE { background-position: 0 1.715686%; }
.icon--advisors--1RVZXsoS { background-position: 0 1.960784%; }
.icon--advisors--2beTD8V0 { background-position: 0 2.205882%; }
.icon--advisors--2e7cyGWc { background-position: 0 2.45098%; }
.icon--advisors--2gxzjDrI { background-position: 0 2.696078%; }
.icon--advisors--2MBBLuIN { background-position: 0 2.941176%; }
.icon--advisors--2sFtRvIe { background-position: 0 3.186275%; }
.icon--advisors--2WB4V20s { background-position: 0 3.431373%; }
.icon--advisors--36nJeMYb { background-position: 0 3.676471%; }
.icon--advisors--39xL3Xx0 { background-position: 0 3.921569%; }
.icon--advisors--3BqxOtkF { background-position: 0 4.166667%; }
.icon--advisors--3Ddx1MSp { background-position: 0 4.411765%; }
.icon--advisors--3eNycyOZ { background-position: 0 4.656863%; }
.icon--advisors--3htIQlO2 { background-position: 0 4.901961%; }
.icon--advisors--3ocBYWpi { background-position: 0 5.147059%; }
.icon--advisors--3rYRIFzS { background-position: 0 5.392157%; }
.icon--advisors--3uUH18qN { background-position: 0 5.637255%; }
.icon--advisors--4C0TCz8g { background-position: 0 5.882353%; }
.icon--advisors--4inopVnA { background-position: 0 6.127451%; }
.icon--advisors--4KoCKPYE { background-position: 0 6.372549%; }
.icon--advisors--4lBBJJMg { background-position: 0 6.617647%; }
.icon--advisors--4o63yeaC { background-position: 0 6.862745%; }
.icon--advisors--5B8fm4vr { background-position: 0 7.107843%; }
.icon--advisors--5DH0mrH7 { background-position: 0 7.352941%; }
.icon--advisors--5dYMtkxe { background-position: 0 7.598039%; }
.icon--advisors--5eAQ80gI { background-position: 0 7.843137%; }
.icon--advisors--5fJHkAOO { background-position: 0 8.088235%; }
.icon--advisors--5hNN1BL3 { background-position: 0 8.333333%; }
.icon--advisors--5IHYXJAN { background-position: 0 8.578431%; }
.icon--advisors--5l1NcuGv { background-position: 0 8.823529%; }
.icon--advisors--5ronNKpB { background-position: 0 9.068627%; }
.icon--advisors--5YotKTdR { background-position: 0 9.313725%; }
.icon--advisors--5z2mMMJv { background-position: 0 9.558824%; }
.icon--advisors--6Ck454nZ { background-position: 0 9.803922%; }
.icon--advisors--6lIlklXs { background-position: 0 10.04902%; }
.icon--advisors--6so56p6B { background-position: 0 10.294118%; }
.icon--advisors--6TNlRmiO { background-position: 0 10.539216%; }
.icon--advisors--71fGZcYS { background-position: 0 10.784314%; }
.icon--advisors--75N982EP { background-position: 0 11.029412%; }
.icon--advisors--77aJWKzH { background-position: 0 11.27451%; }
.icon--advisors--7bQ8wG3f { background-position: 0 11.519608%; }
.icon--advisors--7hR1dGHb { background-position: 0 11.764706%; }
.icon--advisors--7iFJOaWi { background-position: 0 12.009804%; }
.icon--advisors--7knOKHfl { background-position: 0 12.254902%; }
.icon--advisors--7mDu9tJM { background-position: 0 12.5%; }
.icon--advisors--7nRzmtRF { background-position: 0 12.745098%; }
.icon--advisors--7qDLgmYH { background-position: 0 12.990196%; }
.icon--advisors--7qIiZqW4 { background-position: 0 13.235294%; }
.icon--advisors--878FAaWZ { background-position: 0 13.480392%; }
.icon--advisors--87gD7pbp { background-position: 0 13.72549%; }
.icon--advisors--891gW6hz { background-position: 0 13.970588%; }
.icon--advisors--8fZVxiuC { background-position: 0 14.215686%; }
.icon--advisors--8ImgijLG { background-position: 0 14.460784%; }
.icon--advisors--8iTXpUpv { background-position: 0 14.705882%; }
.icon--advisors--8uZDdKsU { background-position: 0 14.95098%; }
.icon--advisors--8Z4TEeRe { background-position: 0 15.196078%; }
.icon--advisors--924KpKTC { background-position: 0 15.441176%; }
.icon--advisors--92hC7Qep { background-position: 0 15.686275%; }
.icon--advisors--9CtsSjwO { background-position: 0 15.931373%; }
.icon--advisors--9NIsa2UC { background-position: 0 16.176471%; }
.icon--advisors--9pLaQBuo { background-position: 0 16.421569%; }
.icon--advisors--9RVkBYOe { background-position: 0 16.666667%; }
.icon--advisors--9sILOquM { background-position: 0 16.911765%; }
.icon--advisors--9w2VpXZp { background-position: 0 17.156863%; }
.icon--advisors--a1NcvqM7 { background-position: 0 17.401961%; }
.icon--advisors--A1RfyYog { background-position: 0 17.647059%; }
.icon--advisors--a8jSRujO { background-position: 0 17.892157%; }
.icon--advisors--ac7Ayxk6 { background-position: 0 18.137255%; }
.icon--advisors--AEXoU3Cd { background-position: 0 18.382353%; }
.icon--advisors--Af9uhlB7 { background-position: 0 18.627451%; }
.icon--advisors--AfFNvPZ0 { background-position: 0 18.872549%; }
.icon--advisors--ahnIET4p { background-position: 0 19.117647%; }
.icon--advisors--aJnAvqCP { background-position: 0 19.362745%; }
.icon--advisors--AL5eTDSe { background-position: 0 19.607843%; }
.icon--advisors--alYxA6gW { background-position: 0 19.852941%; }
.icon--advisors--AOB7vo1F { background-position: 0 20.098039%; }
.icon--advisors--ap0Tbn5L { background-position: 0 20.343137%; }
.icon--advisors--aYzIl6EE { background-position: 0 20.588235%; }
.icon--advisors--AZiCCm8z { background-position: 0 20.833333%; }
.icon--advisors--aZsGco35 { background-position: 0 21.078431%; }
.icon--advisors--b9o6YUPO { background-position: 0 21.323529%; }
.icon--advisors--Bc3Iiq5t { background-position: 0 21.568627%; }
.icon--advisors--biTlbnVD { background-position: 0 21.813725%; }
.icon--advisors--bkGzCr3Z { background-position: 0 22.058824%; }
.icon--advisors--BnpWoJmO { background-position: 0 22.303922%; }
.icon--advisors--Bo7oQaxO { background-position: 0 22.54902%; }
.icon--advisors--BPebT9Rc { background-position: 0 22.794118%; }
.icon--advisors--BrXVYfSR { background-position: 0 23.039216%; }
.icon--advisors--bvGqXOi5 { background-position: 0 23.284314%; }
.icon--advisors--BWb2dEuR { background-position: 0 23.529412%; }
.icon--advisors--BWslba72 { background-position: 0 23.77451%; }
.icon--advisors--c0yTzFLy { background-position: 0 24.019608%; }
.icon--advisors--c2b8mPlo { background-position: 0 24.264706%; }
.icon--advisors--C4Llr4Ul { background-position: 0 24.509804%; }
.icon--advisors--C9eejP76 { background-position: 0 24.754902%; }
.icon--advisors--CbhgQDgx { background-position: 0 25%; }
.icon--advisors--CEjiGFK1 { background-position: 0 25.245098%; }
.icon--advisors--cembpOe3 { background-position: 0 25.490196%; }
.icon--advisors--cEUfEbI1 { background-position: 0 25.735294%; }
.icon--advisors--cJ6RZ30b { background-position: 0 25.980392%; }
.icon--advisors--CrqoJxVh { background-position: 0 26.22549%; }
.icon--advisors--CSV69AA0 { background-position: 0 26.470588%; }
.icon--advisors--CvNIAOCd { background-position: 0 26.715686%; }
.icon--advisors--cxQ1b7Z5 { background-position: 0 26.960784%; }
.icon--advisors--CxsWN9Z6 { background-position: 0 27.205882%; }
.icon--advisors--cxvnr6MO { background-position: 0 27.45098%; }
.icon--advisors--czjjzudl { background-position: 0 27.696078%; }
.icon--advisors--d3PwO02l { background-position: 0 27.941176%; }
.icon--advisors--DBF9Zp45 { background-position: 0 28.186275%; }
.icon--advisors--dcmj5xhl { background-position: 0 28.431373%; }
.icon--advisors--dGKGoFqG { background-position: 0 28.676471%; }
.icon--advisors--DjGDu07a { background-position: 0 28.921569%; }
.icon--advisors--dJJwPlWb { background-position: 0 29.166667%; }
.icon--advisors--DN1rzeP3 { background-position: 0 29.411765%; }
.icon--advisors--dnLb7zit { background-position: 0 29.656863%; }
.icon--advisors--DnzlYLwy { background-position: 0 29.901961%; }
.icon--advisors--DPt4vSMW { background-position: 0 30.147059%; }
.icon--advisors--dsJZB8K2 { background-position: 0 30.392157%; }
.icon--advisors--DsOHKTbf { background-position: 0 30.637255%; }
.icon--advisors--dvM80tGq { background-position: 0 30.882353%; }
.icon--advisors--Dw6c3kg8 { background-position: 0 31.127451%; }
.icon--advisors--E1139xXW { background-position: 0 31.372549%; }
.icon--advisors--E1Mqvisn { background-position: 0 31.617647%; }
.icon--advisors--E5ejkt4i { background-position: 0 31.862745%; }
.icon--advisors--EAU8VLWj { background-position: 0 32.107843%; }
.icon--advisors--EBXK9yKT { background-position: 0 32.352941%; }
.icon--advisors--EgAkHULb { background-position: 0 32.598039%; }
.icon--advisors--eGwEt6SC { background-position: 0 32.843137%; }
.icon--advisors--ehHuFuQq { background-position: 0 33.088235%; }
.icon--advisors--Ej4HzIHJ { background-position: 0 33.333333%; }
.icon--advisors--Ek43vvZd { background-position: 0 33.578431%; }
.icon--advisors--eKBF7xW6 { background-position: 0 33.823529%; }
.icon--advisors--eMH0FFsV { background-position: 0 34.068627%; }
.icon--advisors--en7xHF6Z { background-position: 0 34.313725%; }
.icon--advisors--EQ2afXGp { background-position: 0 34.558824%; }
.icon--advisors--ERWEuitb { background-position: 0 34.803922%; }
.icon--advisors--euynSbAq { background-position: 0 35.04902%; }
.icon--advisors--ewa6mrq2 { background-position: 0 35.294118%; }
.icon--advisors--EXBaVmsc { background-position: 0 35.539216%; }
.icon--advisors--f1S8iNqO { background-position: 0 35.784314%; }
.icon--advisors--F334ZWYM { background-position: 0 36.029412%; }
.icon--advisors--f89E4iUd { background-position: 0 36.27451%; }
.icon--advisors--FAkHXwXr { background-position: 0 36.519608%; }
.icon--advisors--FfOndV1I { background-position: 0 36.764706%; }
.icon--advisors--fHw9JOzh { background-position: 0 37.009804%; }
.icon--advisors--fJ3I24En { background-position: 0 37.254902%; }
.icon--advisors--FjeQdLK4 { background-position: 0 37.5%; }
.icon--advisors--fKB8LQYo { background-position: 0 37.745098%; }
.icon--advisors--FlAQqAEB { background-position: 0 37.990196%; }
.icon--advisors--fqb2YgQ1 { background-position: 0 38.235294%; }
.icon--advisors--fR0P2jPB { background-position: 0 38.480392%; }
.icon--advisors--fVJhGaAT { background-position: 0 38.72549%; }
.icon--advisors--fXuaXBuG { background-position: 0 38.970588%; }
.icon--advisors--g8esINDH { background-position: 0 39.215686%; }
.icon--advisors--gBxfsOB6 { background-position: 0 39.460784%; }
.icon--advisors--gLlJYRcJ { background-position: 0 39.705882%; }
.icon--advisors--Gq2H0d9O { background-position: 0 39.95098%; }
.icon--advisors--GR1T8c1y { background-position: 0 40.196078%; }
.icon--advisors--gvnLupxC { background-position: 0 40.441176%; }
.icon--advisors--GwBx9oMW { background-position: 0 40.686275%; }
.icon--advisors--H12xVAA8 { background-position: 0 40.931373%; }
.icon--advisors--H37TrRIk { background-position: 0 41.176471%; }
.icon--advisors--h38w0wV9 { background-position: 0 41.421569%; }
.icon--advisors--h6GpwgmR { background-position: 0 41.666667%; }
.icon--advisors--h6Pl1Wgq { background-position: 0 41.911765%; }
.icon--advisors--HBwkSbX8 { background-position: 0 42.156863%; }
.icon--advisors--HBxKKzKV { background-position: 0 42.401961%; }
.icon--advisors--HDg3I2Gg { background-position: 0 42.647059%; }
.icon--advisors--hk8s4nyQ { background-position: 0 42.892157%; }
.icon--advisors--HLTcAgJn { background-position: 0 43.137255%; }
.icon--advisors--hnc0AdrE { background-position: 0 43.382353%; }
.icon--advisors--hR2ZIP9i { background-position: 0 43.627451%; }
.icon--advisors--HROqUS9H { background-position: 0 43.872549%; }
.icon--advisors--HuYnY2s0 { background-position: 0 44.117647%; }
.icon--advisors--HvfpSPOp { background-position: 0 44.362745%; }
.icon--advisors--I0JFrtPC { background-position: 0 44.607843%; }
.icon--advisors--IBTXP67Y { background-position: 0 44.852941%; }
.icon--advisors--iCLm7v76 { background-position: 0 45.098039%; }
.icon--advisors--IEAGsu1a { background-position: 0 45.343137%; }
.icon--advisors--imZjlT77 { background-position: 0 45.588235%; }
.icon--advisors--Inyj1YHg { background-position: 0 45.833333%; }
.icon--advisors--iQD3L7DI { background-position: 0 46.078431%; }
.icon--advisors--IufRNoqj { background-position: 0 46.323529%; }
.icon--advisors--iWa9wSqN { background-position: 0 46.568627%; }
.icon--advisors--iY1Sf5xj { background-position: 0 46.813725%; }
.icon--advisors--J1JlrEFh { background-position: 0 47.058824%; }
.icon--advisors--j601i7xG { background-position: 0 47.303922%; }
.icon--advisors--jb6mSfG9 { background-position: 0 47.54902%; }
.icon--advisors--JcNJwezo { background-position: 0 47.794118%; }
.icon--advisors--JdwjJkNH { background-position: 0 48.039216%; }
.icon--advisors--jh8wiXhP { background-position: 0 48.284314%; }
.icon--advisors--JIlIfEzj { background-position: 0 48.529412%; }
.icon--advisors--JjE3UeKh { background-position: 0 48.77451%; }
.icon--advisors--JjsVaBIa { background-position: 0 49.019608%; }
.icon--advisors--jkhzduHu { background-position: 0 49.264706%; }
.icon--advisors--JmMfotQR { background-position: 0 49.509804%; }
.icon--advisors--jqUgDC6h { background-position: 0 49.754902%; }
.icon--advisors--JT6I4Apo { background-position: 0 50%; }
.icon--advisors--JtToxY9x { background-position: 0 50.245098%; }
.icon--advisors--juI7ZhZC { background-position: 0 50.490196%; }
.icon--advisors--jUXi4wk1 { background-position: 0 50.735294%; }
.icon--advisors--jWzZ5p5r { background-position: 0 50.980392%; }
.icon--advisors--Jyr3Fcdt { background-position: 0 51.22549%; }
.icon--advisors--k2ei3WVS { background-position: 0 51.470588%; }
.icon--advisors--K3cIcepj { background-position: 0 51.715686%; }
.icon--advisors--K3jgbjfE { background-position: 0 51.960784%; }
.icon--advisors--kBW435T5 { background-position: 0 52.205882%; }
.icon--advisors--KE0AsMEn { background-position: 0 52.45098%; }
.icon--advisors--KEOT2TXA { background-position: 0 52.696078%; }
.icon--advisors--Kfp3NENB { background-position: 0 52.941176%; }
.icon--advisors--kGYdGxLu { background-position: 0 53.186275%; }
.icon--advisors--kGzxNAIZ { background-position: 0 53.431373%; }
.icon--advisors--kILx4gjX { background-position: 0 53.676471%; }
.icon--advisors--kmc5iJHC { background-position: 0 53.921569%; }
.icon--advisors--KQG6iQiE { background-position: 0 54.166667%; }
.icon--advisors--KrR8ZKej { background-position: 0 54.411765%; }
.icon--advisors--Kt2NlO7w { background-position: 0 54.656863%; }
.icon--advisors--kXNxiFV1 { background-position: 0 54.901961%; }
.icon--advisors--kygYt8wd { background-position: 0 55.147059%; }
.icon--advisors--kzycu6DA { background-position: 0 55.392157%; }
.icon--advisors--L9Fi9jUW { background-position: 0 55.637255%; }
.icon--advisors--LG3r3BjK { background-position: 0 55.882353%; }
.icon--advisors--LGF8Yfjy { background-position: 0 56.127451%; }
.icon--advisors--lgRTVFdo { background-position: 0 56.372549%; }
.icon--advisors--lK8EhEN3 { background-position: 0 56.617647%; }
.icon--advisors--LKWFmR6R { background-position: 0 56.862745%; }
.icon--advisors--lMmWMzS4 { background-position: 0 57.107843%; }
.icon--advisors--LNenI6GC { background-position: 0 57.352941%; }
.icon--advisors--lqZuLEW8 { background-position: 0 57.598039%; }
.icon--advisors--lvuJ38xZ { background-position: 0 57.843137%; }
.icon--advisors--LyTdy3GY { background-position: 0 58.088235%; }
.icon--advisors--m18O9epm { background-position: 0 58.333333%; }
.icon--advisors--m3NEkInN { background-position: 0 58.578431%; }
.icon--advisors--M7PFw0gF { background-position: 0 58.823529%; }
.icon--advisors--MfnhCDuM { background-position: 0 59.068627%; }
.icon--advisors--MHigAPZ0 { background-position: 0 59.313725%; }
.icon--advisors--mjVPw5xq { background-position: 0 59.558824%; }
.icon--advisors--MlT9EpYE { background-position: 0 59.803922%; }
.icon--advisors--MmMw0Jxs { background-position: 0 60.04902%; }
.icon--advisors--MPo8MCvA { background-position: 0 60.294118%; }
.icon--advisors--MQ2XN9Ef { background-position: 0 60.539216%; }
.icon--advisors--mu3q2k2K { background-position: 0 60.784314%; }
.icon--advisors--N0OZ0DPf { background-position: 0 61.029412%; }
.icon--advisors--N3Vn12FW { background-position: 0 61.27451%; }
.icon--advisors--N4VlChJt { background-position: 0 61.519608%; }
.icon--advisors--NEkP15cq { background-position: 0 61.764706%; }
.icon--advisors--NfF4h9OG { background-position: 0 62.009804%; }
.icon--advisors--NgyThKjO { background-position: 0 62.254902%; }
.icon--advisors--nhfRmNT1 { background-position: 0 62.5%; }
.icon--advisors--NI8hRWbS { background-position: 0 62.745098%; }
.icon--advisors--nQ7SQsOV { background-position: 0 62.990196%; }
.icon--advisors--NQStSIUX { background-position: 0 63.235294%; }
.icon--advisors--NTJZEELB { background-position: 0 63.480392%; }
.icon--advisors--nX3zv9d9 { background-position: 0 63.72549%; }
.icon--advisors--nXn0P8gx { background-position: 0 63.970588%; }
.icon--advisors--nZ2Apvig { background-position: 0 64.215686%; }
.icon--advisors--nzqN2UXR { background-position: 0 64.460784%; }
.icon--advisors--o2fEmnT7 { background-position: 0 64.705882%; }
.icon--advisors--O5QLcojq { background-position: 0 64.95098%; }
.icon--advisors--O5zVlhoY { background-position: 0 65.196078%; }
.icon--advisors--OC88nO7p { background-position: 0 65.441176%; }
.icon--advisors--occE7EjZ { background-position: 0 65.686275%; }
.icon--advisors--oEbrUusV { background-position: 0 65.931373%; }
.icon--advisors--OlNbY0yA { background-position: 0 66.176471%; }
.icon--advisors--Or9VD4AN { background-position: 0 66.421569%; }
.icon--advisors--OsQ41mPy { background-position: 0 66.666667%; }
.icon--advisors--Ot9AEPYv { background-position: 0 66.911765%; }
.icon--advisors--OUAGSL25 { background-position: 0 67.156863%; }
.icon--advisors--oVQF4eKQ { background-position: 0 67.401961%; }
.icon--advisors--oW2m9Zme { background-position: 0 67.647059%; }
.icon--advisors--oWCpki3E { background-position: 0 67.892157%; }
.icon--advisors--owNCVB2N { background-position: 0 68.137255%; }
.icon--advisors--p26ZftEV { background-position: 0 68.382353%; }
.icon--advisors--P4lBNL6G { background-position: 0 68.627451%; }
.icon--advisors--p9ZDvk2J { background-position: 0 68.872549%; }
.icon--advisors--PbxVW2nW { background-position: 0 69.117647%; }
.icon--advisors--pDsoXRq5 { background-position: 0 69.362745%; }
.icon--advisors--pDZiyv9u { background-position: 0 69.607843%; }
.icon--advisors--Pezpub1x { background-position: 0 69.852941%; }
.icon--advisors--pF6s7CN6 { background-position: 0 70.098039%; }
.icon--advisors--PKuS1WFC { background-position: 0 70.343137%; }
.icon--advisors--pM0Acb21 { background-position: 0 70.588235%; }
.icon--advisors--pMGRpJ92 { background-position: 0 70.833333%; }
.icon--advisors--pMnIMFl0 { background-position: 0 71.078431%; }
.icon--advisors--PmZBR5AZ { background-position: 0 71.323529%; }
.icon--advisors--pnfOIFWa { background-position: 0 71.568627%; }
.icon--advisors--pr4LL69y { background-position: 0 71.813725%; }
.icon--advisors--pSQ5TCss { background-position: 0 72.058824%; }
.icon--advisors--ptRRIyDQ { background-position: 0 72.303922%; }
.icon--advisors--pWTCx4Zf { background-position: 0 72.54902%; }
.icon--advisors--q0KE6RtR { background-position: 0 72.794118%; }
.icon--advisors--Q7e83X2o { background-position: 0 73.039216%; }
.icon--advisors--QatsehwE { background-position: 0 73.284314%; }
.icon--advisors--Qd1b8UVP { background-position: 0 73.529412%; }
.icon--advisors--qJl3AQ1I { background-position: 0 73.77451%; }
.icon--advisors--QMY3JkQI { background-position: 0 74.019608%; }
.icon--advisors--qnJAe6JQ { background-position: 0 74.264706%; }
.icon--advisors--QTRkDxgR { background-position: 0 74.509804%; }
.icon--advisors--qylbUGBb { background-position: 0 74.754902%; }
.icon--advisors--r1YzL6IT { background-position: 0 75%; }
.icon--advisors--r2wCnkT0 { background-position: 0 75.245098%; }
.icon--advisors--R5HvyagE { background-position: 0 75.490196%; }
.icon--advisors--rAAELFhK { background-position: 0 75.735294%; }
.icon--advisors--RcDcn4K3 { background-position: 0 75.980392%; }
.icon--advisors--rDTeulql { background-position: 0 76.22549%; }
.icon--advisors--rDXVAV7q { background-position: 0 76.470588%; }
.icon--advisors--rgxZJGEx { background-position: 0 76.715686%; }
.icon--advisors--rNUxPipI { background-position: 0 76.960784%; }
.icon--advisors--rpJQfiPt { background-position: 0 77.205882%; }
.icon--advisors--RQLclEOV { background-position: 0 77.45098%; }
.icon--advisors--RRFCms8N { background-position: 0 77.696078%; }
.icon--advisors--rSHY9rGn { background-position: 0 77.941176%; }
.icon--advisors--rwrwiUKE { background-position: 0 78.186275%; }
.icon--advisors--S6m4SpZi { background-position: 0 78.431373%; }
.icon--advisors--s82nfgNN { background-position: 0 78.676471%; }
.icon--advisors--sdBghkte { background-position: 0 78.921569%; }
.icon--advisors--Sf9KLUMM { background-position: 0 79.166667%; }
.icon--advisors--SI1WSvo9 { background-position: 0 79.411765%; }
.icon--advisors--SMyepqW6 { background-position: 0 79.656863%; }
.icon--advisors--sTX1zpLx { background-position: 0 79.901961%; }
.icon--advisors--SzQ1tPE0 { background-position: 0 80.147059%; }
.icon--advisors--t77VEYZx { background-position: 0 80.392157%; }
.icon--advisors--t7fBbceU { background-position: 0 80.637255%; }
.icon--advisors--tAR4G9LQ { background-position: 0 80.882353%; }
.icon--advisors--tfsFV2LU { background-position: 0 81.127451%; }
.icon--advisors--tMDlejtT { background-position: 0 81.372549%; }
.icon--advisors--TodlLIKC { background-position: 0 81.617647%; }
.icon--advisors--tOdZ7YTM { background-position: 0 81.862745%; }
.icon--advisors--ToHd3EUu { background-position: 0 82.107843%; }
.icon--advisors--TpYIKYnL { background-position: 0 82.352941%; }
.icon--advisors--tq2grS9Z { background-position: 0 82.598039%; }
.icon--advisors--trUNq5hw { background-position: 0 82.843137%; }
.icon--advisors--TwoAZgHb { background-position: 0 83.088235%; }
.icon--advisors--tXj7zXjG { background-position: 0 83.333333%; }
.icon--advisors--tzcMHDJR { background-position: 0 83.578431%; }
.icon--advisors--u2uXoZgk { background-position: 0 83.823529%; }
.icon--advisors--UADtZUrs { background-position: 0 84.068627%; }
.icon--advisors--UAEdAJnB { background-position: 0 84.313725%; }
.icon--advisors--UAeEEcoo { background-position: 0 84.558824%; }
.icon--advisors--UEEV4O5n { background-position: 0 84.803922%; }
.icon--advisors--uMec8t2M { background-position: 0 85.04902%; }
.icon--advisors--unt3DU8T { background-position: 0 85.294118%; }
.icon--advisors--UOANs3Sz { background-position: 0 85.539216%; }
.icon--advisors--UQKZd4le { background-position: 0 85.784314%; }
.icon--advisors--vBh32Y7R { background-position: 0 86.029412%; }
.icon--advisors--VBUxZsFC { background-position: 0 86.27451%; }
.icon--advisors--vDRpvQZY { background-position: 0 86.519608%; }
.icon--advisors--VEUlenbh { background-position: 0 86.764706%; }
.icon--advisors--VgnI2Imc { background-position: 0 87.009804%; }
.icon--advisors--VHfMCgPv { background-position: 0 87.254902%; }
.icon--advisors--VnbKIUGL { background-position: 0 87.5%; }
.icon--advisors--vonHhLwW { background-position: 0 87.745098%; }
.icon--advisors--VpD1LTCo { background-position: 0 87.990196%; }
.icon--advisors--VQPXbqzt { background-position: 0 88.235294%; }
.icon--advisors--VSHKlCrt { background-position: 0 88.480392%; }
.icon--advisors--VtujFBY8 { background-position: 0 88.72549%; }
.icon--advisors--vUY2YlED { background-position: 0 88.970588%; }
.icon--advisors--vVv2npks { background-position: 0 89.215686%; }
.icon--advisors--VwW0sRmK { background-position: 0 89.460784%; }
.icon--advisors--Vz07htIo { background-position: 0 89.705882%; }
.icon--advisors--w1XLMZ7Q { background-position: 0 89.95098%; }
.icon--advisors--w6TOQ1J8 { background-position: 0 90.196078%; }
.icon--advisors--wfATZnRG { background-position: 0 90.441176%; }
.icon--advisors--WfIMDWVw { background-position: 0 90.686275%; }
.icon--advisors--WFiPSJm8 { background-position: 0 90.931373%; }
.icon--advisors--wgkazoAE { background-position: 0 91.176471%; }
.icon--advisors--wOH7dYzm { background-position: 0 91.421569%; }
.icon--advisors--wSLeyXAp { background-position: 0 91.666667%; }
.icon--advisors--wTkepKuu { background-position: 0 91.911765%; }
.icon--advisors--wvKaZho2 { background-position: 0 92.156863%; }
.icon--advisors--X3TE0dGc { background-position: 0 92.401961%; }
.icon--advisors--x3wHdfjh { background-position: 0 92.647059%; }
.icon--advisors--X3x6urcK { background-position: 0 92.892157%; }
.icon--advisors--X6pk3ZrR { background-position: 0 93.137255%; }
.icon--advisors--XaPIJenV { background-position: 0 93.382353%; }
.icon--advisors--xBkcFykJ { background-position: 0 93.627451%; }
.icon--advisors--XdRrG2wg { background-position: 0 93.872549%; }
.icon--advisors--xfON36iX { background-position: 0 94.117647%; }
.icon--advisors--Xg7jWzlY { background-position: 0 94.362745%; }
.icon--advisors--xryyghEl { background-position: 0 94.607843%; }
.icon--advisors--XsL8TVpY { background-position: 0 94.852941%; }
.icon--advisors--XyhDBTdn { background-position: 0 95.098039%; }
.icon--advisors--XzfCAxAj { background-position: 0 95.343137%; }
.icon--advisors--y1NdGjZ0 { background-position: 0 95.588235%; }
.icon--advisors--ycmH85Jo { background-position: 0 95.833333%; }
.icon--advisors--ymFERxOv { background-position: 0 96.078431%; }
.icon--advisors--YpbePQla { background-position: 0 96.323529%; }
.icon--advisors--yQMsupue { background-position: 0 96.568627%; }
.icon--advisors--yril32X6 { background-position: 0 96.813725%; }
.icon--advisors--ySoFcM6g { background-position: 0 97.058824%; }
.icon--advisors--Yxi769cn { background-position: 0 97.303922%; }
.icon--advisors--YYEU3p6r { background-position: 0 97.54902%; }
.icon--advisors--YzG5UWMd { background-position: 0 97.794118%; }
.icon--advisors--Z472CCIb { background-position: 0 98.039216%; }
.icon--advisors--Z4SPAtGd { background-position: 0 98.284314%; }
.icon--advisors--Z5NFGH86 { background-position: 0 98.529412%; }
.icon--advisors--Z6oMMoZU { background-position: 0 98.77451%; }
.icon--advisors--zNP9iUhF { background-position: 0 99.019608%; }
.icon--advisors--ZoZlQ5or { background-position: 0 99.264706%; }
.icon--advisors--ZReomIb0 { background-position: 0 99.509804%; }
.icon--advisors--zSSDmOfQ { background-position: 0 99.754902%; }
.icon--advisors--zSsl8uVp { background-position: 0 100%; }
