.icon--advisors {
  display: block;
  background-image: url("/assets/sprites/advisors.png");
  background-repeat: no-repeat;
  background-position: -100% -100%;
  background-size: 100%;
  max-width: 100%;
  overflow: hidden;
}
.icon--advisors--0   { background-position: 0 0; }
.icon--advisors--1   { background-position: 0 0.245098%; }
.icon--advisors--10  { background-position: 0 0.490196%; }
.icon--advisors--100 { background-position: 0 0.735294%; }
.icon--advisors--101 { background-position: 0 0.980392%; }
.icon--advisors--102 { background-position: 0 1.22549%; }
.icon--advisors--103 { background-position: 0 1.470588%; }
.icon--advisors--104 { background-position: 0 1.715686%; }
.icon--advisors--105 { background-position: 0 1.960784%; }
.icon--advisors--106 { background-position: 0 2.205882%; }
.icon--advisors--107 { background-position: 0 2.45098%; }
.icon--advisors--108 { background-position: 0 2.696078%; }
.icon--advisors--109 { background-position: 0 2.941176%; }
.icon--advisors--11  { background-position: 0 3.186275%; }
.icon--advisors--110 { background-position: 0 3.431373%; }
.icon--advisors--111 { background-position: 0 3.676471%; }
.icon--advisors--112 { background-position: 0 3.921569%; }
.icon--advisors--113 { background-position: 0 4.166667%; }
.icon--advisors--114 { background-position: 0 4.411765%; }
.icon--advisors--115 { background-position: 0 4.656863%; }
.icon--advisors--116 { background-position: 0 4.901961%; }
.icon--advisors--117 { background-position: 0 5.147059%; }
.icon--advisors--118 { background-position: 0 5.392157%; }
.icon--advisors--119 { background-position: 0 5.637255%; }
.icon--advisors--12  { background-position: 0 5.882353%; }
.icon--advisors--120 { background-position: 0 6.127451%; }
.icon--advisors--121 { background-position: 0 6.372549%; }
.icon--advisors--122 { background-position: 0 6.617647%; }
.icon--advisors--123 { background-position: 0 6.862745%; }
.icon--advisors--124 { background-position: 0 7.107843%; }
.icon--advisors--125 { background-position: 0 7.352941%; }
.icon--advisors--126 { background-position: 0 7.598039%; }
.icon--advisors--127 { background-position: 0 7.843137%; }
.icon--advisors--128 { background-position: 0 8.088235%; }
.icon--advisors--129 { background-position: 0 8.333333%; }
.icon--advisors--13  { background-position: 0 8.578431%; }
.icon--advisors--130 { background-position: 0 8.823529%; }
.icon--advisors--131 { background-position: 0 9.068627%; }
.icon--advisors--132 { background-position: 0 9.313725%; }
.icon--advisors--133 { background-position: 0 9.558824%; }
.icon--advisors--134 { background-position: 0 9.803922%; }
.icon--advisors--135 { background-position: 0 10.04902%; }
.icon--advisors--136 { background-position: 0 10.294118%; }
.icon--advisors--137 { background-position: 0 10.539216%; }
.icon--advisors--138 { background-position: 0 10.784314%; }
.icon--advisors--139 { background-position: 0 11.029412%; }
.icon--advisors--14  { background-position: 0 11.27451%; }
.icon--advisors--140 { background-position: 0 11.519608%; }
.icon--advisors--141 { background-position: 0 11.764706%; }
.icon--advisors--142 { background-position: 0 12.009804%; }
.icon--advisors--143 { background-position: 0 12.254902%; }
.icon--advisors--144 { background-position: 0 12.5%; }
.icon--advisors--145 { background-position: 0 12.745098%; }
.icon--advisors--146 { background-position: 0 12.990196%; }
.icon--advisors--147 { background-position: 0 13.235294%; }
.icon--advisors--148 { background-position: 0 13.480392%; }
.icon--advisors--149 { background-position: 0 13.72549%; }
.icon--advisors--15  { background-position: 0 13.970588%; }
.icon--advisors--150 { background-position: 0 14.215686%; }
.icon--advisors--151 { background-position: 0 14.460784%; }
.icon--advisors--152 { background-position: 0 14.705882%; }
.icon--advisors--153 { background-position: 0 14.95098%; }
.icon--advisors--154 { background-position: 0 15.196078%; }
.icon--advisors--155 { background-position: 0 15.441176%; }
.icon--advisors--156 { background-position: 0 15.686275%; }
.icon--advisors--157 { background-position: 0 15.931373%; }
.icon--advisors--158 { background-position: 0 16.176471%; }
.icon--advisors--159 { background-position: 0 16.421569%; }
.icon--advisors--16  { background-position: 0 16.666667%; }
.icon--advisors--160 { background-position: 0 16.911765%; }
.icon--advisors--161 { background-position: 0 17.156863%; }
.icon--advisors--162 { background-position: 0 17.401961%; }
.icon--advisors--163 { background-position: 0 17.647059%; }
.icon--advisors--164 { background-position: 0 17.892157%; }
.icon--advisors--165 { background-position: 0 18.137255%; }
.icon--advisors--166 { background-position: 0 18.382353%; }
.icon--advisors--167 { background-position: 0 18.627451%; }
.icon--advisors--168 { background-position: 0 18.872549%; }
.icon--advisors--169 { background-position: 0 19.117647%; }
.icon--advisors--17  { background-position: 0 19.362745%; }
.icon--advisors--170 { background-position: 0 19.607843%; }
.icon--advisors--171 { background-position: 0 19.852941%; }
.icon--advisors--172 { background-position: 0 20.098039%; }
.icon--advisors--173 { background-position: 0 20.343137%; }
.icon--advisors--174 { background-position: 0 20.588235%; }
.icon--advisors--175 { background-position: 0 20.833333%; }
.icon--advisors--176 { background-position: 0 21.078431%; }
.icon--advisors--177 { background-position: 0 21.323529%; }
.icon--advisors--178 { background-position: 0 21.568627%; }
.icon--advisors--179 { background-position: 0 21.813725%; }
.icon--advisors--18  { background-position: 0 22.058824%; }
.icon--advisors--180 { background-position: 0 22.303922%; }
.icon--advisors--181 { background-position: 0 22.54902%; }
.icon--advisors--182 { background-position: 0 22.794118%; }
.icon--advisors--183 { background-position: 0 23.039216%; }
.icon--advisors--184 { background-position: 0 23.284314%; }
.icon--advisors--185 { background-position: 0 23.529412%; }
.icon--advisors--186 { background-position: 0 23.77451%; }
.icon--advisors--187 { background-position: 0 24.019608%; }
.icon--advisors--188 { background-position: 0 24.264706%; }
.icon--advisors--189 { background-position: 0 24.509804%; }
.icon--advisors--19  { background-position: 0 24.754902%; }
.icon--advisors--190 { background-position: 0 25%; }
.icon--advisors--191 { background-position: 0 25.245098%; }
.icon--advisors--192 { background-position: 0 25.490196%; }
.icon--advisors--193 { background-position: 0 25.735294%; }
.icon--advisors--194 { background-position: 0 25.980392%; }
.icon--advisors--195 { background-position: 0 26.22549%; }
.icon--advisors--196 { background-position: 0 26.470588%; }
.icon--advisors--197 { background-position: 0 26.715686%; }
.icon--advisors--198 { background-position: 0 26.960784%; }
.icon--advisors--199 { background-position: 0 27.205882%; }
.icon--advisors--2   { background-position: 0 27.45098%; }
.icon--advisors--20  { background-position: 0 27.696078%; }
.icon--advisors--200 { background-position: 0 27.941176%; }
.icon--advisors--201 { background-position: 0 28.186275%; }
.icon--advisors--202 { background-position: 0 28.431373%; }
.icon--advisors--203 { background-position: 0 28.676471%; }
.icon--advisors--204 { background-position: 0 28.921569%; }
.icon--advisors--205 { background-position: 0 29.166667%; }
.icon--advisors--206 { background-position: 0 29.411765%; }
.icon--advisors--207 { background-position: 0 29.656863%; }
.icon--advisors--208 { background-position: 0 29.901961%; }
.icon--advisors--209 { background-position: 0 30.147059%; }
.icon--advisors--21  { background-position: 0 30.392157%; }
.icon--advisors--210 { background-position: 0 30.637255%; }
.icon--advisors--211 { background-position: 0 30.882353%; }
.icon--advisors--212 { background-position: 0 31.127451%; }
.icon--advisors--213 { background-position: 0 31.372549%; }
.icon--advisors--214 { background-position: 0 31.617647%; }
.icon--advisors--215 { background-position: 0 31.862745%; }
.icon--advisors--216 { background-position: 0 32.107843%; }
.icon--advisors--217 { background-position: 0 32.352941%; }
.icon--advisors--218 { background-position: 0 32.598039%; }
.icon--advisors--219 { background-position: 0 32.843137%; }
.icon--advisors--22  { background-position: 0 33.088235%; }
.icon--advisors--220 { background-position: 0 33.333333%; }
.icon--advisors--221 { background-position: 0 33.578431%; }
.icon--advisors--222 { background-position: 0 33.823529%; }
.icon--advisors--223 { background-position: 0 34.068627%; }
.icon--advisors--224 { background-position: 0 34.313725%; }
.icon--advisors--225 { background-position: 0 34.558824%; }
.icon--advisors--226 { background-position: 0 34.803922%; }
.icon--advisors--227 { background-position: 0 35.04902%; }
.icon--advisors--228 { background-position: 0 35.294118%; }
.icon--advisors--229 { background-position: 0 35.539216%; }
.icon--advisors--23  { background-position: 0 35.784314%; }
.icon--advisors--230 { background-position: 0 36.029412%; }
.icon--advisors--231 { background-position: 0 36.27451%; }
.icon--advisors--232 { background-position: 0 36.519608%; }
.icon--advisors--233 { background-position: 0 36.764706%; }
.icon--advisors--234 { background-position: 0 37.009804%; }
.icon--advisors--235 { background-position: 0 37.254902%; }
.icon--advisors--236 { background-position: 0 37.5%; }
.icon--advisors--237 { background-position: 0 37.745098%; }
.icon--advisors--238 { background-position: 0 37.990196%; }
.icon--advisors--239 { background-position: 0 38.235294%; }
.icon--advisors--24  { background-position: 0 38.480392%; }
.icon--advisors--240 { background-position: 0 38.72549%; }
.icon--advisors--241 { background-position: 0 38.970588%; }
.icon--advisors--242 { background-position: 0 39.215686%; }
.icon--advisors--243 { background-position: 0 39.460784%; }
.icon--advisors--244 { background-position: 0 39.705882%; }
.icon--advisors--245 { background-position: 0 39.95098%; }
.icon--advisors--246 { background-position: 0 40.196078%; }
.icon--advisors--247 { background-position: 0 40.441176%; }
.icon--advisors--248 { background-position: 0 40.686275%; }
.icon--advisors--249 { background-position: 0 40.931373%; }
.icon--advisors--25  { background-position: 0 41.176471%; }
.icon--advisors--250 { background-position: 0 41.421569%; }
.icon--advisors--251 { background-position: 0 41.666667%; }
.icon--advisors--252 { background-position: 0 41.911765%; }
.icon--advisors--253 { background-position: 0 42.156863%; }
.icon--advisors--254 { background-position: 0 42.401961%; }
.icon--advisors--255 { background-position: 0 42.647059%; }
.icon--advisors--256 { background-position: 0 42.892157%; }
.icon--advisors--257 { background-position: 0 43.137255%; }
.icon--advisors--258 { background-position: 0 43.382353%; }
.icon--advisors--259 { background-position: 0 43.627451%; }
.icon--advisors--26  { background-position: 0 43.872549%; }
.icon--advisors--260 { background-position: 0 44.117647%; }
.icon--advisors--261 { background-position: 0 44.362745%; }
.icon--advisors--262 { background-position: 0 44.607843%; }
.icon--advisors--263 { background-position: 0 44.852941%; }
.icon--advisors--264 { background-position: 0 45.098039%; }
.icon--advisors--265 { background-position: 0 45.343137%; }
.icon--advisors--266 { background-position: 0 45.588235%; }
.icon--advisors--267 { background-position: 0 45.833333%; }
.icon--advisors--268 { background-position: 0 46.078431%; }
.icon--advisors--269 { background-position: 0 46.323529%; }
.icon--advisors--27  { background-position: 0 46.568627%; }
.icon--advisors--270 { background-position: 0 46.813725%; }
.icon--advisors--271 { background-position: 0 47.058824%; }
.icon--advisors--272 { background-position: 0 47.303922%; }
.icon--advisors--273 { background-position: 0 47.54902%; }
.icon--advisors--274 { background-position: 0 47.794118%; }
.icon--advisors--275 { background-position: 0 48.039216%; }
.icon--advisors--276 { background-position: 0 48.284314%; }
.icon--advisors--277 { background-position: 0 48.529412%; }
.icon--advisors--278 { background-position: 0 48.77451%; }
.icon--advisors--279 { background-position: 0 49.019608%; }
.icon--advisors--28  { background-position: 0 49.264706%; }
.icon--advisors--280 { background-position: 0 49.509804%; }
.icon--advisors--281 { background-position: 0 49.754902%; }
.icon--advisors--282 { background-position: 0 50%; }
.icon--advisors--283 { background-position: 0 50.245098%; }
.icon--advisors--284 { background-position: 0 50.490196%; }
.icon--advisors--285 { background-position: 0 50.735294%; }
.icon--advisors--286 { background-position: 0 50.980392%; }
.icon--advisors--287 { background-position: 0 51.22549%; }
.icon--advisors--288 { background-position: 0 51.470588%; }
.icon--advisors--289 { background-position: 0 51.715686%; }
.icon--advisors--29  { background-position: 0 51.960784%; }
.icon--advisors--290 { background-position: 0 52.205882%; }
.icon--advisors--291 { background-position: 0 52.45098%; }
.icon--advisors--292 { background-position: 0 52.696078%; }
.icon--advisors--293 { background-position: 0 52.941176%; }
.icon--advisors--294 { background-position: 0 53.186275%; }
.icon--advisors--295 { background-position: 0 53.431373%; }
.icon--advisors--296 { background-position: 0 53.676471%; }
.icon--advisors--297 { background-position: 0 53.921569%; }
.icon--advisors--298 { background-position: 0 54.166667%; }
.icon--advisors--299 { background-position: 0 54.411765%; }
.icon--advisors--3   { background-position: 0 54.656863%; }
.icon--advisors--30  { background-position: 0 54.901961%; }
.icon--advisors--300 { background-position: 0 55.147059%; }
.icon--advisors--301 { background-position: 0 55.392157%; }
.icon--advisors--302 { background-position: 0 55.637255%; }
.icon--advisors--303 { background-position: 0 55.882353%; }
.icon--advisors--304 { background-position: 0 56.127451%; }
.icon--advisors--305 { background-position: 0 56.372549%; }
.icon--advisors--306 { background-position: 0 56.617647%; }
.icon--advisors--307 { background-position: 0 56.862745%; }
.icon--advisors--308 { background-position: 0 57.107843%; }
.icon--advisors--309 { background-position: 0 57.352941%; }
.icon--advisors--31  { background-position: 0 57.598039%; }
.icon--advisors--310 { background-position: 0 57.843137%; }
.icon--advisors--311 { background-position: 0 58.088235%; }
.icon--advisors--312 { background-position: 0 58.333333%; }
.icon--advisors--313 { background-position: 0 58.578431%; }
.icon--advisors--314 { background-position: 0 58.823529%; }
.icon--advisors--315 { background-position: 0 59.068627%; }
.icon--advisors--316 { background-position: 0 59.313725%; }
.icon--advisors--317 { background-position: 0 59.558824%; }
.icon--advisors--318 { background-position: 0 59.803922%; }
.icon--advisors--319 { background-position: 0 60.04902%; }
.icon--advisors--32  { background-position: 0 60.294118%; }
.icon--advisors--320 { background-position: 0 60.539216%; }
.icon--advisors--321 { background-position: 0 60.784314%; }
.icon--advisors--322 { background-position: 0 61.029412%; }
.icon--advisors--323 { background-position: 0 61.27451%; }
.icon--advisors--324 { background-position: 0 61.519608%; }
.icon--advisors--325 { background-position: 0 61.764706%; }
.icon--advisors--326 { background-position: 0 62.009804%; }
.icon--advisors--327 { background-position: 0 62.254902%; }
.icon--advisors--328 { background-position: 0 62.5%; }
.icon--advisors--329 { background-position: 0 62.745098%; }
.icon--advisors--33  { background-position: 0 62.990196%; }
.icon--advisors--330 { background-position: 0 63.235294%; }
.icon--advisors--331 { background-position: 0 63.480392%; }
.icon--advisors--332 { background-position: 0 63.72549%; }
.icon--advisors--333 { background-position: 0 63.970588%; }
.icon--advisors--334 { background-position: 0 64.215686%; }
.icon--advisors--335 { background-position: 0 64.460784%; }
.icon--advisors--336 { background-position: 0 64.705882%; }
.icon--advisors--337 { background-position: 0 64.95098%; }
.icon--advisors--338 { background-position: 0 65.196078%; }
.icon--advisors--339 { background-position: 0 65.441176%; }
.icon--advisors--34  { background-position: 0 65.686275%; }
.icon--advisors--340 { background-position: 0 65.931373%; }
.icon--advisors--341 { background-position: 0 66.176471%; }
.icon--advisors--342 { background-position: 0 66.421569%; }
.icon--advisors--343 { background-position: 0 66.666667%; }
.icon--advisors--344 { background-position: 0 66.911765%; }
.icon--advisors--345 { background-position: 0 67.156863%; }
.icon--advisors--346 { background-position: 0 67.401961%; }
.icon--advisors--347 { background-position: 0 67.647059%; }
.icon--advisors--348 { background-position: 0 67.892157%; }
.icon--advisors--349 { background-position: 0 68.137255%; }
.icon--advisors--35  { background-position: 0 68.382353%; }
.icon--advisors--350 { background-position: 0 68.627451%; }
.icon--advisors--351 { background-position: 0 68.872549%; }
.icon--advisors--352 { background-position: 0 69.117647%; }
.icon--advisors--353 { background-position: 0 69.362745%; }
.icon--advisors--354 { background-position: 0 69.607843%; }
.icon--advisors--355 { background-position: 0 69.852941%; }
.icon--advisors--356 { background-position: 0 70.098039%; }
.icon--advisors--357 { background-position: 0 70.343137%; }
.icon--advisors--358 { background-position: 0 70.588235%; }
.icon--advisors--359 { background-position: 0 70.833333%; }
.icon--advisors--36  { background-position: 0 71.078431%; }
.icon--advisors--360 { background-position: 0 71.323529%; }
.icon--advisors--361 { background-position: 0 71.568627%; }
.icon--advisors--362 { background-position: 0 71.813725%; }
.icon--advisors--363 { background-position: 0 72.058824%; }
.icon--advisors--364 { background-position: 0 72.303922%; }
.icon--advisors--365 { background-position: 0 72.54902%; }
.icon--advisors--366 { background-position: 0 72.794118%; }
.icon--advisors--367 { background-position: 0 73.039216%; }
.icon--advisors--368 { background-position: 0 73.284314%; }
.icon--advisors--369 { background-position: 0 73.529412%; }
.icon--advisors--37  { background-position: 0 73.77451%; }
.icon--advisors--370 { background-position: 0 74.019608%; }
.icon--advisors--371 { background-position: 0 74.264706%; }
.icon--advisors--372 { background-position: 0 74.509804%; }
.icon--advisors--373 { background-position: 0 74.754902%; }
.icon--advisors--374 { background-position: 0 75%; }
.icon--advisors--375 { background-position: 0 75.245098%; }
.icon--advisors--376 { background-position: 0 75.490196%; }
.icon--advisors--377 { background-position: 0 75.735294%; }
.icon--advisors--378 { background-position: 0 75.980392%; }
.icon--advisors--379 { background-position: 0 76.22549%; }
.icon--advisors--38  { background-position: 0 76.470588%; }
.icon--advisors--380 { background-position: 0 76.715686%; }
.icon--advisors--381 { background-position: 0 76.960784%; }
.icon--advisors--382 { background-position: 0 77.205882%; }
.icon--advisors--383 { background-position: 0 77.45098%; }
.icon--advisors--384 { background-position: 0 77.696078%; }
.icon--advisors--385 { background-position: 0 77.941176%; }
.icon--advisors--386 { background-position: 0 78.186275%; }
.icon--advisors--387 { background-position: 0 78.431373%; }
.icon--advisors--388 { background-position: 0 78.676471%; }
.icon--advisors--389 { background-position: 0 78.921569%; }
.icon--advisors--39  { background-position: 0 79.166667%; }
.icon--advisors--390 { background-position: 0 79.411765%; }
.icon--advisors--391 { background-position: 0 79.656863%; }
.icon--advisors--392 { background-position: 0 79.901961%; }
.icon--advisors--393 { background-position: 0 80.147059%; }
.icon--advisors--394 { background-position: 0 80.392157%; }
.icon--advisors--395 { background-position: 0 80.637255%; }
.icon--advisors--396 { background-position: 0 80.882353%; }
.icon--advisors--397 { background-position: 0 81.127451%; }
.icon--advisors--398 { background-position: 0 81.372549%; }
.icon--advisors--399 { background-position: 0 81.617647%; }
.icon--advisors--4   { background-position: 0 81.862745%; }
.icon--advisors--40  { background-position: 0 82.107843%; }
.icon--advisors--400 { background-position: 0 82.352941%; }
.icon--advisors--401 { background-position: 0 82.598039%; }
.icon--advisors--402 { background-position: 0 82.843137%; }
.icon--advisors--403 { background-position: 0 83.088235%; }
.icon--advisors--404 { background-position: 0 83.333333%; }
.icon--advisors--405 { background-position: 0 83.578431%; }
.icon--advisors--406 { background-position: 0 83.823529%; }
.icon--advisors--407 { background-position: 0 84.068627%; }
.icon--advisors--408 { background-position: 0 84.313725%; }
.icon--advisors--41  { background-position: 0 84.558824%; }
.icon--advisors--42  { background-position: 0 84.803922%; }
.icon--advisors--43  { background-position: 0 85.04902%; }
.icon--advisors--44  { background-position: 0 85.294118%; }
.icon--advisors--45  { background-position: 0 85.539216%; }
.icon--advisors--46  { background-position: 0 85.784314%; }
.icon--advisors--47  { background-position: 0 86.029412%; }
.icon--advisors--48  { background-position: 0 86.27451%; }
.icon--advisors--49  { background-position: 0 86.519608%; }
.icon--advisors--5   { background-position: 0 86.764706%; }
.icon--advisors--50  { background-position: 0 87.009804%; }
.icon--advisors--51  { background-position: 0 87.254902%; }
.icon--advisors--52  { background-position: 0 87.5%; }
.icon--advisors--53  { background-position: 0 87.745098%; }
.icon--advisors--54  { background-position: 0 87.990196%; }
.icon--advisors--55  { background-position: 0 88.235294%; }
.icon--advisors--56  { background-position: 0 88.480392%; }
.icon--advisors--57  { background-position: 0 88.72549%; }
.icon--advisors--58  { background-position: 0 88.970588%; }
.icon--advisors--59  { background-position: 0 89.215686%; }
.icon--advisors--6   { background-position: 0 89.460784%; }
.icon--advisors--60  { background-position: 0 89.705882%; }
.icon--advisors--61  { background-position: 0 89.95098%; }
.icon--advisors--62  { background-position: 0 90.196078%; }
.icon--advisors--63  { background-position: 0 90.441176%; }
.icon--advisors--64  { background-position: 0 90.686275%; }
.icon--advisors--65  { background-position: 0 90.931373%; }
.icon--advisors--66  { background-position: 0 91.176471%; }
.icon--advisors--67  { background-position: 0 91.421569%; }
.icon--advisors--68  { background-position: 0 91.666667%; }
.icon--advisors--69  { background-position: 0 91.911765%; }
.icon--advisors--7   { background-position: 0 92.156863%; }
.icon--advisors--70  { background-position: 0 92.401961%; }
.icon--advisors--71  { background-position: 0 92.647059%; }
.icon--advisors--72  { background-position: 0 92.892157%; }
.icon--advisors--73  { background-position: 0 93.137255%; }
.icon--advisors--74  { background-position: 0 93.382353%; }
.icon--advisors--75  { background-position: 0 93.627451%; }
.icon--advisors--76  { background-position: 0 93.872549%; }
.icon--advisors--77  { background-position: 0 94.117647%; }
.icon--advisors--78  { background-position: 0 94.362745%; }
.icon--advisors--79  { background-position: 0 94.607843%; }
.icon--advisors--8   { background-position: 0 94.852941%; }
.icon--advisors--80  { background-position: 0 95.098039%; }
.icon--advisors--81  { background-position: 0 95.343137%; }
.icon--advisors--82  { background-position: 0 95.588235%; }
.icon--advisors--83  { background-position: 0 95.833333%; }
.icon--advisors--84  { background-position: 0 96.078431%; }
.icon--advisors--85  { background-position: 0 96.323529%; }
.icon--advisors--86  { background-position: 0 96.568627%; }
.icon--advisors--87  { background-position: 0 96.813725%; }
.icon--advisors--88  { background-position: 0 97.058824%; }
.icon--advisors--89  { background-position: 0 97.303922%; }
.icon--advisors--9   { background-position: 0 97.54902%; }
.icon--advisors--90  { background-position: 0 97.794118%; }
.icon--advisors--91  { background-position: 0 98.039216%; }
.icon--advisors--92  { background-position: 0 98.284314%; }
.icon--advisors--93  { background-position: 0 98.529412%; }
.icon--advisors--94  { background-position: 0 98.77451%; }
.icon--advisors--95  { background-position: 0 99.019608%; }
.icon--advisors--96  { background-position: 0 99.264706%; }
.icon--advisors--97  { background-position: 0 99.509804%; }
.icon--advisors--98  { background-position: 0 99.754902%; }
.icon--advisors--99  { background-position: 0 100%; }
