.icon--blueprints {
  display: block;
  background-image: url("/assets/sprites/blueprints.png");
  background-repeat: no-repeat;
  background-position: -100% -100%;
  background-size: 100%;
  background-clip: padding-box;
  width: 64px;
  height: 64px;
  max-width: 100%;
  overflow: hidden;
}
.icon--blueprints--062iB11Q { background-position: 0 0; }
.icon--blueprints--0PgZQ2HJ { background-position: 0 0.324675%; }
.icon--blueprints--0XxQUULs { background-position: 0 0.649351%; }
.icon--blueprints--1iAzxXZC { background-position: 0 0.974026%; }
.icon--blueprints--1JO7Xuua { background-position: 0 1.298701%; }
.icon--blueprints--1QPT1sWy { background-position: 0 1.623377%; }
.icon--blueprints--1S4JCfA9 { background-position: 0 1.948052%; }
.icon--blueprints--1sLfjVr6 { background-position: 0 2.272727%; }
.icon--blueprints--1YoeVFKi { background-position: 0 2.597403%; }
.icon--blueprints--239YNHW8 { background-position: 0 2.922078%; }
.icon--blueprints--2LL8wWPo { background-position: 0 3.246753%; }
.icon--blueprints--2synZD6m { background-position: 0 3.571429%; }
.icon--blueprints--2ubfB9TG { background-position: 0 3.896104%; }
.icon--blueprints--2uVqy2dC { background-position: 0 4.220779%; }
.icon--blueprints--2WkrfD9U { background-position: 0 4.545455%; }
.icon--blueprints--3BmwHrM1 { background-position: 0 4.87013%; }
.icon--blueprints--3mLOyVNO { background-position: 0 5.194805%; }
.icon--blueprints--3VIrdaD6 { background-position: 0 5.519481%; }
.icon--blueprints--3XY0cA08 { background-position: 0 5.844156%; }
.icon--blueprints--3XZ9pa34 { background-position: 0 6.168831%; }
.icon--blueprints--419yjKEf { background-position: 0 6.493506%; }
.icon--blueprints--4fxo3AH5 { background-position: 0 6.818182%; }
.icon--blueprints--5bpiEryi { background-position: 0 7.142857%; }
.icon--blueprints--5hs0RkrP { background-position: 0 7.467532%; }
.icon--blueprints--5WMesXxe { background-position: 0 7.792208%; }
.icon--blueprints--6J5YTewA { background-position: 0 8.116883%; }
.icon--blueprints--6lxgYTDo { background-position: 0 8.441558%; }
.icon--blueprints--6pwE1lwx { background-position: 0 8.766234%; }
.icon--blueprints--6qKHxQHE { background-position: 0 9.090909%; }
.icon--blueprints--6qnds80c { background-position: 0 9.415584%; }
.icon--blueprints--6r8sm53U { background-position: 0 9.74026%; }
.icon--blueprints--6rbjS6so { background-position: 0 10.064935%; }
.icon--blueprints--6SwZDmjq { background-position: 0 10.38961%; }
.icon--blueprints--6ys8bmHF { background-position: 0 10.714286%; }
.icon--blueprints--7HZecWpk { background-position: 0 11.038961%; }
.icon--blueprints--7rBG9J31 { background-position: 0 11.363636%; }
.icon--blueprints--7xg2v5qx { background-position: 0 11.688312%; }
.icon--blueprints--83Ym5Pbt { background-position: 0 12.012987%; }
.icon--blueprints--8aFNt9Ee { background-position: 0 12.337662%; }
.icon--blueprints--8B29n8Yx { background-position: 0 12.662338%; }
.icon--blueprints--8krr66fM { background-position: 0 12.987013%; }
.icon--blueprints--8qHoIcZO { background-position: 0 13.311688%; }
.icon--blueprints--8Rx1fr0Z { background-position: 0 13.636364%; }
.icon--blueprints--99oy3z7V { background-position: 0 13.961039%; }
.icon--blueprints--9MAqncOX { background-position: 0 14.285714%; }
.icon--blueprints--9Plo5oNk { background-position: 0 14.61039%; }
.icon--blueprints--9UEBGkiF { background-position: 0 14.935065%; }
.icon--blueprints--9UtwUN8n { background-position: 0 15.25974%; }
.icon--blueprints--ACUoIvQX { background-position: 0 15.584416%; }
.icon--blueprints--ag7ZcINM { background-position: 0 15.909091%; }
.icon--blueprints--AgAa1V1O { background-position: 0 16.233766%; }
.icon--blueprints--AgUrdutk { background-position: 0 16.558442%; }
.icon--blueprints--Ah6witok { background-position: 0 16.883117%; }
.icon--blueprints--aI2dmi3E { background-position: 0 17.207792%; }
.icon--blueprints--aPSeWo8h { background-position: 0 17.532468%; }
.icon--blueprints--AQSnD27c { background-position: 0 17.857143%; }
.icon--blueprints--asfeH3f4 { background-position: 0 18.181818%; }
.icon--blueprints--AUDIUDSZ { background-position: 0 18.506494%; }
.icon--blueprints--AXn6GCvz { background-position: 0 18.831169%; }
.icon--blueprints--Axn8byHz { background-position: 0 19.155844%; }
.icon--blueprints--B1GiBVqZ { background-position: 0 19.480519%; }
.icon--blueprints--b3qzXrn3 { background-position: 0 19.805195%; }
.icon--blueprints--BdCy970c { background-position: 0 20.12987%; }
.icon--blueprints--BgzKPH4K { background-position: 0 20.454545%; }
.icon--blueprints--BHZJjJ0H { background-position: 0 20.779221%; }
.icon--blueprints--BKnOOq8J { background-position: 0 21.103896%; }
.icon--blueprints--bM5EIvw9 { background-position: 0 21.428571%; }
.icon--blueprints--BrjhwL2W { background-position: 0 21.753247%; }
.icon--blueprints--btknpkUs { background-position: 0 22.077922%; }
.icon--blueprints--bttTVr8l { background-position: 0 22.402597%; }
.icon--blueprints--bVZRwwL3 { background-position: 0 22.727273%; }
.icon--blueprints--BwejKLRF { background-position: 0 23.051948%; }
.icon--blueprints--bWWAa6j2 { background-position: 0 23.376623%; }
.icon--blueprints--bxSpVEQr { background-position: 0 23.701299%; }
.icon--blueprints--CBkU8YQT { background-position: 0 24.025974%; }
.icon--blueprints--CBoGrl4i { background-position: 0 24.350649%; }
.icon--blueprints--cDAaG5cy { background-position: 0 24.675325%; }
.icon--blueprints--cgQM9cHk { background-position: 0 25%; }
.icon--blueprints--cIzBGtww { background-position: 0 25.324675%; }
.icon--blueprints--CWEioVtV { background-position: 0 25.649351%; }
.icon--blueprints--DCG82YBz { background-position: 0 25.974026%; }
.icon--blueprints--DDFZwTCi { background-position: 0 26.298701%; }
.icon--blueprints--dekcfEpW { background-position: 0 26.623377%; }
.icon--blueprints--DFJgzDCl { background-position: 0 26.948052%; }
.icon--blueprints--DP4I23JX { background-position: 0 27.272727%; }
.icon--blueprints--DQemdh1m { background-position: 0 27.597403%; }
.icon--blueprints--DsnGZ49V { background-position: 0 27.922078%; }
.icon--blueprints--dtqspfCX { background-position: 0 28.246753%; }
.icon--blueprints--dutU8OXi { background-position: 0 28.571429%; }
.icon--blueprints--dwU2WPnw { background-position: 0 28.896104%; }
.icon--blueprints--DxmmI5A7 { background-position: 0 29.220779%; }
.icon--blueprints--dYAgxG0y { background-position: 0 29.545455%; }
.icon--blueprints--DyKgL8sp { background-position: 0 29.87013%; }
.icon--blueprints--e0MEBRDk { background-position: 0 30.194805%; }
.icon--blueprints--E0ziq1Kd { background-position: 0 30.519481%; }
.icon--blueprints--eIY0gkwI { background-position: 0 30.844156%; }
.icon--blueprints--EjCi3cOV { background-position: 0 31.168831%; }
.icon--blueprints--eKdHSear { background-position: 0 31.493506%; }
.icon--blueprints--ELEoY844 { background-position: 0 31.818182%; }
.icon--blueprints--eqofomYK { background-position: 0 32.142857%; }
.icon--blueprints--esQDbY5U { background-position: 0 32.467532%; }
.icon--blueprints--eTAQELr4 { background-position: 0 32.792208%; }
.icon--blueprints--eTMmEqx2 { background-position: 0 33.116883%; }
.icon--blueprints--eWJD9R0e { background-position: 0 33.441558%; }
.icon--blueprints--f3pw4BcT { background-position: 0 33.766234%; }
.icon--blueprints--f4F3szJZ { background-position: 0 34.090909%; }
.icon--blueprints--fa5zOQNV { background-position: 0 34.415584%; }
.icon--blueprints--FaojwxRH { background-position: 0 34.74026%; }
.icon--blueprints--fEwrWFo7 { background-position: 0 35.064935%; }
.icon--blueprints--FhDv6BMi { background-position: 0 35.38961%; }
.icon--blueprints--flTvdvAS { background-position: 0 35.714286%; }
.icon--blueprints--Fva12CGo { background-position: 0 36.038961%; }
.icon--blueprints--FWQzRgq5 { background-position: 0 36.363636%; }
.icon--blueprints--fzODvomr { background-position: 0 36.688312%; }
.icon--blueprints--G9y1l6kw { background-position: 0 37.012987%; }
.icon--blueprints--GaTMfyV5 { background-position: 0 37.337662%; }
.icon--blueprints--Gefbsxsv { background-position: 0 37.662338%; }
.icon--blueprints--ghRWOjvW { background-position: 0 37.987013%; }
.icon--blueprints--Gjjzcggz { background-position: 0 38.311688%; }
.icon--blueprints--gT0Iz9vB { background-position: 0 38.636364%; }
.icon--blueprints--H2cHfmag { background-position: 0 38.961039%; }
.icon--blueprints--H2hIe3aV { background-position: 0 39.285714%; }
.icon--blueprints--H4KE4rub { background-position: 0 39.61039%; }
.icon--blueprints--hE2REKr6 { background-position: 0 39.935065%; }
.icon--blueprints--hkw7OpYG { background-position: 0 40.25974%; }
.icon--blueprints--hmiMXGZ8 { background-position: 0 40.584416%; }
.icon--blueprints--HOPAOUBu { background-position: 0 40.909091%; }
.icon--blueprints--hrzRjMcm { background-position: 0 41.233766%; }
.icon--blueprints--HUcqReUx { background-position: 0 41.558442%; }
.icon--blueprints--hUTg4mks { background-position: 0 41.883117%; }
.icon--blueprints--HvbNxc7a { background-position: 0 42.207792%; }
.icon--blueprints--HXql8w0a { background-position: 0 42.532468%; }
.icon--blueprints--i8tskslZ { background-position: 0 42.857143%; }
.icon--blueprints--ijkjMjpm { background-position: 0 43.181818%; }
.icon--blueprints--ikdgTsNH { background-position: 0 43.506494%; }
.icon--blueprints--IRaXJAg8 { background-position: 0 43.831169%; }
.icon--blueprints--IRougWZT { background-position: 0 44.155844%; }
.icon--blueprints--IsuSqm6R { background-position: 0 44.480519%; }
.icon--blueprints--iwpx9m15 { background-position: 0 44.805195%; }
.icon--blueprints--iX340m5D { background-position: 0 45.12987%; }
.icon--blueprints--IYKJqqsi { background-position: 0 45.454545%; }
.icon--blueprints--j92t6lCO { background-position: 0 45.779221%; }
.icon--blueprints--jtF3kqCb { background-position: 0 46.103896%; }
.icon--blueprints--Jv1D8lJO { background-position: 0 46.428571%; }
.icon--blueprints--JW1v0cTq { background-position: 0 46.753247%; }
.icon--blueprints--jzTGM3SV { background-position: 0 47.077922%; }
.icon--blueprints--kbtfmWAr { background-position: 0 47.402597%; }
.icon--blueprints--kEelsmsr { background-position: 0 47.727273%; }
.icon--blueprints--kjMYZKPO { background-position: 0 48.051948%; }
.icon--blueprints--KJYX7UCP { background-position: 0 48.376623%; }
.icon--blueprints--KKfY3RqV { background-position: 0 48.701299%; }
.icon--blueprints--LDfD2wfe { background-position: 0 49.025974%; }
.icon--blueprints--LG34ZvsI { background-position: 0 49.350649%; }
.icon--blueprints--LmNZOnA5 { background-position: 0 49.675325%; }
.icon--blueprints--LnT54wEd { background-position: 0 50%; }
.icon--blueprints--LPP3AZVN { background-position: 0 50.324675%; }
.icon--blueprints--lQ9QlS9G { background-position: 0 50.649351%; }
.icon--blueprints--LsqbgttB { background-position: 0 50.974026%; }
.icon--blueprints--LT3SizN3 { background-position: 0 51.298701%; }
.icon--blueprints--Lu2AMfGE { background-position: 0 51.623377%; }
.icon--blueprints--lZMwg79I { background-position: 0 51.948052%; }
.icon--blueprints--m23EXa9e { background-position: 0 52.272727%; }
.icon--blueprints--M9AKMvXM { background-position: 0 52.597403%; }
.icon--blueprints--MbTwCL47 { background-position: 0 52.922078%; }
.icon--blueprints--mf8pApzu { background-position: 0 53.246753%; }
.icon--blueprints--mfMitN7c { background-position: 0 53.571429%; }
.icon--blueprints--MKDlzYat { background-position: 0 53.896104%; }
.icon--blueprints--MlbDPGvT { background-position: 0 54.220779%; }
.icon--blueprints--MoTlqjk9 { background-position: 0 54.545455%; }
.icon--blueprints--Mp45YB2s { background-position: 0 54.87013%; }
.icon--blueprints--mTPOYDUr { background-position: 0 55.194805%; }
.icon--blueprints--mV5sNd8l { background-position: 0 55.519481%; }
.icon--blueprints--MxpLDIGc { background-position: 0 55.844156%; }
.icon--blueprints--mxPRmj3q { background-position: 0 56.168831%; }
.icon--blueprints--MYG92bM8 { background-position: 0 56.493506%; }
.icon--blueprints--N5kvAt0c { background-position: 0 56.818182%; }
.icon--blueprints--N7ARrOhn { background-position: 0 57.142857%; }
.icon--blueprints--NeNbOSmu { background-position: 0 57.467532%; }
.icon--blueprints--nfDXtEJE { background-position: 0 57.792208%; }
.icon--blueprints--nfOPACi6 { background-position: 0 58.116883%; }
.icon--blueprints--niLpofD0 { background-position: 0 58.441558%; }
.icon--blueprints--nN6XwiyX { background-position: 0 58.766234%; }
.icon--blueprints--NNCsoqvI { background-position: 0 59.090909%; }
.icon--blueprints--nORKLrmJ { background-position: 0 59.415584%; }
.icon--blueprints--NPY2T3bG { background-position: 0 59.74026%; }
.icon--blueprints--Nu9yPiqC { background-position: 0 60.064935%; }
.icon--blueprints--NZhbvmXq { background-position: 0 60.38961%; }
.icon--blueprints--odbYQMWA { background-position: 0 60.714286%; }
.icon--blueprints--odLZtf1t { background-position: 0 61.038961%; }
.icon--blueprints--OM9wIYWX { background-position: 0 61.363636%; }
.icon--blueprints--oPPSd2VB { background-position: 0 61.688312%; }
.icon--blueprints--ORnVXHtU { background-position: 0 62.012987%; }
.icon--blueprints--ORO7PA5S { background-position: 0 62.337662%; }
.icon--blueprints--ORp4TzXU { background-position: 0 62.662338%; }
.icon--blueprints--otTKql1k { background-position: 0 62.987013%; }
.icon--blueprints--OUTzpPIZ { background-position: 0 63.311688%; }
.icon--blueprints--ov5ZYugr { background-position: 0 63.636364%; }
.icon--blueprints--OxTp1c6D { background-position: 0 63.961039%; }
.icon--blueprints--P1Gzp41C { background-position: 0 64.285714%; }
.icon--blueprints--P1tCVd6v { background-position: 0 64.61039%; }
.icon--blueprints--P2g5X2hE { background-position: 0 64.935065%; }
.icon--blueprints--PbFHaMZA { background-position: 0 65.25974%; }
.icon--blueprints--pCHVRlGy { background-position: 0 65.584416%; }
.icon--blueprints--pGQczNVy { background-position: 0 65.909091%; }
.icon--blueprints--PicYv3no { background-position: 0 66.233766%; }
.icon--blueprints--plpCnfBu { background-position: 0 66.558442%; }
.icon--blueprints--pQxu6Usa { background-position: 0 66.883117%; }
.icon--blueprints--PSgr49I1 { background-position: 0 67.207792%; }
.icon--blueprints--Q022P2Az { background-position: 0 67.532468%; }
.icon--blueprints--q2GwkOLY { background-position: 0 67.857143%; }
.icon--blueprints--q4R0Fkco { background-position: 0 68.181818%; }
.icon--blueprints--q5AxvYHS { background-position: 0 68.506494%; }
.icon--blueprints--Q9JOGn2H { background-position: 0 68.831169%; }
.icon--blueprints--qbuttlNc { background-position: 0 69.155844%; }
.icon--blueprints--qCsc6HgP { background-position: 0 69.480519%; }
.icon--blueprints--qDdGpT8k { background-position: 0 69.805195%; }
.icon--blueprints--qeL0Y2aN { background-position: 0 70.12987%; }
.icon--blueprints--QGzs6E0U { background-position: 0 70.454545%; }
.icon--blueprints--qlg6U27h { background-position: 0 70.779221%; }
.icon--blueprints--Qq6xwbE2 { background-position: 0 71.103896%; }
.icon--blueprints--qQqwVzJG { background-position: 0 71.428571%; }
.icon--blueprints--quyiHwNz { background-position: 0 71.753247%; }
.icon--blueprints--QvcozLV1 { background-position: 0 72.077922%; }
.icon--blueprints--R2d5vH2R { background-position: 0 72.402597%; }
.icon--blueprints--r53opOhW { background-position: 0 72.727273%; }
.icon--blueprints--rfIT9BLO { background-position: 0 73.051948%; }
.icon--blueprints--RLbNcFUM { background-position: 0 73.376623%; }
.icon--blueprints--RtvVZhhq { background-position: 0 73.701299%; }
.icon--blueprints--rzL37YI9 { background-position: 0 74.025974%; }
.icon--blueprints--SaFPnkQ5 { background-position: 0 74.350649%; }
.icon--blueprints--skv1kjOJ { background-position: 0 74.675325%; }
.icon--blueprints--SMisTpdY { background-position: 0 75%; }
.icon--blueprints--sO3YJf1M { background-position: 0 75.324675%; }
.icon--blueprints--sOqVBRxT { background-position: 0 75.649351%; }
.icon--blueprints--SQavJj7S { background-position: 0 75.974026%; }
.icon--blueprints--SSUqRw9R { background-position: 0 76.298701%; }
.icon--blueprints--SZsasjFG { background-position: 0 76.623377%; }
.icon--blueprints--T0jnqwBi { background-position: 0 76.948052%; }
.icon--blueprints--t6zujFzc { background-position: 0 77.272727%; }
.icon--blueprints--T8JlbJAH { background-position: 0 77.597403%; }
.icon--blueprints--TcbyfO4w { background-position: 0 77.922078%; }
.icon--blueprints--tFyremjs { background-position: 0 78.246753%; }
.icon--blueprints--tGG9x5Uz { background-position: 0 78.571429%; }
.icon--blueprints--tGKBMHbJ { background-position: 0 78.896104%; }
.icon--blueprints--tjjzKQqD { background-position: 0 79.220779%; }
.icon--blueprints--tlJOKDmo { background-position: 0 79.545455%; }
.icon--blueprints--TYDMcnV7 { background-position: 0 79.87013%; }
.icon--blueprints--U02dxNJl { background-position: 0 80.194805%; }
.icon--blueprints--U3lu6JFf { background-position: 0 80.519481%; }
.icon--blueprints--u8Hn7Rxs { background-position: 0 80.844156%; }
.icon--blueprints--UA9Fyz3z { background-position: 0 81.168831%; }
.icon--blueprints--uav6ZsAH { background-position: 0 81.493506%; }
.icon--blueprints--uClHREgM { background-position: 0 81.818182%; }
.icon--blueprints--uf6sV7xq { background-position: 0 82.142857%; }
.icon--blueprints--ug1EHfte { background-position: 0 82.467532%; }
.icon--blueprints--uijdVBSr { background-position: 0 82.792208%; }
.icon--blueprints--UIwHpugK { background-position: 0 83.116883%; }
.icon--blueprints--UqDciMm2 { background-position: 0 83.441558%; }
.icon--blueprints--UULgmmbD { background-position: 0 83.766234%; }
.icon--blueprints--V3iKkPtr { background-position: 0 84.090909%; }
.icon--blueprints--V3SwPCHO { background-position: 0 84.415584%; }
.icon--blueprints--v4kpumA7 { background-position: 0 84.74026%; }
.icon--blueprints--v640XrRy { background-position: 0 85.064935%; }
.icon--blueprints--v7fn0vXd { background-position: 0 85.38961%; }
.icon--blueprints--v9Ch0fGC { background-position: 0 85.714286%; }
.icon--blueprints--vC9PUeVM { background-position: 0 86.038961%; }
.icon--blueprints--VclJDSWw { background-position: 0 86.363636%; }
.icon--blueprints--vCphESMk { background-position: 0 86.688312%; }
.icon--blueprints--vI6GgGpa { background-position: 0 87.012987%; }
.icon--blueprints--vJf4oBxo { background-position: 0 87.337662%; }
.icon--blueprints--vkkOFsxX { background-position: 0 87.662338%; }
.icon--blueprints--VpJcEIUC { background-position: 0 87.987013%; }
.icon--blueprints--w2dL03Nt { background-position: 0 88.311688%; }
.icon--blueprints--wBmLQ2Kn { background-position: 0 88.636364%; }
.icon--blueprints--wEapvVFb { background-position: 0 88.961039%; }
.icon--blueprints--Wf4M5Kl4 { background-position: 0 89.285714%; }
.icon--blueprints--WFArkD3G { background-position: 0 89.61039%; }
.icon--blueprints--wOmXo66I { background-position: 0 89.935065%; }
.icon--blueprints--Wqqv6SSR { background-position: 0 90.25974%; }
.icon--blueprints--wqzyqFTq { background-position: 0 90.584416%; }
.icon--blueprints--Wv2RVJeo { background-position: 0 90.909091%; }
.icon--blueprints--wy5cAawM { background-position: 0 91.233766%; }
.icon--blueprints--X1LSMTlU { background-position: 0 91.558442%; }
.icon--blueprints--x3EcqjXz { background-position: 0 91.883117%; }
.icon--blueprints--X4sQvY8p { background-position: 0 92.207792%; }
.icon--blueprints--x8GrJoWB { background-position: 0 92.532468%; }
.icon--blueprints--XB9ZWtTB { background-position: 0 92.857143%; }
.icon--blueprints--XBhLMGmQ { background-position: 0 93.181818%; }
.icon--blueprints--xD5ycDpz { background-position: 0 93.506494%; }
.icon--blueprints--xEmyu8dg { background-position: 0 93.831169%; }
.icon--blueprints--XGWawc3m { background-position: 0 94.155844%; }
.icon--blueprints--XiLYNLrH { background-position: 0 94.480519%; }
.icon--blueprints--xWuJSEIX { background-position: 0 94.805195%; }
.icon--blueprints--YBqamrwN { background-position: 0 95.12987%; }
.icon--blueprints--yDK8WUny { background-position: 0 95.454545%; }
.icon--blueprints--ymWoJfXh { background-position: 0 95.779221%; }
.icon--blueprints--YOM8j1V2 { background-position: 0 96.103896%; }
.icon--blueprints--yRZmanID { background-position: 0 96.428571%; }
.icon--blueprints--ys7d6U8O { background-position: 0 96.753247%; }
.icon--blueprints--yvplDhSe { background-position: 0 97.077922%; }
.icon--blueprints--YxBlBItM { background-position: 0 97.402597%; }
.icon--blueprints--yyh44Crz { background-position: 0 97.727273%; }
.icon--blueprints--ZF7QUdgc { background-position: 0 98.051948%; }
.icon--blueprints--ZFKFL0lb { background-position: 0 98.376623%; }
.icon--blueprints--zlPjZ3iE { background-position: 0 98.701299%; }
.icon--blueprints--ZolOg5qU { background-position: 0 99.025974%; }
.icon--blueprints--Zt6QRgpM { background-position: 0 99.350649%; }
.icon--blueprints--ZuH0PhvY { background-position: 0 99.675325%; }
.icon--blueprints--ZzOLnsc7 { background-position: 0 100%; }
