.icon--blueprints {
  display: block;
  background-image: url("/assets/sprites/blueprints.png");
  background-repeat: no-repeat;
  background-position: -100% -100%;
  background-size: 100%;
  max-width: 100%;
  overflow: hidden;
}
.icon--blueprints--237 { background-position: 0 0; }
.icon--blueprints--0   { background-position: 0 0.324675%; }
.icon--blueprints--10  { background-position: 0 0.649351%; }
.icon--blueprints--100 { background-position: 0 0.974026%; }
.icon--blueprints--101 { background-position: 0 1.298701%; }
.icon--blueprints--102 { background-position: 0 1.623377%; }
.icon--blueprints--103 { background-position: 0 1.948052%; }
.icon--blueprints--104 { background-position: 0 2.272727%; }
.icon--blueprints--105 { background-position: 0 2.597403%; }
.icon--blueprints--106 { background-position: 0 2.922078%; }
.icon--blueprints--107 { background-position: 0 3.246753%; }
.icon--blueprints--108 { background-position: 0 3.571429%; }
.icon--blueprints--109 { background-position: 0 3.896104%; }
.icon--blueprints--11  { background-position: 0 4.220779%; }
.icon--blueprints--110 { background-position: 0 4.545455%; }
.icon--blueprints--111 { background-position: 0 4.87013%; }
.icon--blueprints--112 { background-position: 0 5.194805%; }
.icon--blueprints--113 { background-position: 0 5.519481%; }
.icon--blueprints--114 { background-position: 0 5.844156%; }
.icon--blueprints--115 { background-position: 0 6.168831%; }
.icon--blueprints--116 { background-position: 0 6.493506%; }
.icon--blueprints--117 { background-position: 0 6.818182%; }
.icon--blueprints--118 { background-position: 0 7.142857%; }
.icon--blueprints--119 { background-position: 0 7.467532%; }
.icon--blueprints--12  { background-position: 0 7.792208%; }
.icon--blueprints--120 { background-position: 0 8.116883%; }
.icon--blueprints--121 { background-position: 0 8.441558%; }
.icon--blueprints--122 { background-position: 0 8.766234%; }
.icon--blueprints--123 { background-position: 0 9.090909%; }
.icon--blueprints--124 { background-position: 0 9.415584%; }
.icon--blueprints--125 { background-position: 0 9.74026%; }
.icon--blueprints--126 { background-position: 0 10.064935%; }
.icon--blueprints--127 { background-position: 0 10.38961%; }
.icon--blueprints--128 { background-position: 0 10.714286%; }
.icon--blueprints--129 { background-position: 0 11.038961%; }
.icon--blueprints--13  { background-position: 0 11.363636%; }
.icon--blueprints--130 { background-position: 0 11.688312%; }
.icon--blueprints--131 { background-position: 0 12.012987%; }
.icon--blueprints--132 { background-position: 0 12.337662%; }
.icon--blueprints--133 { background-position: 0 12.662338%; }
.icon--blueprints--134 { background-position: 0 12.987013%; }
.icon--blueprints--135 { background-position: 0 13.311688%; }
.icon--blueprints--136 { background-position: 0 13.636364%; }
.icon--blueprints--137 { background-position: 0 13.961039%; }
.icon--blueprints--138 { background-position: 0 14.285714%; }
.icon--blueprints--139 { background-position: 0 14.61039%; }
.icon--blueprints--14  { background-position: 0 14.935065%; }
.icon--blueprints--140 { background-position: 0 15.25974%; }
.icon--blueprints--141 { background-position: 0 15.584416%; }
.icon--blueprints--142 { background-position: 0 15.909091%; }
.icon--blueprints--143 { background-position: 0 16.233766%; }
.icon--blueprints--144 { background-position: 0 16.558442%; }
.icon--blueprints--145 { background-position: 0 16.883117%; }
.icon--blueprints--146 { background-position: 0 17.207792%; }
.icon--blueprints--147 { background-position: 0 17.532468%; }
.icon--blueprints--148 { background-position: 0 17.857143%; }
.icon--blueprints--149 { background-position: 0 18.181818%; }
.icon--blueprints--15  { background-position: 0 18.506494%; }
.icon--blueprints--150 { background-position: 0 18.831169%; }
.icon--blueprints--151 { background-position: 0 19.155844%; }
.icon--blueprints--152 { background-position: 0 19.480519%; }
.icon--blueprints--153 { background-position: 0 19.805195%; }
.icon--blueprints--154 { background-position: 0 20.12987%; }
.icon--blueprints--155 { background-position: 0 20.454545%; }
.icon--blueprints--156 { background-position: 0 20.779221%; }
.icon--blueprints--157 { background-position: 0 21.103896%; }
.icon--blueprints--158 { background-position: 0 21.428571%; }
.icon--blueprints--159 { background-position: 0 21.753247%; }
.icon--blueprints--16  { background-position: 0 22.077922%; }
.icon--blueprints--160 { background-position: 0 22.402597%; }
.icon--blueprints--161 { background-position: 0 22.727273%; }
.icon--blueprints--162 { background-position: 0 23.051948%; }
.icon--blueprints--163 { background-position: 0 23.376623%; }
.icon--blueprints--164 { background-position: 0 23.701299%; }
.icon--blueprints--165 { background-position: 0 24.025974%; }
.icon--blueprints--166 { background-position: 0 24.350649%; }
.icon--blueprints--167 { background-position: 0 24.675325%; }
.icon--blueprints--168 { background-position: 0 25%; }
.icon--blueprints--169 { background-position: 0 25.324675%; }
.icon--blueprints--17  { background-position: 0 25.649351%; }
.icon--blueprints--170 { background-position: 0 25.974026%; }
.icon--blueprints--171 { background-position: 0 26.298701%; }
.icon--blueprints--172 { background-position: 0 26.623377%; }
.icon--blueprints--173 { background-position: 0 26.948052%; }
.icon--blueprints--174 { background-position: 0 27.272727%; }
.icon--blueprints--175 { background-position: 0 27.597403%; }
.icon--blueprints--176 { background-position: 0 27.922078%; }
.icon--blueprints--177 { background-position: 0 28.246753%; }
.icon--blueprints--178 { background-position: 0 28.571429%; }
.icon--blueprints--179 { background-position: 0 28.896104%; }
.icon--blueprints--18  { background-position: 0 29.220779%; }
.icon--blueprints--180 { background-position: 0 29.545455%; }
.icon--blueprints--181 { background-position: 0 29.87013%; }
.icon--blueprints--182 { background-position: 0 30.194805%; }
.icon--blueprints--183 { background-position: 0 30.519481%; }
.icon--blueprints--184 { background-position: 0 30.844156%; }
.icon--blueprints--185 { background-position: 0 31.168831%; }
.icon--blueprints--186 { background-position: 0 31.493506%; }
.icon--blueprints--187 { background-position: 0 31.818182%; }
.icon--blueprints--188 { background-position: 0 32.142857%; }
.icon--blueprints--189 { background-position: 0 32.467532%; }
.icon--blueprints--19  { background-position: 0 32.792208%; }
.icon--blueprints--190 { background-position: 0 33.116883%; }
.icon--blueprints--191 { background-position: 0 33.441558%; }
.icon--blueprints--192 { background-position: 0 33.766234%; }
.icon--blueprints--193 { background-position: 0 34.090909%; }
.icon--blueprints--194 { background-position: 0 34.415584%; }
.icon--blueprints--195 { background-position: 0 34.74026%; }
.icon--blueprints--196 { background-position: 0 35.064935%; }
.icon--blueprints--197 { background-position: 0 35.38961%; }
.icon--blueprints--198 { background-position: 0 35.714286%; }
.icon--blueprints--199 { background-position: 0 36.038961%; }
.icon--blueprints--2   { background-position: 0 36.363636%; }
.icon--blueprints--20  { background-position: 0 36.688312%; }
.icon--blueprints--200 { background-position: 0 37.012987%; }
.icon--blueprints--201 { background-position: 0 37.337662%; }
.icon--blueprints--202 { background-position: 0 37.662338%; }
.icon--blueprints--203 { background-position: 0 37.987013%; }
.icon--blueprints--204 { background-position: 0 38.311688%; }
.icon--blueprints--205 { background-position: 0 38.636364%; }
.icon--blueprints--206 { background-position: 0 38.961039%; }
.icon--blueprints--207 { background-position: 0 39.285714%; }
.icon--blueprints--208 { background-position: 0 39.61039%; }
.icon--blueprints--209 { background-position: 0 39.935065%; }
.icon--blueprints--21  { background-position: 0 40.25974%; }
.icon--blueprints--210 { background-position: 0 40.584416%; }
.icon--blueprints--211 { background-position: 0 40.909091%; }
.icon--blueprints--212 { background-position: 0 41.233766%; }
.icon--blueprints--213 { background-position: 0 41.558442%; }
.icon--blueprints--214 { background-position: 0 41.883117%; }
.icon--blueprints--215 { background-position: 0 42.207792%; }
.icon--blueprints--216 { background-position: 0 42.532468%; }
.icon--blueprints--217 { background-position: 0 42.857143%; }
.icon--blueprints--218 { background-position: 0 43.181818%; }
.icon--blueprints--219 { background-position: 0 43.506494%; }
.icon--blueprints--22  { background-position: 0 43.831169%; }
.icon--blueprints--220 { background-position: 0 44.155844%; }
.icon--blueprints--221 { background-position: 0 44.480519%; }
.icon--blueprints--222 { background-position: 0 44.805195%; }
.icon--blueprints--223 { background-position: 0 45.12987%; }
.icon--blueprints--224 { background-position: 0 45.454545%; }
.icon--blueprints--225 { background-position: 0 45.779221%; }
.icon--blueprints--226 { background-position: 0 46.103896%; }
.icon--blueprints--227 { background-position: 0 46.428571%; }
.icon--blueprints--228 { background-position: 0 46.753247%; }
.icon--blueprints--229 { background-position: 0 47.077922%; }
.icon--blueprints--23  { background-position: 0 47.402597%; }
.icon--blueprints--230 { background-position: 0 47.727273%; }
.icon--blueprints--231 { background-position: 0 48.051948%; }
.icon--blueprints--232 { background-position: 0 48.376623%; }
.icon--blueprints--233 { background-position: 0 48.701299%; }
.icon--blueprints--234 { background-position: 0 49.025974%; }
.icon--blueprints--235 { background-position: 0 49.350649%; }
.icon--blueprints--236 { background-position: 0 49.675325%; }
.icon--blueprints--1   { background-position: 0 50%; }
.icon--blueprints--238 { background-position: 0 50.324675%; }
.icon--blueprints--239 { background-position: 0 50.649351%; }
.icon--blueprints--24  { background-position: 0 50.974026%; }
.icon--blueprints--240 { background-position: 0 51.298701%; }
.icon--blueprints--241 { background-position: 0 51.623377%; }
.icon--blueprints--242 { background-position: 0 51.948052%; }
.icon--blueprints--243 { background-position: 0 52.272727%; }
.icon--blueprints--244 { background-position: 0 52.597403%; }
.icon--blueprints--245 { background-position: 0 52.922078%; }
.icon--blueprints--246 { background-position: 0 53.246753%; }
.icon--blueprints--247 { background-position: 0 53.571429%; }
.icon--blueprints--248 { background-position: 0 53.896104%; }
.icon--blueprints--249 { background-position: 0 54.220779%; }
.icon--blueprints--25  { background-position: 0 54.545455%; }
.icon--blueprints--250 { background-position: 0 54.87013%; }
.icon--blueprints--251 { background-position: 0 55.194805%; }
.icon--blueprints--252 { background-position: 0 55.519481%; }
.icon--blueprints--253 { background-position: 0 55.844156%; }
.icon--blueprints--254 { background-position: 0 56.168831%; }
.icon--blueprints--255 { background-position: 0 56.493506%; }
.icon--blueprints--256 { background-position: 0 56.818182%; }
.icon--blueprints--257 { background-position: 0 57.142857%; }
.icon--blueprints--258 { background-position: 0 57.467532%; }
.icon--blueprints--259 { background-position: 0 57.792208%; }
.icon--blueprints--26  { background-position: 0 58.116883%; }
.icon--blueprints--260 { background-position: 0 58.441558%; }
.icon--blueprints--261 { background-position: 0 58.766234%; }
.icon--blueprints--262 { background-position: 0 59.090909%; }
.icon--blueprints--263 { background-position: 0 59.415584%; }
.icon--blueprints--264 { background-position: 0 59.74026%; }
.icon--blueprints--265 { background-position: 0 60.064935%; }
.icon--blueprints--266 { background-position: 0 60.38961%; }
.icon--blueprints--267 { background-position: 0 60.714286%; }
.icon--blueprints--268 { background-position: 0 61.038961%; }
.icon--blueprints--269 { background-position: 0 61.363636%; }
.icon--blueprints--27  { background-position: 0 61.688312%; }
.icon--blueprints--270 { background-position: 0 62.012987%; }
.icon--blueprints--271 { background-position: 0 62.337662%; }
.icon--blueprints--272 { background-position: 0 62.662338%; }
.icon--blueprints--273 { background-position: 0 62.987013%; }
.icon--blueprints--274 { background-position: 0 63.311688%; }
.icon--blueprints--275 { background-position: 0 63.636364%; }
.icon--blueprints--276 { background-position: 0 63.961039%; }
.icon--blueprints--277 { background-position: 0 64.285714%; }
.icon--blueprints--278 { background-position: 0 64.61039%; }
.icon--blueprints--279 { background-position: 0 64.935065%; }
.icon--blueprints--28  { background-position: 0 65.25974%; }
.icon--blueprints--280 { background-position: 0 65.584416%; }
.icon--blueprints--281 { background-position: 0 65.909091%; }
.icon--blueprints--282 { background-position: 0 66.233766%; }
.icon--blueprints--283 { background-position: 0 66.558442%; }
.icon--blueprints--284 { background-position: 0 66.883117%; }
.icon--blueprints--285 { background-position: 0 67.207792%; }
.icon--blueprints--286 { background-position: 0 67.532468%; }
.icon--blueprints--287 { background-position: 0 67.857143%; }
.icon--blueprints--288 { background-position: 0 68.181818%; }
.icon--blueprints--289 { background-position: 0 68.506494%; }
.icon--blueprints--29  { background-position: 0 68.831169%; }
.icon--blueprints--290 { background-position: 0 69.155844%; }
.icon--blueprints--291 { background-position: 0 69.480519%; }
.icon--blueprints--292 { background-position: 0 69.805195%; }
.icon--blueprints--293 { background-position: 0 70.12987%; }
.icon--blueprints--294 { background-position: 0 70.454545%; }
.icon--blueprints--295 { background-position: 0 70.779221%; }
.icon--blueprints--296 { background-position: 0 71.103896%; }
.icon--blueprints--297 { background-position: 0 71.428571%; }
.icon--blueprints--298 { background-position: 0 71.753247%; }
.icon--blueprints--299 { background-position: 0 72.077922%; }
.icon--blueprints--3   { background-position: 0 72.402597%; }
.icon--blueprints--30  { background-position: 0 72.727273%; }
.icon--blueprints--300 { background-position: 0 73.051948%; }
.icon--blueprints--301 { background-position: 0 73.376623%; }
.icon--blueprints--302 { background-position: 0 73.701299%; }
.icon--blueprints--303 { background-position: 0 74.025974%; }
.icon--blueprints--304 { background-position: 0 74.350649%; }
.icon--blueprints--305 { background-position: 0 74.675325%; }
.icon--blueprints--306 { background-position: 0 75%; }
.icon--blueprints--307 { background-position: 0 75.324675%; }
.icon--blueprints--308 { background-position: 0 75.649351%; }
.icon--blueprints--31  { background-position: 0 75.974026%; }
.icon--blueprints--32  { background-position: 0 76.298701%; }
.icon--blueprints--33  { background-position: 0 76.623377%; }
.icon--blueprints--34  { background-position: 0 76.948052%; }
.icon--blueprints--35  { background-position: 0 77.272727%; }
.icon--blueprints--36  { background-position: 0 77.597403%; }
.icon--blueprints--37  { background-position: 0 77.922078%; }
.icon--blueprints--38  { background-position: 0 78.246753%; }
.icon--blueprints--39  { background-position: 0 78.571429%; }
.icon--blueprints--4   { background-position: 0 78.896104%; }
.icon--blueprints--40  { background-position: 0 79.220779%; }
.icon--blueprints--41  { background-position: 0 79.545455%; }
.icon--blueprints--42  { background-position: 0 79.87013%; }
.icon--blueprints--43  { background-position: 0 80.194805%; }
.icon--blueprints--44  { background-position: 0 80.519481%; }
.icon--blueprints--45  { background-position: 0 80.844156%; }
.icon--blueprints--46  { background-position: 0 81.168831%; }
.icon--blueprints--47  { background-position: 0 81.493506%; }
.icon--blueprints--48  { background-position: 0 81.818182%; }
.icon--blueprints--49  { background-position: 0 82.142857%; }
.icon--blueprints--5   { background-position: 0 82.467532%; }
.icon--blueprints--50  { background-position: 0 82.792208%; }
.icon--blueprints--51  { background-position: 0 83.116883%; }
.icon--blueprints--52  { background-position: 0 83.441558%; }
.icon--blueprints--53  { background-position: 0 83.766234%; }
.icon--blueprints--54  { background-position: 0 84.090909%; }
.icon--blueprints--55  { background-position: 0 84.415584%; }
.icon--blueprints--56  { background-position: 0 84.74026%; }
.icon--blueprints--57  { background-position: 0 85.064935%; }
.icon--blueprints--58  { background-position: 0 85.38961%; }
.icon--blueprints--59  { background-position: 0 85.714286%; }
.icon--blueprints--6   { background-position: 0 86.038961%; }
.icon--blueprints--60  { background-position: 0 86.363636%; }
.icon--blueprints--61  { background-position: 0 86.688312%; }
.icon--blueprints--62  { background-position: 0 87.012987%; }
.icon--blueprints--63  { background-position: 0 87.337662%; }
.icon--blueprints--64  { background-position: 0 87.662338%; }
.icon--blueprints--65  { background-position: 0 87.987013%; }
.icon--blueprints--66  { background-position: 0 88.311688%; }
.icon--blueprints--67  { background-position: 0 88.636364%; }
.icon--blueprints--68  { background-position: 0 88.961039%; }
.icon--blueprints--69  { background-position: 0 89.285714%; }
.icon--blueprints--7   { background-position: 0 89.61039%; }
.icon--blueprints--70  { background-position: 0 89.935065%; }
.icon--blueprints--71  { background-position: 0 90.25974%; }
.icon--blueprints--72  { background-position: 0 90.584416%; }
.icon--blueprints--73  { background-position: 0 90.909091%; }
.icon--blueprints--74  { background-position: 0 91.233766%; }
.icon--blueprints--75  { background-position: 0 91.558442%; }
.icon--blueprints--76  { background-position: 0 91.883117%; }
.icon--blueprints--77  { background-position: 0 92.207792%; }
.icon--blueprints--78  { background-position: 0 92.532468%; }
.icon--blueprints--79  { background-position: 0 92.857143%; }
.icon--blueprints--8   { background-position: 0 93.181818%; }
.icon--blueprints--80  { background-position: 0 93.506494%; }
.icon--blueprints--81  { background-position: 0 93.831169%; }
.icon--blueprints--82  { background-position: 0 94.155844%; }
.icon--blueprints--83  { background-position: 0 94.480519%; }
.icon--blueprints--84  { background-position: 0 94.805195%; }
.icon--blueprints--85  { background-position: 0 95.12987%; }
.icon--blueprints--86  { background-position: 0 95.454545%; }
.icon--blueprints--87  { background-position: 0 95.779221%; }
.icon--blueprints--88  { background-position: 0 96.103896%; }
.icon--blueprints--89  { background-position: 0 96.428571%; }
.icon--blueprints--9   { background-position: 0 96.753247%; }
.icon--blueprints--90  { background-position: 0 97.077922%; }
.icon--blueprints--91  { background-position: 0 97.402597%; }
.icon--blueprints--92  { background-position: 0 97.727273%; }
.icon--blueprints--93  { background-position: 0 98.051948%; }
.icon--blueprints--94  { background-position: 0 98.376623%; }
.icon--blueprints--95  { background-position: 0 98.701299%; }
.icon--blueprints--96  { background-position: 0 99.025974%; }
.icon--blueprints--97  { background-position: 0 99.350649%; }
.icon--blueprints--98  { background-position: 0 99.675325%; }
.icon--blueprints--99  { background-position: 0 100%; }
