.icon--designs {
  display: block;
  background-image: url("/assets/sprites/designs.png");
  background-repeat: no-repeat;
  background-position: -100% -100%;
  background-size: 100%;
  background-clip: padding-box;
  width: 64px;
  height: 64px;
  max-width: 100%;
  overflow: hidden;
}
.icon--designs--0LBVX2GX { background-position: 0 0; }
.icon--designs--0nZ0xWA0 { background-position: 0 0.363636%; }
.icon--designs--0VMxXKyC { background-position: 0 0.727273%; }
.icon--designs--0wbHDfTz { background-position: 0 1.090909%; }
.icon--designs--10z7bBEQ { background-position: 0 1.454545%; }
.icon--designs--16kCq3Pv { background-position: 0 1.818182%; }
.icon--designs--1DJdlBVp { background-position: 0 2.181818%; }
.icon--designs--1Jwh05cc { background-position: 0 2.545455%; }
.icon--designs--1RQqFdbE { background-position: 0 2.909091%; }
.icon--designs--29lh0cdd { background-position: 0 3.272727%; }
.icon--designs--2CUyvqGq { background-position: 0 3.636364%; }
.icon--designs--2XFrgOSP { background-position: 0 4%; }
.icon--designs--30focYZN { background-position: 0 4.363636%; }
.icon--designs--31w4xgYC { background-position: 0 4.727273%; }
.icon--designs--3bgqdvBR { background-position: 0 5.090909%; }
.icon--designs--3kFm0G1P { background-position: 0 5.454545%; }
.icon--designs--3NMxpntk { background-position: 0 5.818182%; }
.icon--designs--3QtJM92m { background-position: 0 6.181818%; }
.icon--designs--3ryGZGoH { background-position: 0 6.545455%; }
.icon--designs--3shBl7U3 { background-position: 0 6.909091%; }
.icon--designs--44Tnk0GK { background-position: 0 7.272727%; }
.icon--designs--4aGuwZt6 { background-position: 0 7.636364%; }
.icon--designs--4g0WDwDt { background-position: 0 8%; }
.icon--designs--4hHAmfom { background-position: 0 8.363636%; }
.icon--designs--4NNgyEiE { background-position: 0 8.727273%; }
.icon--designs--4TrsLtpp { background-position: 0 9.090909%; }
.icon--designs--4xkc17yR { background-position: 0 9.454545%; }
.icon--designs--553SIaEL { background-position: 0 9.818182%; }
.icon--designs--588sSQRN { background-position: 0 10.181818%; }
.icon--designs--5Wd1cPks { background-position: 0 10.545455%; }
.icon--designs--5wo152D7 { background-position: 0 10.909091%; }
.icon--designs--6akYIL9K { background-position: 0 11.272727%; }
.icon--designs--6qMVwGOo { background-position: 0 11.636364%; }
.icon--designs--6VgeuL7L { background-position: 0 12%; }
.icon--designs--7byAzfUK { background-position: 0 12.363636%; }
.icon--designs--7G4Xh2DR { background-position: 0 12.727273%; }
.icon--designs--7kbcfYwW { background-position: 0 13.090909%; }
.icon--designs--8mNOtFY7 { background-position: 0 13.454545%; }
.icon--designs--8nrpRmzZ { background-position: 0 13.818182%; }
.icon--designs--8rSSthAM { background-position: 0 14.181818%; }
.icon--designs--8tC58Vu2 { background-position: 0 14.545455%; }
.icon--designs--95EfNMi3 { background-position: 0 14.909091%; }
.icon--designs--9G3xTw3b { background-position: 0 15.272727%; }
.icon--designs--9H1zx0Pb { background-position: 0 15.636364%; }
.icon--designs--9MCC88my { background-position: 0 16%; }
.icon--designs--AcbiLWv1 { background-position: 0 16.363636%; }
.icon--designs--Acecajn7 { background-position: 0 16.727273%; }
.icon--designs--adXO724H { background-position: 0 17.090909%; }
.icon--designs--aNk2zou9 { background-position: 0 17.454545%; }
.icon--designs--aPsualhO { background-position: 0 17.818182%; }
.icon--designs--AWt2F8y4 { background-position: 0 18.181818%; }
.icon--designs--aY6EVJ3C { background-position: 0 18.545455%; }
.icon--designs--aZAxrBIz { background-position: 0 18.909091%; }
.icon--designs--BmPq4lpt { background-position: 0 19.272727%; }
.icon--designs--bqlyYIkN { background-position: 0 19.636364%; }
.icon--designs--Bqu5aG0I { background-position: 0 20%; }
.icon--designs--BvAEaDg2 { background-position: 0 20.363636%; }
.icon--designs--bVdlxY6T { background-position: 0 20.727273%; }
.icon--designs--bX1qToNy { background-position: 0 21.090909%; }
.icon--designs--BzzCqyqM { background-position: 0 21.454545%; }
.icon--designs--Ca4RJKtc { background-position: 0 21.818182%; }
.icon--designs--cgGsg7yG { background-position: 0 22.181818%; }
.icon--designs--CK1T2JZW { background-position: 0 22.545455%; }
.icon--designs--ckEdoXht { background-position: 0 22.909091%; }
.icon--designs--ClgNQiWm { background-position: 0 23.272727%; }
.icon--designs--CMR7kB77 { background-position: 0 23.636364%; }
.icon--designs--COOvBoxb { background-position: 0 24%; }
.icon--designs--czuml50t { background-position: 0 24.363636%; }
.icon--designs--d2Ttn8eu { background-position: 0 24.727273%; }
.icon--designs--daBvYzx1 { background-position: 0 25.090909%; }
.icon--designs--dcTwkT3G { background-position: 0 25.454545%; }
.icon--designs--DDuIBqDJ { background-position: 0 25.818182%; }
.icon--designs--Dfwj7qxr { background-position: 0 26.181818%; }
.icon--designs--diVkxTo5 { background-position: 0 26.545455%; }
.icon--designs--dps6vPVw { background-position: 0 26.909091%; }
.icon--designs--DrwM2929 { background-position: 0 27.272727%; }
.icon--designs--dXGVugfa { background-position: 0 27.636364%; }
.icon--designs--e809m1Ef { background-position: 0 28%; }
.icon--designs--eAwunFIG { background-position: 0 28.363636%; }
.icon--designs--EdYDGmGI { background-position: 0 28.727273%; }
.icon--designs--EEC4S2Ds { background-position: 0 29.090909%; }
.icon--designs--efZTrQrK { background-position: 0 29.454545%; }
.icon--designs--EhTKD4WD { background-position: 0 29.818182%; }
.icon--designs--Eiv5SOO6 { background-position: 0 30.181818%; }
.icon--designs--eKxj3eDC { background-position: 0 30.545455%; }
.icon--designs--El9TxYjR { background-position: 0 30.909091%; }
.icon--designs--ELIBSK12 { background-position: 0 31.272727%; }
.icon--designs--enuI4ap8 { background-position: 0 31.636364%; }
.icon--designs--EQbhiKmL { background-position: 0 32%; }
.icon--designs--eS9CgxPi { background-position: 0 32.363636%; }
.icon--designs--eTPCtV2w { background-position: 0 32.727273%; }
.icon--designs--Eu4MgR45 { background-position: 0 33.090909%; }
.icon--designs--fHOvSFdZ { background-position: 0 33.454545%; }
.icon--designs--FjKg9fg4 { background-position: 0 33.818182%; }
.icon--designs--fjtRBdzv { background-position: 0 34.181818%; }
.icon--designs--FMMY9Aay { background-position: 0 34.545455%; }
.icon--designs--fOy86d0B { background-position: 0 34.909091%; }
.icon--designs--G9rUahsf { background-position: 0 35.272727%; }
.icon--designs--GdWDe5Bt { background-position: 0 35.636364%; }
.icon--designs--GFuV1Q0Q { background-position: 0 36%; }
.icon--designs--gIJ8zoza { background-position: 0 36.363636%; }
.icon--designs--goScU9V4 { background-position: 0 36.727273%; }
.icon--designs--GQwJJaO4 { background-position: 0 37.090909%; }
.icon--designs--gRieLp8x { background-position: 0 37.454545%; }
.icon--designs--Gx2g2tjN { background-position: 0 37.818182%; }
.icon--designs--h7lFPCmm { background-position: 0 38.181818%; }
.icon--designs--H9WAyBCs { background-position: 0 38.545455%; }
.icon--designs--hKBk1pLl { background-position: 0 38.909091%; }
.icon--designs--HKvoJV2D { background-position: 0 39.272727%; }
.icon--designs--hQNjV9hW { background-position: 0 39.636364%; }
.icon--designs--HWiGFvuR { background-position: 0 40%; }
.icon--designs--HZzfzTnT { background-position: 0 40.363636%; }
.icon--designs--HzzzEBij { background-position: 0 40.727273%; }
.icon--designs--I14mUYIL { background-position: 0 41.090909%; }
.icon--designs--icsnsAr0 { background-position: 0 41.454545%; }
.icon--designs--IgFeE63R { background-position: 0 41.818182%; }
.icon--designs--IIoSX28h { background-position: 0 42.181818%; }
.icon--designs--IrWLbtkh { background-position: 0 42.545455%; }
.icon--designs--iSJmSHUG { background-position: 0 42.909091%; }
.icon--designs--IuZWj97m { background-position: 0 43.272727%; }
.icon--designs--IzFzukaM { background-position: 0 43.636364%; }
.icon--designs--J46WOjNp { background-position: 0 44%; }
.icon--designs--JDgm6NH1 { background-position: 0 44.363636%; }
.icon--designs--jHEz0kqt { background-position: 0 44.727273%; }
.icon--designs--JI3TPvZU { background-position: 0 45.090909%; }
.icon--designs--JiibtqKJ { background-position: 0 45.454545%; }
.icon--designs--jJ6HDtuO { background-position: 0 45.818182%; }
.icon--designs--JvEJWfuD { background-position: 0 46.181818%; }
.icon--designs--JWtD9HNg { background-position: 0 46.545455%; }
.icon--designs--JX1rkEFu { background-position: 0 46.909091%; }
.icon--designs--JzSzuOnh { background-position: 0 47.272727%; }
.icon--designs--K7oY9BhB { background-position: 0 47.636364%; }
.icon--designs--Kcrz6Khu { background-position: 0 48%; }
.icon--designs--kdj06FZl { background-position: 0 48.363636%; }
.icon--designs--kgiIf5xF { background-position: 0 48.727273%; }
.icon--designs--kIVyoIKI { background-position: 0 49.090909%; }
.icon--designs--KJWhZ89k { background-position: 0 49.454545%; }
.icon--designs--kL0iuKIb { background-position: 0 49.818182%; }
.icon--designs--KNg6u2J2 { background-position: 0 50.181818%; }
.icon--designs--KNg6xla3 { background-position: 0 50.545455%; }
.icon--designs--kprZRw7h { background-position: 0 50.909091%; }
.icon--designs--KWLTXds5 { background-position: 0 51.272727%; }
.icon--designs--Kxu9OwTL { background-position: 0 51.636364%; }
.icon--designs--l5ZpicES { background-position: 0 52%; }
.icon--designs--lGfd2A2T { background-position: 0 52.363636%; }
.icon--designs--lHG8kq1d { background-position: 0 52.727273%; }
.icon--designs--lknDsdKS { background-position: 0 53.090909%; }
.icon--designs--llKhmPOD { background-position: 0 53.454545%; }
.icon--designs--lMW7yoQV { background-position: 0 53.818182%; }
.icon--designs--Lo32LfeQ { background-position: 0 54.181818%; }
.icon--designs--LpnPwLco { background-position: 0 54.545455%; }
.icon--designs--LQDcpXDX { background-position: 0 54.909091%; }
.icon--designs--lr8DEgPz { background-position: 0 55.272727%; }
.icon--designs--lTdOqitf { background-position: 0 55.636364%; }
.icon--designs--LuhpUnoO { background-position: 0 56%; }
.icon--designs--lWQ2Zb5w { background-position: 0 56.363636%; }
.icon--designs--M72n1hPX { background-position: 0 56.727273%; }
.icon--designs--mBlcjqBA { background-position: 0 57.090909%; }
.icon--designs--Mdso9VqH { background-position: 0 57.454545%; }
.icon--designs--mdvdBKzP { background-position: 0 57.818182%; }
.icon--designs--MeI7vMPh { background-position: 0 58.181818%; }
.icon--designs--mJnIJg8Z { background-position: 0 58.545455%; }
.icon--designs--mP1XcxC6 { background-position: 0 58.909091%; }
.icon--designs--MSWrDRoB { background-position: 0 59.272727%; }
.icon--designs--mx76BUuz { background-position: 0 59.636364%; }
.icon--designs--MzJfXkIo { background-position: 0 60%; }
.icon--designs--N3mcPAfe { background-position: 0 60.363636%; }
.icon--designs--n8k43kOX { background-position: 0 60.727273%; }
.icon--designs--nbLyBKUp { background-position: 0 61.090909%; }
.icon--designs--nHDTcx7E { background-position: 0 61.454545%; }
.icon--designs--nRovLTKC { background-position: 0 61.818182%; }
.icon--designs--nsfkzEV6 { background-position: 0 62.181818%; }
.icon--designs--NW6marQQ { background-position: 0 62.545455%; }
.icon--designs--NxRzTgBx { background-position: 0 62.909091%; }
.icon--designs--oHquzZvl { background-position: 0 63.272727%; }
.icon--designs--OI72ZiIc { background-position: 0 63.636364%; }
.icon--designs--Ol8cB0dB { background-position: 0 64%; }
.icon--designs--onaPFLoR { background-position: 0 64.363636%; }
.icon--designs--ONLHxevS { background-position: 0 64.727273%; }
.icon--designs--oUExbB8j { background-position: 0 65.090909%; }
.icon--designs--OVCUTL0U { background-position: 0 65.454545%; }
.icon--designs--p2ihw68T { background-position: 0 65.818182%; }
.icon--designs--pFoxjw44 { background-position: 0 66.181818%; }
.icon--designs--pGtIc4aT { background-position: 0 66.545455%; }
.icon--designs--PI5eW016 { background-position: 0 66.909091%; }
.icon--designs--Pm43JVRL { background-position: 0 67.272727%; }
.icon--designs--pptvipbj { background-position: 0 67.636364%; }
.icon--designs--pq54FD6j { background-position: 0 68%; }
.icon--designs--prCWhX9y { background-position: 0 68.363636%; }
.icon--designs--qFbarSLf { background-position: 0 68.727273%; }
.icon--designs--qIlRDI0f { background-position: 0 69.090909%; }
.icon--designs--qmum85Rf { background-position: 0 69.454545%; }
.icon--designs--QNVdw3Tq { background-position: 0 69.818182%; }
.icon--designs--QOSc8YWx { background-position: 0 70.181818%; }
.icon--designs--Qsi8Lz42 { background-position: 0 70.545455%; }
.icon--designs--qW81Bzd7 { background-position: 0 70.909091%; }
.icon--designs--r0Jk8lkO { background-position: 0 71.272727%; }
.icon--designs--R2OhInOy { background-position: 0 71.636364%; }
.icon--designs--r6L1DmRV { background-position: 0 72%; }
.icon--designs--R9TCzDRb { background-position: 0 72.363636%; }
.icon--designs--rI0duf6j { background-position: 0 72.727273%; }
.icon--designs--riHxVIeE { background-position: 0 73.090909%; }
.icon--designs--rJvDOvEP { background-position: 0 73.454545%; }
.icon--designs--rOoroPZo { background-position: 0 73.818182%; }
.icon--designs--RRP0pl6G { background-position: 0 74.181818%; }
.icon--designs--s1USV73W { background-position: 0 74.545455%; }
.icon--designs--SdaBNdy8 { background-position: 0 74.909091%; }
.icon--designs--SEh7cAl4 { background-position: 0 75.272727%; }
.icon--designs--sjmCIKh7 { background-position: 0 75.636364%; }
.icon--designs--SMxBDjqb { background-position: 0 76%; }
.icon--designs--sO7sObYS { background-position: 0 76.363636%; }
.icon--designs--SPT3Tocr { background-position: 0 76.727273%; }
.icon--designs--ssWrUHks { background-position: 0 77.090909%; }
.icon--designs--Svu4205k { background-position: 0 77.454545%; }
.icon--designs--svxwsOCr { background-position: 0 77.818182%; }
.icon--designs--SznPOAWC { background-position: 0 78.181818%; }
.icon--designs--TAdk6M6K { background-position: 0 78.545455%; }
.icon--designs--TbGmB4IM { background-position: 0 78.909091%; }
.icon--designs--thU29xgM { background-position: 0 79.272727%; }
.icon--designs--TmBefV9E { background-position: 0 79.636364%; }
.icon--designs--txNf4444 { background-position: 0 80%; }
.icon--designs--U0GsTXdC { background-position: 0 80.363636%; }
.icon--designs--u1kpVz3r { background-position: 0 80.727273%; }
.icon--designs--U56yg90y { background-position: 0 81.090909%; }
.icon--designs--Ub4QzqM8 { background-position: 0 81.454545%; }
.icon--designs--UCg0FA07 { background-position: 0 81.818182%; }
.icon--designs--UFgKszXe { background-position: 0 82.181818%; }
.icon--designs--uFYYJfVQ { background-position: 0 82.545455%; }
.icon--designs--uhpWJiDf { background-position: 0 82.909091%; }
.icon--designs--uLjPLIAs { background-position: 0 83.272727%; }
.icon--designs--uneVzrvd { background-position: 0 83.636364%; }
.icon--designs--uzKDZ1T1 { background-position: 0 84%; }
.icon--designs--v12higEo { background-position: 0 84.363636%; }
.icon--designs--V5gAFw4C { background-position: 0 84.727273%; }
.icon--designs--Vb4GyMHy { background-position: 0 85.090909%; }
.icon--designs--VCQ12szA { background-position: 0 85.454545%; }
.icon--designs--VDVUUpul { background-position: 0 85.818182%; }
.icon--designs--vkwvSIjZ { background-position: 0 86.181818%; }
.icon--designs--vuPvtvNg { background-position: 0 86.545455%; }
.icon--designs--vVyqvIBv { background-position: 0 86.909091%; }
.icon--designs--VWkbg1CT { background-position: 0 87.272727%; }
.icon--designs--vydHZx1s { background-position: 0 87.636364%; }
.icon--designs--WCKyjEFS { background-position: 0 88%; }
.icon--designs--wFQkKZeU { background-position: 0 88.363636%; }
.icon--designs--WjdFc4Yl { background-position: 0 88.727273%; }
.icon--designs--WM0989w5 { background-position: 0 89.090909%; }
.icon--designs--wmNwlLwG { background-position: 0 89.454545%; }
.icon--designs--wNLBS7fv { background-position: 0 89.818182%; }
.icon--designs--wOJHsDif { background-position: 0 90.181818%; }
.icon--designs--WSJ5P36G { background-position: 0 90.545455%; }
.icon--designs--Wyd60sh5 { background-position: 0 90.909091%; }
.icon--designs--wZwh6n1a { background-position: 0 91.272727%; }
.icon--designs--X7vJC2ba { background-position: 0 91.636364%; }
.icon--designs--XbSaKvLr { background-position: 0 92%; }
.icon--designs--XCB13C1Z { background-position: 0 92.363636%; }
.icon--designs--XGGCdeNA { background-position: 0 92.727273%; }
.icon--designs--XkQc6WsQ { background-position: 0 93.090909%; }
.icon--designs--xqjZZVWO { background-position: 0 93.454545%; }
.icon--designs--yaXkNMn1 { background-position: 0 93.818182%; }
.icon--designs--ylBCjJyx { background-position: 0 94.181818%; }
.icon--designs--yXgVrhQ5 { background-position: 0 94.545455%; }
.icon--designs--z155mfQ2 { background-position: 0 94.909091%; }
.icon--designs--Z1JjRh69 { background-position: 0 95.272727%; }
.icon--designs--z3TKaRYS { background-position: 0 95.636364%; }
.icon--designs--z4e2UjsO { background-position: 0 96%; }
.icon--designs--zBCef3IW { background-position: 0 96.363636%; }
.icon--designs--zDJFK3OL { background-position: 0 96.727273%; }
.icon--designs--ZdyFy8TS { background-position: 0 97.090909%; }
.icon--designs--zedlsqj5 { background-position: 0 97.454545%; }
.icon--designs--zfJBS7qg { background-position: 0 97.818182%; }
.icon--designs--ZGwhgrr7 { background-position: 0 98.181818%; }
.icon--designs--ZHBtVo19 { background-position: 0 98.545455%; }
.icon--designs--ZKohE8Qx { background-position: 0 98.909091%; }
.icon--designs--zuFFLLjk { background-position: 0 99.272727%; }
.icon--designs--zWgsLpta { background-position: 0 99.636364%; }
.icon--designs--ZzFVonkq { background-position: 0 100%; }
