.icon--designs {
  display: block;
  background-image: url("/assets/sprites/designs.png");
  background-repeat: no-repeat;
  background-position: -100% -100%;
  background-size: 100%;
  background-clip: padding-box;
  width: 64px;
  height: 64px;
  max-width: 100%;
  overflow: hidden;
}
.icon--designs--0   { background-position: 0 0; }
.icon--designs--1   { background-position: 0 0.363636%; }
.icon--designs--10  { background-position: 0 0.727273%; }
.icon--designs--100 { background-position: 0 1.090909%; }
.icon--designs--101 { background-position: 0 1.454545%; }
.icon--designs--102 { background-position: 0 1.818182%; }
.icon--designs--103 { background-position: 0 2.181818%; }
.icon--designs--104 { background-position: 0 2.545455%; }
.icon--designs--105 { background-position: 0 2.909091%; }
.icon--designs--106 { background-position: 0 3.272727%; }
.icon--designs--107 { background-position: 0 3.636364%; }
.icon--designs--108 { background-position: 0 4%; }
.icon--designs--109 { background-position: 0 4.363636%; }
.icon--designs--11  { background-position: 0 4.727273%; }
.icon--designs--110 { background-position: 0 5.090909%; }
.icon--designs--111 { background-position: 0 5.454545%; }
.icon--designs--112 { background-position: 0 5.818182%; }
.icon--designs--113 { background-position: 0 6.181818%; }
.icon--designs--114 { background-position: 0 6.545455%; }
.icon--designs--115 { background-position: 0 6.909091%; }
.icon--designs--116 { background-position: 0 7.272727%; }
.icon--designs--117 { background-position: 0 7.636364%; }
.icon--designs--118 { background-position: 0 8%; }
.icon--designs--119 { background-position: 0 8.363636%; }
.icon--designs--12  { background-position: 0 8.727273%; }
.icon--designs--120 { background-position: 0 9.090909%; }
.icon--designs--121 { background-position: 0 9.454545%; }
.icon--designs--122 { background-position: 0 9.818182%; }
.icon--designs--123 { background-position: 0 10.181818%; }
.icon--designs--124 { background-position: 0 10.545455%; }
.icon--designs--125 { background-position: 0 10.909091%; }
.icon--designs--126 { background-position: 0 11.272727%; }
.icon--designs--127 { background-position: 0 11.636364%; }
.icon--designs--128 { background-position: 0 12%; }
.icon--designs--129 { background-position: 0 12.363636%; }
.icon--designs--13  { background-position: 0 12.727273%; }
.icon--designs--130 { background-position: 0 13.090909%; }
.icon--designs--131 { background-position: 0 13.454545%; }
.icon--designs--132 { background-position: 0 13.818182%; }
.icon--designs--133 { background-position: 0 14.181818%; }
.icon--designs--134 { background-position: 0 14.545455%; }
.icon--designs--135 { background-position: 0 14.909091%; }
.icon--designs--136 { background-position: 0 15.272727%; }
.icon--designs--137 { background-position: 0 15.636364%; }
.icon--designs--138 { background-position: 0 16%; }
.icon--designs--139 { background-position: 0 16.363636%; }
.icon--designs--14  { background-position: 0 16.727273%; }
.icon--designs--140 { background-position: 0 17.090909%; }
.icon--designs--141 { background-position: 0 17.454545%; }
.icon--designs--142 { background-position: 0 17.818182%; }
.icon--designs--143 { background-position: 0 18.181818%; }
.icon--designs--144 { background-position: 0 18.545455%; }
.icon--designs--145 { background-position: 0 18.909091%; }
.icon--designs--146 { background-position: 0 19.272727%; }
.icon--designs--147 { background-position: 0 19.636364%; }
.icon--designs--148 { background-position: 0 20%; }
.icon--designs--149 { background-position: 0 20.363636%; }
.icon--designs--15  { background-position: 0 20.727273%; }
.icon--designs--150 { background-position: 0 21.090909%; }
.icon--designs--151 { background-position: 0 21.454545%; }
.icon--designs--152 { background-position: 0 21.818182%; }
.icon--designs--153 { background-position: 0 22.181818%; }
.icon--designs--154 { background-position: 0 22.545455%; }
.icon--designs--155 { background-position: 0 22.909091%; }
.icon--designs--156 { background-position: 0 23.272727%; }
.icon--designs--157 { background-position: 0 23.636364%; }
.icon--designs--158 { background-position: 0 24%; }
.icon--designs--159 { background-position: 0 24.363636%; }
.icon--designs--16  { background-position: 0 24.727273%; }
.icon--designs--160 { background-position: 0 25.090909%; }
.icon--designs--161 { background-position: 0 25.454545%; }
.icon--designs--162 { background-position: 0 25.818182%; }
.icon--designs--163 { background-position: 0 26.181818%; }
.icon--designs--164 { background-position: 0 26.545455%; }
.icon--designs--165 { background-position: 0 26.909091%; }
.icon--designs--166 { background-position: 0 27.272727%; }
.icon--designs--167 { background-position: 0 27.636364%; }
.icon--designs--168 { background-position: 0 28%; }
.icon--designs--169 { background-position: 0 28.363636%; }
.icon--designs--17  { background-position: 0 28.727273%; }
.icon--designs--170 { background-position: 0 29.090909%; }
.icon--designs--171 { background-position: 0 29.454545%; }
.icon--designs--172 { background-position: 0 29.818182%; }
.icon--designs--173 { background-position: 0 30.181818%; }
.icon--designs--174 { background-position: 0 30.545455%; }
.icon--designs--175 { background-position: 0 30.909091%; }
.icon--designs--176 { background-position: 0 31.272727%; }
.icon--designs--177 { background-position: 0 31.636364%; }
.icon--designs--178 { background-position: 0 32%; }
.icon--designs--179 { background-position: 0 32.363636%; }
.icon--designs--18  { background-position: 0 32.727273%; }
.icon--designs--180 { background-position: 0 33.090909%; }
.icon--designs--181 { background-position: 0 33.454545%; }
.icon--designs--182 { background-position: 0 33.818182%; }
.icon--designs--183 { background-position: 0 34.181818%; }
.icon--designs--184 { background-position: 0 34.545455%; }
.icon--designs--185 { background-position: 0 34.909091%; }
.icon--designs--186 { background-position: 0 35.272727%; }
.icon--designs--187 { background-position: 0 35.636364%; }
.icon--designs--188 { background-position: 0 36%; }
.icon--designs--189 { background-position: 0 36.363636%; }
.icon--designs--19  { background-position: 0 36.727273%; }
.icon--designs--190 { background-position: 0 37.090909%; }
.icon--designs--191 { background-position: 0 37.454545%; }
.icon--designs--192 { background-position: 0 37.818182%; }
.icon--designs--193 { background-position: 0 38.181818%; }
.icon--designs--194 { background-position: 0 38.545455%; }
.icon--designs--195 { background-position: 0 38.909091%; }
.icon--designs--196 { background-position: 0 39.272727%; }
.icon--designs--197 { background-position: 0 39.636364%; }
.icon--designs--198 { background-position: 0 40%; }
.icon--designs--199 { background-position: 0 40.363636%; }
.icon--designs--2   { background-position: 0 40.727273%; }
.icon--designs--20  { background-position: 0 41.090909%; }
.icon--designs--200 { background-position: 0 41.454545%; }
.icon--designs--201 { background-position: 0 41.818182%; }
.icon--designs--202 { background-position: 0 42.181818%; }
.icon--designs--203 { background-position: 0 42.545455%; }
.icon--designs--204 { background-position: 0 42.909091%; }
.icon--designs--205 { background-position: 0 43.272727%; }
.icon--designs--206 { background-position: 0 43.636364%; }
.icon--designs--207 { background-position: 0 44%; }
.icon--designs--208 { background-position: 0 44.363636%; }
.icon--designs--209 { background-position: 0 44.727273%; }
.icon--designs--21  { background-position: 0 45.090909%; }
.icon--designs--210 { background-position: 0 45.454545%; }
.icon--designs--211 { background-position: 0 45.818182%; }
.icon--designs--212 { background-position: 0 46.181818%; }
.icon--designs--213 { background-position: 0 46.545455%; }
.icon--designs--214 { background-position: 0 46.909091%; }
.icon--designs--215 { background-position: 0 47.272727%; }
.icon--designs--216 { background-position: 0 47.636364%; }
.icon--designs--217 { background-position: 0 48%; }
.icon--designs--218 { background-position: 0 48.363636%; }
.icon--designs--219 { background-position: 0 48.727273%; }
.icon--designs--22  { background-position: 0 49.090909%; }
.icon--designs--220 { background-position: 0 49.454545%; }
.icon--designs--221 { background-position: 0 49.818182%; }
.icon--designs--222 { background-position: 0 50.181818%; }
.icon--designs--223 { background-position: 0 50.545455%; }
.icon--designs--224 { background-position: 0 50.909091%; }
.icon--designs--225 { background-position: 0 51.272727%; }
.icon--designs--226 { background-position: 0 51.636364%; }
.icon--designs--227 { background-position: 0 52%; }
.icon--designs--228 { background-position: 0 52.363636%; }
.icon--designs--229 { background-position: 0 52.727273%; }
.icon--designs--23  { background-position: 0 53.090909%; }
.icon--designs--230 { background-position: 0 53.454545%; }
.icon--designs--231 { background-position: 0 53.818182%; }
.icon--designs--232 { background-position: 0 54.181818%; }
.icon--designs--233 { background-position: 0 54.545455%; }
.icon--designs--234 { background-position: 0 54.909091%; }
.icon--designs--235 { background-position: 0 55.272727%; }
.icon--designs--236 { background-position: 0 55.636364%; }
.icon--designs--237 { background-position: 0 56%; }
.icon--designs--238 { background-position: 0 56.363636%; }
.icon--designs--239 { background-position: 0 56.727273%; }
.icon--designs--24  { background-position: 0 57.090909%; }
.icon--designs--240 { background-position: 0 57.454545%; }
.icon--designs--241 { background-position: 0 57.818182%; }
.icon--designs--242 { background-position: 0 58.181818%; }
.icon--designs--243 { background-position: 0 58.545455%; }
.icon--designs--244 { background-position: 0 58.909091%; }
.icon--designs--245 { background-position: 0 59.272727%; }
.icon--designs--246 { background-position: 0 59.636364%; }
.icon--designs--247 { background-position: 0 60%; }
.icon--designs--248 { background-position: 0 60.363636%; }
.icon--designs--249 { background-position: 0 60.727273%; }
.icon--designs--25  { background-position: 0 61.090909%; }
.icon--designs--250 { background-position: 0 61.454545%; }
.icon--designs--251 { background-position: 0 61.818182%; }
.icon--designs--252 { background-position: 0 62.181818%; }
.icon--designs--253 { background-position: 0 62.545455%; }
.icon--designs--254 { background-position: 0 62.909091%; }
.icon--designs--255 { background-position: 0 63.272727%; }
.icon--designs--256 { background-position: 0 63.636364%; }
.icon--designs--257 { background-position: 0 64%; }
.icon--designs--258 { background-position: 0 64.363636%; }
.icon--designs--259 { background-position: 0 64.727273%; }
.icon--designs--26  { background-position: 0 65.090909%; }
.icon--designs--260 { background-position: 0 65.454545%; }
.icon--designs--261 { background-position: 0 65.818182%; }
.icon--designs--262 { background-position: 0 66.181818%; }
.icon--designs--263 { background-position: 0 66.545455%; }
.icon--designs--264 { background-position: 0 66.909091%; }
.icon--designs--265 { background-position: 0 67.272727%; }
.icon--designs--266 { background-position: 0 67.636364%; }
.icon--designs--267 { background-position: 0 68%; }
.icon--designs--268 { background-position: 0 68.363636%; }
.icon--designs--269 { background-position: 0 68.727273%; }
.icon--designs--27  { background-position: 0 69.090909%; }
.icon--designs--270 { background-position: 0 69.454545%; }
.icon--designs--271 { background-position: 0 69.818182%; }
.icon--designs--272 { background-position: 0 70.181818%; }
.icon--designs--273 { background-position: 0 70.545455%; }
.icon--designs--274 { background-position: 0 70.909091%; }
.icon--designs--275 { background-position: 0 71.272727%; }
.icon--designs--28  { background-position: 0 71.636364%; }
.icon--designs--29  { background-position: 0 72%; }
.icon--designs--3   { background-position: 0 72.363636%; }
.icon--designs--30  { background-position: 0 72.727273%; }
.icon--designs--31  { background-position: 0 73.090909%; }
.icon--designs--32  { background-position: 0 73.454545%; }
.icon--designs--33  { background-position: 0 73.818182%; }
.icon--designs--34  { background-position: 0 74.181818%; }
.icon--designs--35  { background-position: 0 74.545455%; }
.icon--designs--36  { background-position: 0 74.909091%; }
.icon--designs--37  { background-position: 0 75.272727%; }
.icon--designs--38  { background-position: 0 75.636364%; }
.icon--designs--39  { background-position: 0 76%; }
.icon--designs--4   { background-position: 0 76.363636%; }
.icon--designs--40  { background-position: 0 76.727273%; }
.icon--designs--41  { background-position: 0 77.090909%; }
.icon--designs--42  { background-position: 0 77.454545%; }
.icon--designs--43  { background-position: 0 77.818182%; }
.icon--designs--44  { background-position: 0 78.181818%; }
.icon--designs--45  { background-position: 0 78.545455%; }
.icon--designs--46  { background-position: 0 78.909091%; }
.icon--designs--47  { background-position: 0 79.272727%; }
.icon--designs--48  { background-position: 0 79.636364%; }
.icon--designs--49  { background-position: 0 80%; }
.icon--designs--5   { background-position: 0 80.363636%; }
.icon--designs--50  { background-position: 0 80.727273%; }
.icon--designs--51  { background-position: 0 81.090909%; }
.icon--designs--52  { background-position: 0 81.454545%; }
.icon--designs--53  { background-position: 0 81.818182%; }
.icon--designs--54  { background-position: 0 82.181818%; }
.icon--designs--55  { background-position: 0 82.545455%; }
.icon--designs--56  { background-position: 0 82.909091%; }
.icon--designs--57  { background-position: 0 83.272727%; }
.icon--designs--58  { background-position: 0 83.636364%; }
.icon--designs--59  { background-position: 0 84%; }
.icon--designs--6   { background-position: 0 84.363636%; }
.icon--designs--60  { background-position: 0 84.727273%; }
.icon--designs--61  { background-position: 0 85.090909%; }
.icon--designs--62  { background-position: 0 85.454545%; }
.icon--designs--63  { background-position: 0 85.818182%; }
.icon--designs--64  { background-position: 0 86.181818%; }
.icon--designs--65  { background-position: 0 86.545455%; }
.icon--designs--66  { background-position: 0 86.909091%; }
.icon--designs--67  { background-position: 0 87.272727%; }
.icon--designs--68  { background-position: 0 87.636364%; }
.icon--designs--69  { background-position: 0 88%; }
.icon--designs--7   { background-position: 0 88.363636%; }
.icon--designs--70  { background-position: 0 88.727273%; }
.icon--designs--71  { background-position: 0 89.090909%; }
.icon--designs--72  { background-position: 0 89.454545%; }
.icon--designs--73  { background-position: 0 89.818182%; }
.icon--designs--74  { background-position: 0 90.181818%; }
.icon--designs--75  { background-position: 0 90.545455%; }
.icon--designs--76  { background-position: 0 90.909091%; }
.icon--designs--77  { background-position: 0 91.272727%; }
.icon--designs--78  { background-position: 0 91.636364%; }
.icon--designs--79  { background-position: 0 92%; }
.icon--designs--8   { background-position: 0 92.363636%; }
.icon--designs--80  { background-position: 0 92.727273%; }
.icon--designs--81  { background-position: 0 93.090909%; }
.icon--designs--82  { background-position: 0 93.454545%; }
.icon--designs--83  { background-position: 0 93.818182%; }
.icon--designs--84  { background-position: 0 94.181818%; }
.icon--designs--85  { background-position: 0 94.545455%; }
.icon--designs--86  { background-position: 0 94.909091%; }
.icon--designs--87  { background-position: 0 95.272727%; }
.icon--designs--88  { background-position: 0 95.636364%; }
.icon--designs--89  { background-position: 0 96%; }
.icon--designs--9   { background-position: 0 96.363636%; }
.icon--designs--90  { background-position: 0 96.727273%; }
.icon--designs--91  { background-position: 0 97.090909%; }
.icon--designs--92  { background-position: 0 97.454545%; }
.icon--designs--93  { background-position: 0 97.818182%; }
.icon--designs--94  { background-position: 0 98.181818%; }
.icon--designs--95  { background-position: 0 98.545455%; }
.icon--designs--96  { background-position: 0 98.909091%; }
.icon--designs--97  { background-position: 0 99.272727%; }
.icon--designs--98  { background-position: 0 99.636364%; }
.icon--designs--99  { background-position: 0 100%; }
