.icon--items {
  display: block;
  background-image: url("/assets/sprites/items.png");
  background-repeat: no-repeat;
  background-position: -100% -100%;
  background-size: 100%;
  max-width: 100%;
  overflow: hidden;
}
.icon--items--346 { background-position: 0 0; }
.icon--items--0   { background-position: 0 0.181818%; }
.icon--items--10  { background-position: 0 0.363636%; }
.icon--items--100 { background-position: 0 0.545455%; }
.icon--items--101 { background-position: 0 0.727273%; }
.icon--items--102 { background-position: 0 0.909091%; }
.icon--items--103 { background-position: 0 1.090909%; }
.icon--items--104 { background-position: 0 1.272727%; }
.icon--items--105 { background-position: 0 1.454545%; }
.icon--items--106 { background-position: 0 1.636364%; }
.icon--items--107 { background-position: 0 1.818182%; }
.icon--items--108 { background-position: 0 2%; }
.icon--items--109 { background-position: 0 2.181818%; }
.icon--items--11  { background-position: 0 2.363636%; }
.icon--items--110 { background-position: 0 2.545455%; }
.icon--items--111 { background-position: 0 2.727273%; }
.icon--items--112 { background-position: 0 2.909091%; }
.icon--items--113 { background-position: 0 3.090909%; }
.icon--items--114 { background-position: 0 3.272727%; }
.icon--items--115 { background-position: 0 3.454545%; }
.icon--items--116 { background-position: 0 3.636364%; }
.icon--items--117 { background-position: 0 3.818182%; }
.icon--items--118 { background-position: 0 4%; }
.icon--items--119 { background-position: 0 4.181818%; }
.icon--items--12  { background-position: 0 4.363636%; }
.icon--items--120 { background-position: 0 4.545455%; }
.icon--items--121 { background-position: 0 4.727273%; }
.icon--items--122 { background-position: 0 4.909091%; }
.icon--items--123 { background-position: 0 5.090909%; }
.icon--items--124 { background-position: 0 5.272727%; }
.icon--items--125 { background-position: 0 5.454545%; }
.icon--items--126 { background-position: 0 5.636364%; }
.icon--items--127 { background-position: 0 5.818182%; }
.icon--items--128 { background-position: 0 6%; }
.icon--items--129 { background-position: 0 6.181818%; }
.icon--items--13  { background-position: 0 6.363636%; }
.icon--items--130 { background-position: 0 6.545455%; }
.icon--items--131 { background-position: 0 6.727273%; }
.icon--items--132 { background-position: 0 6.909091%; }
.icon--items--133 { background-position: 0 7.090909%; }
.icon--items--134 { background-position: 0 7.272727%; }
.icon--items--135 { background-position: 0 7.454545%; }
.icon--items--136 { background-position: 0 7.636364%; }
.icon--items--137 { background-position: 0 7.818182%; }
.icon--items--138 { background-position: 0 8%; }
.icon--items--139 { background-position: 0 8.181818%; }
.icon--items--14  { background-position: 0 8.363636%; }
.icon--items--140 { background-position: 0 8.545455%; }
.icon--items--141 { background-position: 0 8.727273%; }
.icon--items--142 { background-position: 0 8.909091%; }
.icon--items--143 { background-position: 0 9.090909%; }
.icon--items--144 { background-position: 0 9.272727%; }
.icon--items--145 { background-position: 0 9.454545%; }
.icon--items--146 { background-position: 0 9.636364%; }
.icon--items--147 { background-position: 0 9.818182%; }
.icon--items--148 { background-position: 0 10%; }
.icon--items--149 { background-position: 0 10.181818%; }
.icon--items--15  { background-position: 0 10.363636%; }
.icon--items--150 { background-position: 0 10.545455%; }
.icon--items--151 { background-position: 0 10.727273%; }
.icon--items--152 { background-position: 0 10.909091%; }
.icon--items--153 { background-position: 0 11.090909%; }
.icon--items--154 { background-position: 0 11.272727%; }
.icon--items--155 { background-position: 0 11.454545%; }
.icon--items--156 { background-position: 0 11.636364%; }
.icon--items--157 { background-position: 0 11.818182%; }
.icon--items--158 { background-position: 0 12%; }
.icon--items--159 { background-position: 0 12.181818%; }
.icon--items--16  { background-position: 0 12.363636%; }
.icon--items--160 { background-position: 0 12.545455%; }
.icon--items--161 { background-position: 0 12.727273%; }
.icon--items--162 { background-position: 0 12.909091%; }
.icon--items--163 { background-position: 0 13.090909%; }
.icon--items--164 { background-position: 0 13.272727%; }
.icon--items--165 { background-position: 0 13.454545%; }
.icon--items--166 { background-position: 0 13.636364%; }
.icon--items--167 { background-position: 0 13.818182%; }
.icon--items--168 { background-position: 0 14%; }
.icon--items--169 { background-position: 0 14.181818%; }
.icon--items--17  { background-position: 0 14.363636%; }
.icon--items--170 { background-position: 0 14.545455%; }
.icon--items--171 { background-position: 0 14.727273%; }
.icon--items--172 { background-position: 0 14.909091%; }
.icon--items--173 { background-position: 0 15.090909%; }
.icon--items--174 { background-position: 0 15.272727%; }
.icon--items--175 { background-position: 0 15.454545%; }
.icon--items--176 { background-position: 0 15.636364%; }
.icon--items--177 { background-position: 0 15.818182%; }
.icon--items--178 { background-position: 0 16%; }
.icon--items--179 { background-position: 0 16.181818%; }
.icon--items--18  { background-position: 0 16.363636%; }
.icon--items--180 { background-position: 0 16.545455%; }
.icon--items--181 { background-position: 0 16.727273%; }
.icon--items--182 { background-position: 0 16.909091%; }
.icon--items--183 { background-position: 0 17.090909%; }
.icon--items--184 { background-position: 0 17.272727%; }
.icon--items--185 { background-position: 0 17.454545%; }
.icon--items--186 { background-position: 0 17.636364%; }
.icon--items--187 { background-position: 0 17.818182%; }
.icon--items--188 { background-position: 0 18%; }
.icon--items--189 { background-position: 0 18.181818%; }
.icon--items--19  { background-position: 0 18.363636%; }
.icon--items--190 { background-position: 0 18.545455%; }
.icon--items--191 { background-position: 0 18.727273%; }
.icon--items--192 { background-position: 0 18.909091%; }
.icon--items--193 { background-position: 0 19.090909%; }
.icon--items--194 { background-position: 0 19.272727%; }
.icon--items--195 { background-position: 0 19.454545%; }
.icon--items--196 { background-position: 0 19.636364%; }
.icon--items--197 { background-position: 0 19.818182%; }
.icon--items--198 { background-position: 0 20%; }
.icon--items--199 { background-position: 0 20.181818%; }
.icon--items--2   { background-position: 0 20.363636%; }
.icon--items--20  { background-position: 0 20.545455%; }
.icon--items--200 { background-position: 0 20.727273%; }
.icon--items--201 { background-position: 0 20.909091%; }
.icon--items--202 { background-position: 0 21.090909%; }
.icon--items--203 { background-position: 0 21.272727%; }
.icon--items--204 { background-position: 0 21.454545%; }
.icon--items--205 { background-position: 0 21.636364%; }
.icon--items--206 { background-position: 0 21.818182%; }
.icon--items--207 { background-position: 0 22%; }
.icon--items--208 { background-position: 0 22.181818%; }
.icon--items--209 { background-position: 0 22.363636%; }
.icon--items--21  { background-position: 0 22.545455%; }
.icon--items--210 { background-position: 0 22.727273%; }
.icon--items--211 { background-position: 0 22.909091%; }
.icon--items--212 { background-position: 0 23.090909%; }
.icon--items--213 { background-position: 0 23.272727%; }
.icon--items--214 { background-position: 0 23.454545%; }
.icon--items--215 { background-position: 0 23.636364%; }
.icon--items--216 { background-position: 0 23.818182%; }
.icon--items--217 { background-position: 0 24%; }
.icon--items--218 { background-position: 0 24.181818%; }
.icon--items--219 { background-position: 0 24.363636%; }
.icon--items--22  { background-position: 0 24.545455%; }
.icon--items--220 { background-position: 0 24.727273%; }
.icon--items--221 { background-position: 0 24.909091%; }
.icon--items--222 { background-position: 0 25.090909%; }
.icon--items--223 { background-position: 0 25.272727%; }
.icon--items--224 { background-position: 0 25.454545%; }
.icon--items--225 { background-position: 0 25.636364%; }
.icon--items--226 { background-position: 0 25.818182%; }
.icon--items--227 { background-position: 0 26%; }
.icon--items--228 { background-position: 0 26.181818%; }
.icon--items--229 { background-position: 0 26.363636%; }
.icon--items--23  { background-position: 0 26.545455%; }
.icon--items--230 { background-position: 0 26.727273%; }
.icon--items--231 { background-position: 0 26.909091%; }
.icon--items--232 { background-position: 0 27.090909%; }
.icon--items--233 { background-position: 0 27.272727%; }
.icon--items--234 { background-position: 0 27.454545%; }
.icon--items--235 { background-position: 0 27.636364%; }
.icon--items--236 { background-position: 0 27.818182%; }
.icon--items--237 { background-position: 0 28%; }
.icon--items--238 { background-position: 0 28.181818%; }
.icon--items--239 { background-position: 0 28.363636%; }
.icon--items--24  { background-position: 0 28.545455%; }
.icon--items--240 { background-position: 0 28.727273%; }
.icon--items--241 { background-position: 0 28.909091%; }
.icon--items--242 { background-position: 0 29.090909%; }
.icon--items--243 { background-position: 0 29.272727%; }
.icon--items--244 { background-position: 0 29.454545%; }
.icon--items--245 { background-position: 0 29.636364%; }
.icon--items--246 { background-position: 0 29.818182%; }
.icon--items--247 { background-position: 0 30%; }
.icon--items--248 { background-position: 0 30.181818%; }
.icon--items--249 { background-position: 0 30.363636%; }
.icon--items--25  { background-position: 0 30.545455%; }
.icon--items--250 { background-position: 0 30.727273%; }
.icon--items--251 { background-position: 0 30.909091%; }
.icon--items--252 { background-position: 0 31.090909%; }
.icon--items--253 { background-position: 0 31.272727%; }
.icon--items--254 { background-position: 0 31.454545%; }
.icon--items--255 { background-position: 0 31.636364%; }
.icon--items--256 { background-position: 0 31.818182%; }
.icon--items--257 { background-position: 0 32%; }
.icon--items--258 { background-position: 0 32.181818%; }
.icon--items--259 { background-position: 0 32.363636%; }
.icon--items--26  { background-position: 0 32.545455%; }
.icon--items--260 { background-position: 0 32.727273%; }
.icon--items--261 { background-position: 0 32.909091%; }
.icon--items--262 { background-position: 0 33.090909%; }
.icon--items--263 { background-position: 0 33.272727%; }
.icon--items--264 { background-position: 0 33.454545%; }
.icon--items--265 { background-position: 0 33.636364%; }
.icon--items--266 { background-position: 0 33.818182%; }
.icon--items--267 { background-position: 0 34%; }
.icon--items--268 { background-position: 0 34.181818%; }
.icon--items--269 { background-position: 0 34.363636%; }
.icon--items--27  { background-position: 0 34.545455%; }
.icon--items--270 { background-position: 0 34.727273%; }
.icon--items--271 { background-position: 0 34.909091%; }
.icon--items--272 { background-position: 0 35.090909%; }
.icon--items--273 { background-position: 0 35.272727%; }
.icon--items--274 { background-position: 0 35.454545%; }
.icon--items--275 { background-position: 0 35.636364%; }
.icon--items--276 { background-position: 0 35.818182%; }
.icon--items--277 { background-position: 0 36%; }
.icon--items--278 { background-position: 0 36.181818%; }
.icon--items--279 { background-position: 0 36.363636%; }
.icon--items--28  { background-position: 0 36.545455%; }
.icon--items--280 { background-position: 0 36.727273%; }
.icon--items--281 { background-position: 0 36.909091%; }
.icon--items--282 { background-position: 0 37.090909%; }
.icon--items--283 { background-position: 0 37.272727%; }
.icon--items--284 { background-position: 0 37.454545%; }
.icon--items--285 { background-position: 0 37.636364%; }
.icon--items--286 { background-position: 0 37.818182%; }
.icon--items--287 { background-position: 0 38%; }
.icon--items--288 { background-position: 0 38.181818%; }
.icon--items--289 { background-position: 0 38.363636%; }
.icon--items--29  { background-position: 0 38.545455%; }
.icon--items--290 { background-position: 0 38.727273%; }
.icon--items--291 { background-position: 0 38.909091%; }
.icon--items--292 { background-position: 0 39.090909%; }
.icon--items--293 { background-position: 0 39.272727%; }
.icon--items--294 { background-position: 0 39.454545%; }
.icon--items--295 { background-position: 0 39.636364%; }
.icon--items--296 { background-position: 0 39.818182%; }
.icon--items--297 { background-position: 0 40%; }
.icon--items--298 { background-position: 0 40.181818%; }
.icon--items--299 { background-position: 0 40.363636%; }
.icon--items--3   { background-position: 0 40.545455%; }
.icon--items--30  { background-position: 0 40.727273%; }
.icon--items--300 { background-position: 0 40.909091%; }
.icon--items--301 { background-position: 0 41.090909%; }
.icon--items--302 { background-position: 0 41.272727%; }
.icon--items--303 { background-position: 0 41.454545%; }
.icon--items--304 { background-position: 0 41.636364%; }
.icon--items--305 { background-position: 0 41.818182%; }
.icon--items--306 { background-position: 0 42%; }
.icon--items--307 { background-position: 0 42.181818%; }
.icon--items--308 { background-position: 0 42.363636%; }
.icon--items--309 { background-position: 0 42.545455%; }
.icon--items--31  { background-position: 0 42.727273%; }
.icon--items--310 { background-position: 0 42.909091%; }
.icon--items--311 { background-position: 0 43.090909%; }
.icon--items--312 { background-position: 0 43.272727%; }
.icon--items--313 { background-position: 0 43.454545%; }
.icon--items--314 { background-position: 0 43.636364%; }
.icon--items--315 { background-position: 0 43.818182%; }
.icon--items--316 { background-position: 0 44%; }
.icon--items--317 { background-position: 0 44.181818%; }
.icon--items--318 { background-position: 0 44.363636%; }
.icon--items--319 { background-position: 0 44.545455%; }
.icon--items--32  { background-position: 0 44.727273%; }
.icon--items--320 { background-position: 0 44.909091%; }
.icon--items--321 { background-position: 0 45.090909%; }
.icon--items--322 { background-position: 0 45.272727%; }
.icon--items--323 { background-position: 0 45.454545%; }
.icon--items--324 { background-position: 0 45.636364%; }
.icon--items--325 { background-position: 0 45.818182%; }
.icon--items--326 { background-position: 0 46%; }
.icon--items--327 { background-position: 0 46.181818%; }
.icon--items--328 { background-position: 0 46.363636%; }
.icon--items--329 { background-position: 0 46.545455%; }
.icon--items--33  { background-position: 0 46.727273%; }
.icon--items--330 { background-position: 0 46.909091%; }
.icon--items--331 { background-position: 0 47.090909%; }
.icon--items--332 { background-position: 0 47.272727%; }
.icon--items--333 { background-position: 0 47.454545%; }
.icon--items--334 { background-position: 0 47.636364%; }
.icon--items--335 { background-position: 0 47.818182%; }
.icon--items--336 { background-position: 0 48%; }
.icon--items--337 { background-position: 0 48.181818%; }
.icon--items--338 { background-position: 0 48.363636%; }
.icon--items--339 { background-position: 0 48.545455%; }
.icon--items--34  { background-position: 0 48.727273%; }
.icon--items--340 { background-position: 0 48.909091%; }
.icon--items--341 { background-position: 0 49.090909%; }
.icon--items--342 { background-position: 0 49.272727%; }
.icon--items--343 { background-position: 0 49.454545%; }
.icon--items--344 { background-position: 0 49.636364%; }
.icon--items--345 { background-position: 0 49.818182%; }
.icon--items--1   { background-position: 0 50%; }
.icon--items--347 { background-position: 0 50.181818%; }
.icon--items--348 { background-position: 0 50.363636%; }
.icon--items--349 { background-position: 0 50.545455%; }
.icon--items--35  { background-position: 0 50.727273%; }
.icon--items--350 { background-position: 0 50.909091%; }
.icon--items--351 { background-position: 0 51.090909%; }
.icon--items--352 { background-position: 0 51.272727%; }
.icon--items--353 { background-position: 0 51.454545%; }
.icon--items--354 { background-position: 0 51.636364%; }
.icon--items--355 { background-position: 0 51.818182%; }
.icon--items--356 { background-position: 0 52%; }
.icon--items--357 { background-position: 0 52.181818%; }
.icon--items--358 { background-position: 0 52.363636%; }
.icon--items--359 { background-position: 0 52.545455%; }
.icon--items--36  { background-position: 0 52.727273%; }
.icon--items--360 { background-position: 0 52.909091%; }
.icon--items--361 { background-position: 0 53.090909%; }
.icon--items--362 { background-position: 0 53.272727%; }
.icon--items--363 { background-position: 0 53.454545%; }
.icon--items--364 { background-position: 0 53.636364%; }
.icon--items--365 { background-position: 0 53.818182%; }
.icon--items--366 { background-position: 0 54%; }
.icon--items--367 { background-position: 0 54.181818%; }
.icon--items--368 { background-position: 0 54.363636%; }
.icon--items--369 { background-position: 0 54.545455%; }
.icon--items--37  { background-position: 0 54.727273%; }
.icon--items--370 { background-position: 0 54.909091%; }
.icon--items--371 { background-position: 0 55.090909%; }
.icon--items--372 { background-position: 0 55.272727%; }
.icon--items--373 { background-position: 0 55.454545%; }
.icon--items--374 { background-position: 0 55.636364%; }
.icon--items--375 { background-position: 0 55.818182%; }
.icon--items--376 { background-position: 0 56%; }
.icon--items--377 { background-position: 0 56.181818%; }
.icon--items--378 { background-position: 0 56.363636%; }
.icon--items--379 { background-position: 0 56.545455%; }
.icon--items--38  { background-position: 0 56.727273%; }
.icon--items--380 { background-position: 0 56.909091%; }
.icon--items--381 { background-position: 0 57.090909%; }
.icon--items--382 { background-position: 0 57.272727%; }
.icon--items--383 { background-position: 0 57.454545%; }
.icon--items--384 { background-position: 0 57.636364%; }
.icon--items--385 { background-position: 0 57.818182%; }
.icon--items--386 { background-position: 0 58%; }
.icon--items--387 { background-position: 0 58.181818%; }
.icon--items--388 { background-position: 0 58.363636%; }
.icon--items--389 { background-position: 0 58.545455%; }
.icon--items--39  { background-position: 0 58.727273%; }
.icon--items--390 { background-position: 0 58.909091%; }
.icon--items--391 { background-position: 0 59.090909%; }
.icon--items--392 { background-position: 0 59.272727%; }
.icon--items--393 { background-position: 0 59.454545%; }
.icon--items--394 { background-position: 0 59.636364%; }
.icon--items--395 { background-position: 0 59.818182%; }
.icon--items--396 { background-position: 0 60%; }
.icon--items--397 { background-position: 0 60.181818%; }
.icon--items--398 { background-position: 0 60.363636%; }
.icon--items--399 { background-position: 0 60.545455%; }
.icon--items--4   { background-position: 0 60.727273%; }
.icon--items--40  { background-position: 0 60.909091%; }
.icon--items--400 { background-position: 0 61.090909%; }
.icon--items--401 { background-position: 0 61.272727%; }
.icon--items--402 { background-position: 0 61.454545%; }
.icon--items--403 { background-position: 0 61.636364%; }
.icon--items--404 { background-position: 0 61.818182%; }
.icon--items--405 { background-position: 0 62%; }
.icon--items--406 { background-position: 0 62.181818%; }
.icon--items--407 { background-position: 0 62.363636%; }
.icon--items--408 { background-position: 0 62.545455%; }
.icon--items--409 { background-position: 0 62.727273%; }
.icon--items--41  { background-position: 0 62.909091%; }
.icon--items--410 { background-position: 0 63.090909%; }
.icon--items--411 { background-position: 0 63.272727%; }
.icon--items--412 { background-position: 0 63.454545%; }
.icon--items--413 { background-position: 0 63.636364%; }
.icon--items--414 { background-position: 0 63.818182%; }
.icon--items--415 { background-position: 0 64%; }
.icon--items--416 { background-position: 0 64.181818%; }
.icon--items--417 { background-position: 0 64.363636%; }
.icon--items--418 { background-position: 0 64.545455%; }
.icon--items--419 { background-position: 0 64.727273%; }
.icon--items--42  { background-position: 0 64.909091%; }
.icon--items--420 { background-position: 0 65.090909%; }
.icon--items--421 { background-position: 0 65.272727%; }
.icon--items--422 { background-position: 0 65.454545%; }
.icon--items--423 { background-position: 0 65.636364%; }
.icon--items--424 { background-position: 0 65.818182%; }
.icon--items--425 { background-position: 0 66%; }
.icon--items--426 { background-position: 0 66.181818%; }
.icon--items--427 { background-position: 0 66.363636%; }
.icon--items--428 { background-position: 0 66.545455%; }
.icon--items--429 { background-position: 0 66.727273%; }
.icon--items--43  { background-position: 0 66.909091%; }
.icon--items--430 { background-position: 0 67.090909%; }
.icon--items--431 { background-position: 0 67.272727%; }
.icon--items--432 { background-position: 0 67.454545%; }
.icon--items--433 { background-position: 0 67.636364%; }
.icon--items--434 { background-position: 0 67.818182%; }
.icon--items--435 { background-position: 0 68%; }
.icon--items--436 { background-position: 0 68.181818%; }
.icon--items--437 { background-position: 0 68.363636%; }
.icon--items--438 { background-position: 0 68.545455%; }
.icon--items--439 { background-position: 0 68.727273%; }
.icon--items--44  { background-position: 0 68.909091%; }
.icon--items--440 { background-position: 0 69.090909%; }
.icon--items--441 { background-position: 0 69.272727%; }
.icon--items--442 { background-position: 0 69.454545%; }
.icon--items--443 { background-position: 0 69.636364%; }
.icon--items--444 { background-position: 0 69.818182%; }
.icon--items--445 { background-position: 0 70%; }
.icon--items--446 { background-position: 0 70.181818%; }
.icon--items--447 { background-position: 0 70.363636%; }
.icon--items--448 { background-position: 0 70.545455%; }
.icon--items--449 { background-position: 0 70.727273%; }
.icon--items--45  { background-position: 0 70.909091%; }
.icon--items--450 { background-position: 0 71.090909%; }
.icon--items--451 { background-position: 0 71.272727%; }
.icon--items--452 { background-position: 0 71.454545%; }
.icon--items--453 { background-position: 0 71.636364%; }
.icon--items--454 { background-position: 0 71.818182%; }
.icon--items--455 { background-position: 0 72%; }
.icon--items--456 { background-position: 0 72.181818%; }
.icon--items--457 { background-position: 0 72.363636%; }
.icon--items--458 { background-position: 0 72.545455%; }
.icon--items--459 { background-position: 0 72.727273%; }
.icon--items--46  { background-position: 0 72.909091%; }
.icon--items--460 { background-position: 0 73.090909%; }
.icon--items--461 { background-position: 0 73.272727%; }
.icon--items--462 { background-position: 0 73.454545%; }
.icon--items--463 { background-position: 0 73.636364%; }
.icon--items--464 { background-position: 0 73.818182%; }
.icon--items--465 { background-position: 0 74%; }
.icon--items--466 { background-position: 0 74.181818%; }
.icon--items--467 { background-position: 0 74.363636%; }
.icon--items--468 { background-position: 0 74.545455%; }
.icon--items--469 { background-position: 0 74.727273%; }
.icon--items--47  { background-position: 0 74.909091%; }
.icon--items--470 { background-position: 0 75.090909%; }
.icon--items--471 { background-position: 0 75.272727%; }
.icon--items--472 { background-position: 0 75.454545%; }
.icon--items--473 { background-position: 0 75.636364%; }
.icon--items--474 { background-position: 0 75.818182%; }
.icon--items--475 { background-position: 0 76%; }
.icon--items--476 { background-position: 0 76.181818%; }
.icon--items--477 { background-position: 0 76.363636%; }
.icon--items--478 { background-position: 0 76.545455%; }
.icon--items--479 { background-position: 0 76.727273%; }
.icon--items--48  { background-position: 0 76.909091%; }
.icon--items--480 { background-position: 0 77.090909%; }
.icon--items--481 { background-position: 0 77.272727%; }
.icon--items--482 { background-position: 0 77.454545%; }
.icon--items--483 { background-position: 0 77.636364%; }
.icon--items--484 { background-position: 0 77.818182%; }
.icon--items--485 { background-position: 0 78%; }
.icon--items--486 { background-position: 0 78.181818%; }
.icon--items--487 { background-position: 0 78.363636%; }
.icon--items--488 { background-position: 0 78.545455%; }
.icon--items--489 { background-position: 0 78.727273%; }
.icon--items--49  { background-position: 0 78.909091%; }
.icon--items--490 { background-position: 0 79.090909%; }
.icon--items--491 { background-position: 0 79.272727%; }
.icon--items--492 { background-position: 0 79.454545%; }
.icon--items--493 { background-position: 0 79.636364%; }
.icon--items--494 { background-position: 0 79.818182%; }
.icon--items--495 { background-position: 0 80%; }
.icon--items--496 { background-position: 0 80.181818%; }
.icon--items--497 { background-position: 0 80.363636%; }
.icon--items--498 { background-position: 0 80.545455%; }
.icon--items--499 { background-position: 0 80.727273%; }
.icon--items--5   { background-position: 0 80.909091%; }
.icon--items--50  { background-position: 0 81.090909%; }
.icon--items--500 { background-position: 0 81.272727%; }
.icon--items--501 { background-position: 0 81.454545%; }
.icon--items--502 { background-position: 0 81.636364%; }
.icon--items--503 { background-position: 0 81.818182%; }
.icon--items--504 { background-position: 0 82%; }
.icon--items--505 { background-position: 0 82.181818%; }
.icon--items--506 { background-position: 0 82.363636%; }
.icon--items--507 { background-position: 0 82.545455%; }
.icon--items--508 { background-position: 0 82.727273%; }
.icon--items--509 { background-position: 0 82.909091%; }
.icon--items--51  { background-position: 0 83.090909%; }
.icon--items--510 { background-position: 0 83.272727%; }
.icon--items--511 { background-position: 0 83.454545%; }
.icon--items--512 { background-position: 0 83.636364%; }
.icon--items--513 { background-position: 0 83.818182%; }
.icon--items--514 { background-position: 0 84%; }
.icon--items--515 { background-position: 0 84.181818%; }
.icon--items--516 { background-position: 0 84.363636%; }
.icon--items--517 { background-position: 0 84.545455%; }
.icon--items--518 { background-position: 0 84.727273%; }
.icon--items--519 { background-position: 0 84.909091%; }
.icon--items--52  { background-position: 0 85.090909%; }
.icon--items--520 { background-position: 0 85.272727%; }
.icon--items--521 { background-position: 0 85.454545%; }
.icon--items--522 { background-position: 0 85.636364%; }
.icon--items--523 { background-position: 0 85.818182%; }
.icon--items--524 { background-position: 0 86%; }
.icon--items--525 { background-position: 0 86.181818%; }
.icon--items--526 { background-position: 0 86.363636%; }
.icon--items--527 { background-position: 0 86.545455%; }
.icon--items--528 { background-position: 0 86.727273%; }
.icon--items--529 { background-position: 0 86.909091%; }
.icon--items--53  { background-position: 0 87.090909%; }
.icon--items--530 { background-position: 0 87.272727%; }
.icon--items--531 { background-position: 0 87.454545%; }
.icon--items--532 { background-position: 0 87.636364%; }
.icon--items--533 { background-position: 0 87.818182%; }
.icon--items--534 { background-position: 0 88%; }
.icon--items--535 { background-position: 0 88.181818%; }
.icon--items--536 { background-position: 0 88.363636%; }
.icon--items--537 { background-position: 0 88.545455%; }
.icon--items--538 { background-position: 0 88.727273%; }
.icon--items--539 { background-position: 0 88.909091%; }
.icon--items--54  { background-position: 0 89.090909%; }
.icon--items--540 { background-position: 0 89.272727%; }
.icon--items--541 { background-position: 0 89.454545%; }
.icon--items--542 { background-position: 0 89.636364%; }
.icon--items--543 { background-position: 0 89.818182%; }
.icon--items--544 { background-position: 0 90%; }
.icon--items--545 { background-position: 0 90.181818%; }
.icon--items--546 { background-position: 0 90.363636%; }
.icon--items--547 { background-position: 0 90.545455%; }
.icon--items--548 { background-position: 0 90.727273%; }
.icon--items--549 { background-position: 0 90.909091%; }
.icon--items--55  { background-position: 0 91.090909%; }
.icon--items--550 { background-position: 0 91.272727%; }
.icon--items--56  { background-position: 0 91.454545%; }
.icon--items--57  { background-position: 0 91.636364%; }
.icon--items--58  { background-position: 0 91.818182%; }
.icon--items--59  { background-position: 0 92%; }
.icon--items--6   { background-position: 0 92.181818%; }
.icon--items--60  { background-position: 0 92.363636%; }
.icon--items--61  { background-position: 0 92.545455%; }
.icon--items--62  { background-position: 0 92.727273%; }
.icon--items--63  { background-position: 0 92.909091%; }
.icon--items--64  { background-position: 0 93.090909%; }
.icon--items--65  { background-position: 0 93.272727%; }
.icon--items--66  { background-position: 0 93.454545%; }
.icon--items--67  { background-position: 0 93.636364%; }
.icon--items--68  { background-position: 0 93.818182%; }
.icon--items--69  { background-position: 0 94%; }
.icon--items--7   { background-position: 0 94.181818%; }
.icon--items--70  { background-position: 0 94.363636%; }
.icon--items--71  { background-position: 0 94.545455%; }
.icon--items--72  { background-position: 0 94.727273%; }
.icon--items--73  { background-position: 0 94.909091%; }
.icon--items--74  { background-position: 0 95.090909%; }
.icon--items--75  { background-position: 0 95.272727%; }
.icon--items--76  { background-position: 0 95.454545%; }
.icon--items--77  { background-position: 0 95.636364%; }
.icon--items--78  { background-position: 0 95.818182%; }
.icon--items--79  { background-position: 0 96%; }
.icon--items--8   { background-position: 0 96.181818%; }
.icon--items--80  { background-position: 0 96.363636%; }
.icon--items--81  { background-position: 0 96.545455%; }
.icon--items--82  { background-position: 0 96.727273%; }
.icon--items--83  { background-position: 0 96.909091%; }
.icon--items--84  { background-position: 0 97.090909%; }
.icon--items--85  { background-position: 0 97.272727%; }
.icon--items--86  { background-position: 0 97.454545%; }
.icon--items--87  { background-position: 0 97.636364%; }
.icon--items--88  { background-position: 0 97.818182%; }
.icon--items--89  { background-position: 0 98%; }
.icon--items--9   { background-position: 0 98.181818%; }
.icon--items--90  { background-position: 0 98.363636%; }
.icon--items--91  { background-position: 0 98.545455%; }
.icon--items--92  { background-position: 0 98.727273%; }
.icon--items--93  { background-position: 0 98.909091%; }
.icon--items--94  { background-position: 0 99.090909%; }
.icon--items--95  { background-position: 0 99.272727%; }
.icon--items--96  { background-position: 0 99.454545%; }
.icon--items--97  { background-position: 0 99.636364%; }
.icon--items--98  { background-position: 0 99.818182%; }
.icon--items--99  { background-position: 0 100%; }
