.icon--items {
  display: block;
  background-image: url("assets/sprite-items.png");
  width: 20px;
  height: 20px;
}
.icon--items--0   { background-position: -64px 0px; }
.icon--items--1   { background-position: -64px -1024px; }
.icon--items--10  { background-position: 0px -64px; }
.icon--items--100 { background-position: -64px -64px; }
.icon--items--101 { background-position: -128px 0px; }
.icon--items--102 { background-position: -128px -64px; }
.icon--items--103 { background-position: 0px -128px; }
.icon--items--104 { background-position: -64px -128px; }
.icon--items--105 { background-position: -128px -128px; }
.icon--items--106 { background-position: -192px 0px; }
.icon--items--107 { background-position: -192px -64px; }
.icon--items--108 { background-position: -192px -128px; }
.icon--items--109 { background-position: 0px -192px; }
.icon--items--11  { background-position: -64px -192px; }
.icon--items--110 { background-position: -128px -192px; }
.icon--items--111 { background-position: -192px -192px; }
.icon--items--112 { background-position: -256px 0px; }
.icon--items--113 { background-position: -256px -64px; }
.icon--items--114 { background-position: -256px -128px; }
.icon--items--115 { background-position: -256px -192px; }
.icon--items--116 { background-position: 0px -256px; }
.icon--items--117 { background-position: -64px -256px; }
.icon--items--118 { background-position: -128px -256px; }
.icon--items--119 { background-position: -192px -256px; }
.icon--items--12  { background-position: -256px -256px; }
.icon--items--120 { background-position: -320px 0px; }
.icon--items--121 { background-position: -320px -64px; }
.icon--items--122 { background-position: -320px -128px; }
.icon--items--123 { background-position: -320px -192px; }
.icon--items--124 { background-position: -320px -256px; }
.icon--items--125 { background-position: 0px -320px; }
.icon--items--126 { background-position: -64px -320px; }
.icon--items--127 { background-position: -128px -320px; }
.icon--items--128 { background-position: -192px -320px; }
.icon--items--129 { background-position: -256px -320px; }
.icon--items--13  { background-position: -320px -320px; }
.icon--items--130 { background-position: -384px 0px; }
.icon--items--131 { background-position: -384px -64px; }
.icon--items--132 { background-position: -384px -128px; }
.icon--items--133 { background-position: -384px -192px; }
.icon--items--134 { background-position: -384px -256px; }
.icon--items--135 { background-position: -384px -320px; }
.icon--items--136 { background-position: 0px -384px; }
.icon--items--137 { background-position: -64px -384px; }
.icon--items--138 { background-position: -128px -384px; }
.icon--items--139 { background-position: -192px -384px; }
.icon--items--14  { background-position: -256px -384px; }
.icon--items--140 { background-position: -320px -384px; }
.icon--items--141 { background-position: -384px -384px; }
.icon--items--142 { background-position: -448px 0px; }
.icon--items--143 { background-position: -448px -64px; }
.icon--items--144 { background-position: -448px -128px; }
.icon--items--145 { background-position: -448px -192px; }
.icon--items--146 { background-position: -448px -256px; }
.icon--items--147 { background-position: -448px -320px; }
.icon--items--148 { background-position: -448px -384px; }
.icon--items--149 { background-position: 0px -448px; }
.icon--items--15  { background-position: -64px -448px; }
.icon--items--150 { background-position: -128px -448px; }
.icon--items--151 { background-position: -192px -448px; }
.icon--items--152 { background-position: -256px -448px; }
.icon--items--153 { background-position: -320px -448px; }
.icon--items--154 { background-position: -384px -448px; }
.icon--items--155 { background-position: -448px -448px; }
.icon--items--156 { background-position: -512px 0px; }
.icon--items--157 { background-position: -512px -64px; }
.icon--items--158 { background-position: -512px -128px; }
.icon--items--159 { background-position: -512px -192px; }
.icon--items--16  { background-position: -512px -256px; }
.icon--items--160 { background-position: -512px -320px; }
.icon--items--161 { background-position: -512px -384px; }
.icon--items--162 { background-position: -512px -448px; }
.icon--items--163 { background-position: 0px -512px; }
.icon--items--164 { background-position: -64px -512px; }
.icon--items--165 { background-position: -128px -512px; }
.icon--items--166 { background-position: -192px -512px; }
.icon--items--167 { background-position: -256px -512px; }
.icon--items--168 { background-position: -320px -512px; }
.icon--items--169 { background-position: -384px -512px; }
.icon--items--17  { background-position: -448px -512px; }
.icon--items--170 { background-position: -512px -512px; }
.icon--items--171 { background-position: -576px 0px; }
.icon--items--172 { background-position: -576px -64px; }
.icon--items--173 { background-position: -576px -128px; }
.icon--items--174 { background-position: -576px -192px; }
.icon--items--175 { background-position: -576px -256px; }
.icon--items--176 { background-position: -576px -320px; }
.icon--items--177 { background-position: -576px -384px; }
.icon--items--178 { background-position: -576px -448px; }
.icon--items--179 { background-position: -576px -512px; }
.icon--items--18  { background-position: 0px -576px; }
.icon--items--180 { background-position: -64px -576px; }
.icon--items--181 { background-position: -128px -576px; }
.icon--items--182 { background-position: -192px -576px; }
.icon--items--183 { background-position: -256px -576px; }
.icon--items--184 { background-position: -320px -576px; }
.icon--items--185 { background-position: -384px -576px; }
.icon--items--186 { background-position: -448px -576px; }
.icon--items--187 { background-position: -512px -576px; }
.icon--items--188 { background-position: -576px -576px; }
.icon--items--189 { background-position: -640px 0px; }
.icon--items--19  { background-position: -640px -64px; }
.icon--items--190 { background-position: -640px -128px; }
.icon--items--191 { background-position: -640px -192px; }
.icon--items--192 { background-position: -640px -256px; }
.icon--items--193 { background-position: -640px -320px; }
.icon--items--194 { background-position: -640px -384px; }
.icon--items--195 { background-position: -640px -448px; }
.icon--items--196 { background-position: -640px -512px; }
.icon--items--197 { background-position: -640px -576px; }
.icon--items--198 { background-position: 0px -640px; }
.icon--items--199 { background-position: -64px -640px; }
.icon--items--2   { background-position: -128px -640px; }
.icon--items--20  { background-position: -192px -640px; }
.icon--items--200 { background-position: -256px -640px; }
.icon--items--201 { background-position: -320px -640px; }
.icon--items--202 { background-position: -384px -640px; }
.icon--items--203 { background-position: -448px -640px; }
.icon--items--204 { background-position: -512px -640px; }
.icon--items--205 { background-position: -576px -640px; }
.icon--items--206 { background-position: -640px -640px; }
.icon--items--207 { background-position: -704px 0px; }
.icon--items--208 { background-position: -704px -64px; }
.icon--items--209 { background-position: -704px -128px; }
.icon--items--21  { background-position: -704px -192px; }
.icon--items--210 { background-position: -704px -256px; }
.icon--items--211 { background-position: -704px -320px; }
.icon--items--212 { background-position: -704px -384px; }
.icon--items--213 { background-position: -704px -448px; }
.icon--items--214 { background-position: -704px -512px; }
.icon--items--215 { background-position: -704px -576px; }
.icon--items--216 { background-position: -704px -640px; }
.icon--items--217 { background-position: 0px -704px; }
.icon--items--218 { background-position: -64px -704px; }
.icon--items--219 { background-position: -128px -704px; }
.icon--items--22  { background-position: -192px -704px; }
.icon--items--220 { background-position: -256px -704px; }
.icon--items--221 { background-position: -320px -704px; }
.icon--items--222 { background-position: -384px -704px; }
.icon--items--223 { background-position: -448px -704px; }
.icon--items--224 { background-position: -512px -704px; }
.icon--items--225 { background-position: -576px -704px; }
.icon--items--226 { background-position: -640px -704px; }
.icon--items--227 { background-position: -704px -704px; }
.icon--items--228 { background-position: -768px 0px; }
.icon--items--229 { background-position: -768px -64px; }
.icon--items--23  { background-position: -768px -128px; }
.icon--items--230 { background-position: -768px -192px; }
.icon--items--231 { background-position: -768px -256px; }
.icon--items--232 { background-position: -768px -320px; }
.icon--items--233 { background-position: -768px -384px; }
.icon--items--234 { background-position: -768px -448px; }
.icon--items--235 { background-position: -768px -512px; }
.icon--items--236 { background-position: -768px -576px; }
.icon--items--237 { background-position: -768px -640px; }
.icon--items--238 { background-position: -768px -704px; }
.icon--items--239 { background-position: 0px -768px; }
.icon--items--24  { background-position: -64px -768px; }
.icon--items--240 { background-position: -128px -768px; }
.icon--items--241 { background-position: -192px -768px; }
.icon--items--242 { background-position: -256px -768px; }
.icon--items--243 { background-position: -320px -768px; }
.icon--items--244 { background-position: -384px -768px; }
.icon--items--245 { background-position: -448px -768px; }
.icon--items--246 { background-position: -512px -768px; }
.icon--items--247 { background-position: -576px -768px; }
.icon--items--248 { background-position: -640px -768px; }
.icon--items--249 { background-position: -704px -768px; }
.icon--items--25  { background-position: -768px -768px; }
.icon--items--250 { background-position: -832px 0px; }
.icon--items--251 { background-position: -832px -64px; }
.icon--items--252 { background-position: -832px -128px; }
.icon--items--253 { background-position: -832px -192px; }
.icon--items--254 { background-position: -832px -256px; }
.icon--items--255 { background-position: -832px -320px; }
.icon--items--256 { background-position: -832px -384px; }
.icon--items--257 { background-position: -832px -448px; }
.icon--items--258 { background-position: -832px -512px; }
.icon--items--259 { background-position: -832px -576px; }
.icon--items--26  { background-position: -832px -640px; }
.icon--items--260 { background-position: -832px -704px; }
.icon--items--261 { background-position: -832px -768px; }
.icon--items--262 { background-position: 0px -832px; }
.icon--items--263 { background-position: -64px -832px; }
.icon--items--264 { background-position: -128px -832px; }
.icon--items--265 { background-position: -192px -832px; }
.icon--items--266 { background-position: -256px -832px; }
.icon--items--267 { background-position: -320px -832px; }
.icon--items--268 { background-position: -384px -832px; }
.icon--items--269 { background-position: -448px -832px; }
.icon--items--27  { background-position: -512px -832px; }
.icon--items--270 { background-position: -576px -832px; }
.icon--items--271 { background-position: -640px -832px; }
.icon--items--272 { background-position: -704px -832px; }
.icon--items--273 { background-position: -768px -832px; }
.icon--items--274 { background-position: -832px -832px; }
.icon--items--275 { background-position: -896px 0px; }
.icon--items--276 { background-position: -896px -64px; }
.icon--items--277 { background-position: -896px -128px; }
.icon--items--278 { background-position: -896px -192px; }
.icon--items--279 { background-position: -896px -256px; }
.icon--items--28  { background-position: -896px -320px; }
.icon--items--280 { background-position: -896px -384px; }
.icon--items--281 { background-position: -896px -448px; }
.icon--items--282 { background-position: -896px -512px; }
.icon--items--283 { background-position: -896px -576px; }
.icon--items--284 { background-position: -896px -640px; }
.icon--items--285 { background-position: -896px -704px; }
.icon--items--286 { background-position: -896px -768px; }
.icon--items--287 { background-position: -896px -832px; }
.icon--items--288 { background-position: 0px -896px; }
.icon--items--289 { background-position: -64px -896px; }
.icon--items--29  { background-position: -128px -896px; }
.icon--items--290 { background-position: -192px -896px; }
.icon--items--291 { background-position: -256px -896px; }
.icon--items--292 { background-position: -320px -896px; }
.icon--items--293 { background-position: -384px -896px; }
.icon--items--294 { background-position: -448px -896px; }
.icon--items--295 { background-position: -512px -896px; }
.icon--items--296 { background-position: -576px -896px; }
.icon--items--297 { background-position: -640px -896px; }
.icon--items--298 { background-position: -704px -896px; }
.icon--items--299 { background-position: -768px -896px; }
.icon--items--3   { background-position: -832px -896px; }
.icon--items--30  { background-position: -896px -896px; }
.icon--items--300 { background-position: -960px 0px; }
.icon--items--301 { background-position: -960px -64px; }
.icon--items--302 { background-position: -960px -128px; }
.icon--items--303 { background-position: -960px -192px; }
.icon--items--304 { background-position: -960px -256px; }
.icon--items--305 { background-position: -960px -320px; }
.icon--items--306 { background-position: -960px -384px; }
.icon--items--307 { background-position: -960px -448px; }
.icon--items--308 { background-position: -960px -512px; }
.icon--items--309 { background-position: -960px -576px; }
.icon--items--31  { background-position: -960px -640px; }
.icon--items--310 { background-position: -960px -704px; }
.icon--items--311 { background-position: -960px -768px; }
.icon--items--312 { background-position: -960px -832px; }
.icon--items--313 { background-position: -960px -896px; }
.icon--items--314 { background-position: 0px -960px; }
.icon--items--315 { background-position: -64px -960px; }
.icon--items--316 { background-position: -128px -960px; }
.icon--items--317 { background-position: -192px -960px; }
.icon--items--318 { background-position: -256px -960px; }
.icon--items--319 { background-position: -320px -960px; }
.icon--items--32  { background-position: -384px -960px; }
.icon--items--320 { background-position: -448px -960px; }
.icon--items--321 { background-position: -512px -960px; }
.icon--items--322 { background-position: -576px -960px; }
.icon--items--323 { background-position: -640px -960px; }
.icon--items--324 { background-position: -704px -960px; }
.icon--items--325 { background-position: -768px -960px; }
.icon--items--326 { background-position: -832px -960px; }
.icon--items--327 { background-position: -896px -960px; }
.icon--items--328 { background-position: -960px -960px; }
.icon--items--329 { background-position: -1024px 0px; }
.icon--items--33  { background-position: -1024px -64px; }
.icon--items--330 { background-position: -1024px -128px; }
.icon--items--331 { background-position: -1024px -192px; }
.icon--items--332 { background-position: -1024px -256px; }
.icon--items--333 { background-position: -1024px -320px; }
.icon--items--334 { background-position: -1024px -384px; }
.icon--items--335 { background-position: -1024px -448px; }
.icon--items--336 { background-position: -1024px -512px; }
.icon--items--337 { background-position: -1024px -576px; }
.icon--items--338 { background-position: -1024px -640px; }
.icon--items--339 { background-position: -1024px -704px; }
.icon--items--34  { background-position: -1024px -768px; }
.icon--items--340 { background-position: -1024px -832px; }
.icon--items--341 { background-position: -1024px -896px; }
.icon--items--342 { background-position: -1024px -960px; }
.icon--items--343 { background-position: 0px -1024px; }
.icon--items--344 { background-position: 0px 0px; }
.icon--items--345 { background-position: -128px -1024px; }
.icon--items--346 { background-position: -192px -1024px; }
.icon--items--347 { background-position: -256px -1024px; }
.icon--items--348 { background-position: -320px -1024px; }
.icon--items--349 { background-position: -384px -1024px; }
.icon--items--35  { background-position: -448px -1024px; }
.icon--items--350 { background-position: -512px -1024px; }
.icon--items--351 { background-position: -576px -1024px; }
.icon--items--352 { background-position: -640px -1024px; }
.icon--items--353 { background-position: -704px -1024px; }
.icon--items--354 { background-position: -768px -1024px; }
.icon--items--355 { background-position: -832px -1024px; }
.icon--items--356 { background-position: -896px -1024px; }
.icon--items--357 { background-position: -960px -1024px; }
.icon--items--358 { background-position: -1024px -1024px; }
.icon--items--359 { background-position: -1088px 0px; }
.icon--items--36  { background-position: -1088px -64px; }
.icon--items--360 { background-position: -1088px -128px; }
.icon--items--361 { background-position: -1088px -192px; }
.icon--items--362 { background-position: -1088px -256px; }
.icon--items--363 { background-position: -1088px -320px; }
.icon--items--364 { background-position: -1088px -384px; }
.icon--items--365 { background-position: -1088px -448px; }
.icon--items--366 { background-position: -1088px -512px; }
.icon--items--367 { background-position: -1088px -576px; }
.icon--items--368 { background-position: -1088px -640px; }
.icon--items--369 { background-position: -1088px -704px; }
.icon--items--37  { background-position: -1088px -768px; }
.icon--items--370 { background-position: -1088px -832px; }
.icon--items--371 { background-position: -1088px -896px; }
.icon--items--372 { background-position: -1088px -960px; }
.icon--items--373 { background-position: -1088px -1024px; }
.icon--items--374 { background-position: 0px -1088px; }
.icon--items--375 { background-position: -64px -1088px; }
.icon--items--376 { background-position: -128px -1088px; }
.icon--items--377 { background-position: -192px -1088px; }
.icon--items--378 { background-position: -256px -1088px; }
.icon--items--379 { background-position: -320px -1088px; }
.icon--items--38  { background-position: -384px -1088px; }
.icon--items--380 { background-position: -448px -1088px; }
.icon--items--381 { background-position: -512px -1088px; }
.icon--items--382 { background-position: -576px -1088px; }
.icon--items--383 { background-position: -640px -1088px; }
.icon--items--384 { background-position: -704px -1088px; }
.icon--items--385 { background-position: -768px -1088px; }
.icon--items--386 { background-position: -832px -1088px; }
.icon--items--387 { background-position: -896px -1088px; }
.icon--items--388 { background-position: -960px -1088px; }
.icon--items--389 { background-position: -1024px -1088px; }
.icon--items--39  { background-position: -1088px -1088px; }
.icon--items--390 { background-position: -1152px 0px; }
.icon--items--391 { background-position: -1152px -64px; }
.icon--items--392 { background-position: -1152px -128px; }
.icon--items--393 { background-position: -1152px -192px; }
.icon--items--394 { background-position: -1152px -256px; }
.icon--items--395 { background-position: -1152px -320px; }
.icon--items--396 { background-position: -1152px -384px; }
.icon--items--397 { background-position: -1152px -448px; }
.icon--items--398 { background-position: -1152px -512px; }
.icon--items--399 { background-position: -1152px -576px; }
.icon--items--4   { background-position: -1152px -640px; }
.icon--items--40  { background-position: -1152px -704px; }
.icon--items--400 { background-position: -1152px -768px; }
.icon--items--401 { background-position: -1152px -832px; }
.icon--items--402 { background-position: -1152px -896px; }
.icon--items--403 { background-position: -1152px -960px; }
.icon--items--404 { background-position: -1152px -1024px; }
.icon--items--405 { background-position: -1152px -1088px; }
.icon--items--406 { background-position: 0px -1152px; }
.icon--items--407 { background-position: -64px -1152px; }
.icon--items--408 { background-position: -128px -1152px; }
.icon--items--409 { background-position: -192px -1152px; }
.icon--items--41  { background-position: -256px -1152px; }
.icon--items--410 { background-position: -320px -1152px; }
.icon--items--411 { background-position: -384px -1152px; }
.icon--items--412 { background-position: -448px -1152px; }
.icon--items--413 { background-position: -512px -1152px; }
.icon--items--414 { background-position: -576px -1152px; }
.icon--items--415 { background-position: -640px -1152px; }
.icon--items--416 { background-position: -704px -1152px; }
.icon--items--417 { background-position: -768px -1152px; }
.icon--items--418 { background-position: -832px -1152px; }
.icon--items--419 { background-position: -896px -1152px; }
.icon--items--42  { background-position: -960px -1152px; }
.icon--items--420 { background-position: -1024px -1152px; }
.icon--items--421 { background-position: -1088px -1152px; }
.icon--items--422 { background-position: -1152px -1152px; }
.icon--items--423 { background-position: -1216px 0px; }
.icon--items--424 { background-position: -1216px -64px; }
.icon--items--425 { background-position: -1216px -128px; }
.icon--items--426 { background-position: -1216px -192px; }
.icon--items--427 { background-position: -1216px -256px; }
.icon--items--428 { background-position: -1216px -320px; }
.icon--items--429 { background-position: -1216px -384px; }
.icon--items--43  { background-position: -1216px -448px; }
.icon--items--430 { background-position: -1216px -512px; }
.icon--items--431 { background-position: -1216px -576px; }
.icon--items--432 { background-position: -1216px -640px; }
.icon--items--433 { background-position: -1216px -704px; }
.icon--items--434 { background-position: -1216px -768px; }
.icon--items--435 { background-position: -1216px -832px; }
.icon--items--436 { background-position: -1216px -896px; }
.icon--items--437 { background-position: -1216px -960px; }
.icon--items--438 { background-position: -1216px -1024px; }
.icon--items--439 { background-position: -1216px -1088px; }
.icon--items--44  { background-position: -1216px -1152px; }
.icon--items--440 { background-position: 0px -1216px; }
.icon--items--441 { background-position: -64px -1216px; }
.icon--items--442 { background-position: -128px -1216px; }
.icon--items--443 { background-position: -192px -1216px; }
.icon--items--444 { background-position: -256px -1216px; }
.icon--items--445 { background-position: -320px -1216px; }
.icon--items--446 { background-position: -384px -1216px; }
.icon--items--447 { background-position: -448px -1216px; }
.icon--items--448 { background-position: -512px -1216px; }
.icon--items--449 { background-position: -576px -1216px; }
.icon--items--45  { background-position: -640px -1216px; }
.icon--items--450 { background-position: -704px -1216px; }
.icon--items--451 { background-position: -768px -1216px; }
.icon--items--452 { background-position: -832px -1216px; }
.icon--items--453 { background-position: -896px -1216px; }
.icon--items--454 { background-position: -960px -1216px; }
.icon--items--455 { background-position: -1024px -1216px; }
.icon--items--456 { background-position: -1088px -1216px; }
.icon--items--457 { background-position: -1152px -1216px; }
.icon--items--458 { background-position: -1216px -1216px; }
.icon--items--459 { background-position: -1280px 0px; }
.icon--items--46  { background-position: -1280px -64px; }
.icon--items--460 { background-position: -1280px -128px; }
.icon--items--461 { background-position: -1280px -192px; }
.icon--items--462 { background-position: -1280px -256px; }
.icon--items--463 { background-position: -1280px -320px; }
.icon--items--464 { background-position: -1280px -384px; }
.icon--items--465 { background-position: -1280px -448px; }
.icon--items--466 { background-position: -1280px -512px; }
.icon--items--467 { background-position: -1280px -576px; }
.icon--items--468 { background-position: -1280px -640px; }
.icon--items--469 { background-position: -1280px -704px; }
.icon--items--47  { background-position: -1280px -768px; }
.icon--items--470 { background-position: -1280px -832px; }
.icon--items--471 { background-position: -1280px -896px; }
.icon--items--472 { background-position: -1280px -960px; }
.icon--items--473 { background-position: -1280px -1024px; }
.icon--items--474 { background-position: -1280px -1088px; }
.icon--items--475 { background-position: -1280px -1152px; }
.icon--items--476 { background-position: -1280px -1216px; }
.icon--items--477 { background-position: 0px -1280px; }
.icon--items--478 { background-position: -64px -1280px; }
.icon--items--479 { background-position: -128px -1280px; }
.icon--items--48  { background-position: -192px -1280px; }
.icon--items--480 { background-position: -256px -1280px; }
.icon--items--481 { background-position: -320px -1280px; }
.icon--items--482 { background-position: -384px -1280px; }
.icon--items--483 { background-position: -448px -1280px; }
.icon--items--484 { background-position: -512px -1280px; }
.icon--items--485 { background-position: -576px -1280px; }
.icon--items--486 { background-position: -640px -1280px; }
.icon--items--487 { background-position: -704px -1280px; }
.icon--items--488 { background-position: -768px -1280px; }
.icon--items--489 { background-position: -832px -1280px; }
.icon--items--49  { background-position: -896px -1280px; }
.icon--items--490 { background-position: -960px -1280px; }
.icon--items--491 { background-position: -1024px -1280px; }
.icon--items--492 { background-position: -1088px -1280px; }
.icon--items--493 { background-position: -1152px -1280px; }
.icon--items--494 { background-position: -1216px -1280px; }
.icon--items--495 { background-position: -1280px -1280px; }
.icon--items--496 { background-position: -1344px 0px; }
.icon--items--497 { background-position: -1344px -64px; }
.icon--items--498 { background-position: -1344px -128px; }
.icon--items--499 { background-position: -1344px -192px; }
.icon--items--5   { background-position: -1344px -256px; }
.icon--items--50  { background-position: -1344px -320px; }
.icon--items--500 { background-position: -1344px -384px; }
.icon--items--501 { background-position: -1344px -448px; }
.icon--items--502 { background-position: -1344px -512px; }
.icon--items--503 { background-position: -1344px -576px; }
.icon--items--504 { background-position: -1344px -640px; }
.icon--items--505 { background-position: -1344px -704px; }
.icon--items--506 { background-position: -1344px -768px; }
.icon--items--507 { background-position: -1344px -832px; }
.icon--items--508 { background-position: -1344px -896px; }
.icon--items--509 { background-position: -1344px -960px; }
.icon--items--51  { background-position: -1344px -1024px; }
.icon--items--510 { background-position: -1344px -1088px; }
.icon--items--511 { background-position: -1344px -1152px; }
.icon--items--512 { background-position: -1344px -1216px; }
.icon--items--513 { background-position: -1344px -1280px; }
.icon--items--514 { background-position: 0px -1344px; }
.icon--items--515 { background-position: -64px -1344px; }
.icon--items--516 { background-position: -128px -1344px; }
.icon--items--517 { background-position: -192px -1344px; }
.icon--items--518 { background-position: -256px -1344px; }
.icon--items--519 { background-position: -320px -1344px; }
.icon--items--52  { background-position: -384px -1344px; }
.icon--items--520 { background-position: -448px -1344px; }
.icon--items--521 { background-position: -512px -1344px; }
.icon--items--522 { background-position: -576px -1344px; }
.icon--items--523 { background-position: -640px -1344px; }
.icon--items--524 { background-position: -704px -1344px; }
.icon--items--525 { background-position: -768px -1344px; }
.icon--items--526 { background-position: -832px -1344px; }
.icon--items--527 { background-position: -896px -1344px; }
.icon--items--528 { background-position: -960px -1344px; }
.icon--items--529 { background-position: -1024px -1344px; }
.icon--items--53  { background-position: -1088px -1344px; }
.icon--items--530 { background-position: -1152px -1344px; }
.icon--items--531 { background-position: -1216px -1344px; }
.icon--items--532 { background-position: -1280px -1344px; }
.icon--items--533 { background-position: -1344px -1344px; }
.icon--items--534 { background-position: -1408px 0px; }
.icon--items--535 { background-position: -1408px -64px; }
.icon--items--536 { background-position: -1408px -128px; }
.icon--items--537 { background-position: -1408px -192px; }
.icon--items--538 { background-position: -1408px -256px; }
.icon--items--539 { background-position: -1408px -320px; }
.icon--items--54  { background-position: -1408px -384px; }
.icon--items--540 { background-position: -1408px -448px; }
.icon--items--541 { background-position: -1408px -512px; }
.icon--items--542 { background-position: -1408px -576px; }
.icon--items--543 { background-position: -1408px -640px; }
.icon--items--544 { background-position: -1408px -704px; }
.icon--items--545 { background-position: -1408px -768px; }
.icon--items--546 { background-position: -1408px -832px; }
.icon--items--55  { background-position: -1408px -896px; }
.icon--items--56  { background-position: -1408px -960px; }
.icon--items--57  { background-position: -1408px -1024px; }
.icon--items--58  { background-position: -1408px -1088px; }
.icon--items--59  { background-position: -1408px -1152px; }
.icon--items--6   { background-position: -1408px -1216px; }
.icon--items--60  { background-position: -1408px -1280px; }
.icon--items--61  { background-position: -1408px -1344px; }
.icon--items--62  { background-position: 0px -1408px; }
.icon--items--63  { background-position: -64px -1408px; }
.icon--items--64  { background-position: -128px -1408px; }
.icon--items--65  { background-position: -192px -1408px; }
.icon--items--66  { background-position: -256px -1408px; }
.icon--items--67  { background-position: -320px -1408px; }
.icon--items--68  { background-position: -384px -1408px; }
.icon--items--69  { background-position: -448px -1408px; }
.icon--items--7   { background-position: -512px -1408px; }
.icon--items--70  { background-position: -576px -1408px; }
.icon--items--71  { background-position: -640px -1408px; }
.icon--items--72  { background-position: -704px -1408px; }
.icon--items--73  { background-position: -768px -1408px; }
.icon--items--74  { background-position: -832px -1408px; }
.icon--items--75  { background-position: -896px -1408px; }
.icon--items--76  { background-position: -960px -1408px; }
.icon--items--77  { background-position: -1024px -1408px; }
.icon--items--78  { background-position: -1088px -1408px; }
.icon--items--79  { background-position: -1152px -1408px; }
.icon--items--8   { background-position: -1216px -1408px; }
.icon--items--80  { background-position: -1280px -1408px; }
.icon--items--81  { background-position: -1344px -1408px; }
.icon--items--82  { background-position: -1408px -1408px; }
.icon--items--83  { background-position: -1472px 0px; }
.icon--items--84  { background-position: -1472px -64px; }
.icon--items--85  { background-position: -1472px -128px; }
.icon--items--86  { background-position: -1472px -192px; }
.icon--items--87  { background-position: -1472px -256px; }
.icon--items--88  { background-position: -1472px -320px; }
.icon--items--89  { background-position: -1472px -384px; }
.icon--items--9   { background-position: -1472px -448px; }
.icon--items--90  { background-position: -1472px -512px; }
.icon--items--91  { background-position: -1472px -576px; }
.icon--items--92  { background-position: -1472px -640px; }
.icon--items--93  { background-position: -1472px -704px; }
.icon--items--94  { background-position: -1472px -768px; }
.icon--items--95  { background-position: -1472px -832px; }
.icon--items--96  { background-position: -1472px -896px; }
.icon--items--97  { background-position: -1472px -960px; }
.icon--items--98  { background-position: -1472px -1024px; }
.icon--items--99  { background-position: -1472px -1088px; }