.icon--items {
  display: block;
  background-image: url("/assets/sprites/items.png");
  background-repeat: no-repeat;
  background-position: -100% -100%;
  background-size: 100%;
  max-width: 100%;
  overflow: hidden;
}
.icon--items--344 { background-position: 0 0; }
.icon--items--0   { background-position: 0 0.18315%; }
.icon--items--10  { background-position: 0 0.3663%; }
.icon--items--100 { background-position: 0 0.549451%; }
.icon--items--101 { background-position: 0 0.732601%; }
.icon--items--102 { background-position: 0 0.915751%; }
.icon--items--103 { background-position: 0 1.098901%; }
.icon--items--104 { background-position: 0 1.282051%; }
.icon--items--105 { background-position: 0 1.465201%; }
.icon--items--106 { background-position: 0 1.648352%; }
.icon--items--107 { background-position: 0 1.831502%; }
.icon--items--108 { background-position: 0 2.014652%; }
.icon--items--109 { background-position: 0 2.197802%; }
.icon--items--11  { background-position: 0 2.380952%; }
.icon--items--110 { background-position: 0 2.564103%; }
.icon--items--111 { background-position: 0 2.747253%; }
.icon--items--112 { background-position: 0 2.930403%; }
.icon--items--113 { background-position: 0 3.113553%; }
.icon--items--114 { background-position: 0 3.296703%; }
.icon--items--115 { background-position: 0 3.479853%; }
.icon--items--116 { background-position: 0 3.663004%; }
.icon--items--117 { background-position: 0 3.846154%; }
.icon--items--118 { background-position: 0 4.029304%; }
.icon--items--119 { background-position: 0 4.212454%; }
.icon--items--12  { background-position: 0 4.395604%; }
.icon--items--120 { background-position: 0 4.578755%; }
.icon--items--121 { background-position: 0 4.761905%; }
.icon--items--122 { background-position: 0 4.945055%; }
.icon--items--123 { background-position: 0 5.128205%; }
.icon--items--124 { background-position: 0 5.311355%; }
.icon--items--125 { background-position: 0 5.494505%; }
.icon--items--126 { background-position: 0 5.677656%; }
.icon--items--127 { background-position: 0 5.860806%; }
.icon--items--128 { background-position: 0 6.043956%; }
.icon--items--129 { background-position: 0 6.227106%; }
.icon--items--13  { background-position: 0 6.410256%; }
.icon--items--130 { background-position: 0 6.593407%; }
.icon--items--131 { background-position: 0 6.776557%; }
.icon--items--132 { background-position: 0 6.959707%; }
.icon--items--133 { background-position: 0 7.142857%; }
.icon--items--134 { background-position: 0 7.326007%; }
.icon--items--135 { background-position: 0 7.509158%; }
.icon--items--136 { background-position: 0 7.692308%; }
.icon--items--137 { background-position: 0 7.875458%; }
.icon--items--138 { background-position: 0 8.058608%; }
.icon--items--139 { background-position: 0 8.241758%; }
.icon--items--14  { background-position: 0 8.424908%; }
.icon--items--140 { background-position: 0 8.608059%; }
.icon--items--141 { background-position: 0 8.791209%; }
.icon--items--142 { background-position: 0 8.974359%; }
.icon--items--143 { background-position: 0 9.157509%; }
.icon--items--144 { background-position: 0 9.340659%; }
.icon--items--145 { background-position: 0 9.52381%; }
.icon--items--146 { background-position: 0 9.70696%; }
.icon--items--147 { background-position: 0 9.89011%; }
.icon--items--148 { background-position: 0 10.07326%; }
.icon--items--149 { background-position: 0 10.25641%; }
.icon--items--15  { background-position: 0 10.43956%; }
.icon--items--150 { background-position: 0 10.622711%; }
.icon--items--151 { background-position: 0 10.805861%; }
.icon--items--152 { background-position: 0 10.989011%; }
.icon--items--153 { background-position: 0 11.172161%; }
.icon--items--154 { background-position: 0 11.355311%; }
.icon--items--155 { background-position: 0 11.538462%; }
.icon--items--156 { background-position: 0 11.721612%; }
.icon--items--157 { background-position: 0 11.904762%; }
.icon--items--158 { background-position: 0 12.087912%; }
.icon--items--159 { background-position: 0 12.271062%; }
.icon--items--16  { background-position: 0 12.454212%; }
.icon--items--160 { background-position: 0 12.637363%; }
.icon--items--161 { background-position: 0 12.820513%; }
.icon--items--162 { background-position: 0 13.003663%; }
.icon--items--163 { background-position: 0 13.186813%; }
.icon--items--164 { background-position: 0 13.369963%; }
.icon--items--165 { background-position: 0 13.553114%; }
.icon--items--166 { background-position: 0 13.736264%; }
.icon--items--167 { background-position: 0 13.919414%; }
.icon--items--168 { background-position: 0 14.102564%; }
.icon--items--169 { background-position: 0 14.285714%; }
.icon--items--17  { background-position: 0 14.468864%; }
.icon--items--170 { background-position: 0 14.652015%; }
.icon--items--171 { background-position: 0 14.835165%; }
.icon--items--172 { background-position: 0 15.018315%; }
.icon--items--173 { background-position: 0 15.201465%; }
.icon--items--174 { background-position: 0 15.384615%; }
.icon--items--175 { background-position: 0 15.567766%; }
.icon--items--176 { background-position: 0 15.750916%; }
.icon--items--177 { background-position: 0 15.934066%; }
.icon--items--178 { background-position: 0 16.117216%; }
.icon--items--179 { background-position: 0 16.300366%; }
.icon--items--18  { background-position: 0 16.483516%; }
.icon--items--180 { background-position: 0 16.666667%; }
.icon--items--181 { background-position: 0 16.849817%; }
.icon--items--182 { background-position: 0 17.032967%; }
.icon--items--183 { background-position: 0 17.216117%; }
.icon--items--184 { background-position: 0 17.399267%; }
.icon--items--185 { background-position: 0 17.582418%; }
.icon--items--186 { background-position: 0 17.765568%; }
.icon--items--187 { background-position: 0 17.948718%; }
.icon--items--188 { background-position: 0 18.131868%; }
.icon--items--189 { background-position: 0 18.315018%; }
.icon--items--19  { background-position: 0 18.498168%; }
.icon--items--190 { background-position: 0 18.681319%; }
.icon--items--191 { background-position: 0 18.864469%; }
.icon--items--192 { background-position: 0 19.047619%; }
.icon--items--193 { background-position: 0 19.230769%; }
.icon--items--194 { background-position: 0 19.413919%; }
.icon--items--195 { background-position: 0 19.59707%; }
.icon--items--196 { background-position: 0 19.78022%; }
.icon--items--197 { background-position: 0 19.96337%; }
.icon--items--198 { background-position: 0 20.14652%; }
.icon--items--199 { background-position: 0 20.32967%; }
.icon--items--2   { background-position: 0 20.512821%; }
.icon--items--20  { background-position: 0 20.695971%; }
.icon--items--200 { background-position: 0 20.879121%; }
.icon--items--201 { background-position: 0 21.062271%; }
.icon--items--202 { background-position: 0 21.245421%; }
.icon--items--203 { background-position: 0 21.428571%; }
.icon--items--204 { background-position: 0 21.611722%; }
.icon--items--205 { background-position: 0 21.794872%; }
.icon--items--206 { background-position: 0 21.978022%; }
.icon--items--207 { background-position: 0 22.161172%; }
.icon--items--208 { background-position: 0 22.344322%; }
.icon--items--209 { background-position: 0 22.527473%; }
.icon--items--21  { background-position: 0 22.710623%; }
.icon--items--210 { background-position: 0 22.893773%; }
.icon--items--211 { background-position: 0 23.076923%; }
.icon--items--212 { background-position: 0 23.260073%; }
.icon--items--213 { background-position: 0 23.443223%; }
.icon--items--214 { background-position: 0 23.626374%; }
.icon--items--215 { background-position: 0 23.809524%; }
.icon--items--216 { background-position: 0 23.992674%; }
.icon--items--217 { background-position: 0 24.175824%; }
.icon--items--218 { background-position: 0 24.358974%; }
.icon--items--219 { background-position: 0 24.542125%; }
.icon--items--22  { background-position: 0 24.725275%; }
.icon--items--220 { background-position: 0 24.908425%; }
.icon--items--221 { background-position: 0 25.091575%; }
.icon--items--222 { background-position: 0 25.274725%; }
.icon--items--223 { background-position: 0 25.457875%; }
.icon--items--224 { background-position: 0 25.641026%; }
.icon--items--225 { background-position: 0 25.824176%; }
.icon--items--226 { background-position: 0 26.007326%; }
.icon--items--227 { background-position: 0 26.190476%; }
.icon--items--228 { background-position: 0 26.373626%; }
.icon--items--229 { background-position: 0 26.556777%; }
.icon--items--23  { background-position: 0 26.739927%; }
.icon--items--230 { background-position: 0 26.923077%; }
.icon--items--231 { background-position: 0 27.106227%; }
.icon--items--232 { background-position: 0 27.289377%; }
.icon--items--233 { background-position: 0 27.472527%; }
.icon--items--234 { background-position: 0 27.655678%; }
.icon--items--235 { background-position: 0 27.838828%; }
.icon--items--236 { background-position: 0 28.021978%; }
.icon--items--237 { background-position: 0 28.205128%; }
.icon--items--238 { background-position: 0 28.388278%; }
.icon--items--239 { background-position: 0 28.571429%; }
.icon--items--24  { background-position: 0 28.754579%; }
.icon--items--240 { background-position: 0 28.937729%; }
.icon--items--241 { background-position: 0 29.120879%; }
.icon--items--242 { background-position: 0 29.304029%; }
.icon--items--243 { background-position: 0 29.487179%; }
.icon--items--244 { background-position: 0 29.67033%; }
.icon--items--245 { background-position: 0 29.85348%; }
.icon--items--246 { background-position: 0 30.03663%; }
.icon--items--247 { background-position: 0 30.21978%; }
.icon--items--248 { background-position: 0 30.40293%; }
.icon--items--249 { background-position: 0 30.586081%; }
.icon--items--25  { background-position: 0 30.769231%; }
.icon--items--250 { background-position: 0 30.952381%; }
.icon--items--251 { background-position: 0 31.135531%; }
.icon--items--252 { background-position: 0 31.318681%; }
.icon--items--253 { background-position: 0 31.501832%; }
.icon--items--254 { background-position: 0 31.684982%; }
.icon--items--255 { background-position: 0 31.868132%; }
.icon--items--256 { background-position: 0 32.051282%; }
.icon--items--257 { background-position: 0 32.234432%; }
.icon--items--258 { background-position: 0 32.417582%; }
.icon--items--259 { background-position: 0 32.600733%; }
.icon--items--26  { background-position: 0 32.783883%; }
.icon--items--260 { background-position: 0 32.967033%; }
.icon--items--261 { background-position: 0 33.150183%; }
.icon--items--262 { background-position: 0 33.333333%; }
.icon--items--263 { background-position: 0 33.516484%; }
.icon--items--264 { background-position: 0 33.699634%; }
.icon--items--265 { background-position: 0 33.882784%; }
.icon--items--266 { background-position: 0 34.065934%; }
.icon--items--267 { background-position: 0 34.249084%; }
.icon--items--268 { background-position: 0 34.432234%; }
.icon--items--269 { background-position: 0 34.615385%; }
.icon--items--27  { background-position: 0 34.798535%; }
.icon--items--270 { background-position: 0 34.981685%; }
.icon--items--271 { background-position: 0 35.164835%; }
.icon--items--272 { background-position: 0 35.347985%; }
.icon--items--273 { background-position: 0 35.531136%; }
.icon--items--274 { background-position: 0 35.714286%; }
.icon--items--275 { background-position: 0 35.897436%; }
.icon--items--276 { background-position: 0 36.080586%; }
.icon--items--277 { background-position: 0 36.263736%; }
.icon--items--278 { background-position: 0 36.446886%; }
.icon--items--279 { background-position: 0 36.630037%; }
.icon--items--28  { background-position: 0 36.813187%; }
.icon--items--280 { background-position: 0 36.996337%; }
.icon--items--281 { background-position: 0 37.179487%; }
.icon--items--282 { background-position: 0 37.362637%; }
.icon--items--283 { background-position: 0 37.545788%; }
.icon--items--284 { background-position: 0 37.728938%; }
.icon--items--285 { background-position: 0 37.912088%; }
.icon--items--286 { background-position: 0 38.095238%; }
.icon--items--287 { background-position: 0 38.278388%; }
.icon--items--288 { background-position: 0 38.461538%; }
.icon--items--289 { background-position: 0 38.644689%; }
.icon--items--29  { background-position: 0 38.827839%; }
.icon--items--290 { background-position: 0 39.010989%; }
.icon--items--291 { background-position: 0 39.194139%; }
.icon--items--292 { background-position: 0 39.377289%; }
.icon--items--293 { background-position: 0 39.56044%; }
.icon--items--294 { background-position: 0 39.74359%; }
.icon--items--295 { background-position: 0 39.92674%; }
.icon--items--296 { background-position: 0 40.10989%; }
.icon--items--297 { background-position: 0 40.29304%; }
.icon--items--298 { background-position: 0 40.47619%; }
.icon--items--299 { background-position: 0 40.659341%; }
.icon--items--3   { background-position: 0 40.842491%; }
.icon--items--30  { background-position: 0 41.025641%; }
.icon--items--300 { background-position: 0 41.208791%; }
.icon--items--301 { background-position: 0 41.391941%; }
.icon--items--302 { background-position: 0 41.575092%; }
.icon--items--303 { background-position: 0 41.758242%; }
.icon--items--304 { background-position: 0 41.941392%; }
.icon--items--305 { background-position: 0 42.124542%; }
.icon--items--306 { background-position: 0 42.307692%; }
.icon--items--307 { background-position: 0 42.490842%; }
.icon--items--308 { background-position: 0 42.673993%; }
.icon--items--309 { background-position: 0 42.857143%; }
.icon--items--31  { background-position: 0 43.040293%; }
.icon--items--310 { background-position: 0 43.223443%; }
.icon--items--311 { background-position: 0 43.406593%; }
.icon--items--312 { background-position: 0 43.589744%; }
.icon--items--313 { background-position: 0 43.772894%; }
.icon--items--314 { background-position: 0 43.956044%; }
.icon--items--315 { background-position: 0 44.139194%; }
.icon--items--316 { background-position: 0 44.322344%; }
.icon--items--317 { background-position: 0 44.505495%; }
.icon--items--318 { background-position: 0 44.688645%; }
.icon--items--319 { background-position: 0 44.871795%; }
.icon--items--32  { background-position: 0 45.054945%; }
.icon--items--320 { background-position: 0 45.238095%; }
.icon--items--321 { background-position: 0 45.421245%; }
.icon--items--322 { background-position: 0 45.604396%; }
.icon--items--323 { background-position: 0 45.787546%; }
.icon--items--324 { background-position: 0 45.970696%; }
.icon--items--325 { background-position: 0 46.153846%; }
.icon--items--326 { background-position: 0 46.336996%; }
.icon--items--327 { background-position: 0 46.520147%; }
.icon--items--328 { background-position: 0 46.703297%; }
.icon--items--329 { background-position: 0 46.886447%; }
.icon--items--33  { background-position: 0 47.069597%; }
.icon--items--330 { background-position: 0 47.252747%; }
.icon--items--331 { background-position: 0 47.435897%; }
.icon--items--332 { background-position: 0 47.619048%; }
.icon--items--333 { background-position: 0 47.802198%; }
.icon--items--334 { background-position: 0 47.985348%; }
.icon--items--335 { background-position: 0 48.168498%; }
.icon--items--336 { background-position: 0 48.351648%; }
.icon--items--337 { background-position: 0 48.534799%; }
.icon--items--338 { background-position: 0 48.717949%; }
.icon--items--339 { background-position: 0 48.901099%; }
.icon--items--34  { background-position: 0 49.084249%; }
.icon--items--340 { background-position: 0 49.267399%; }
.icon--items--341 { background-position: 0 49.450549%; }
.icon--items--342 { background-position: 0 49.6337%; }
.icon--items--343 { background-position: 0 49.81685%; }
.icon--items--1   { background-position: 0 50%; }
.icon--items--345 { background-position: 0 50.18315%; }
.icon--items--346 { background-position: 0 50.3663%; }
.icon--items--347 { background-position: 0 50.549451%; }
.icon--items--348 { background-position: 0 50.732601%; }
.icon--items--349 { background-position: 0 50.915751%; }
.icon--items--35  { background-position: 0 51.098901%; }
.icon--items--350 { background-position: 0 51.282051%; }
.icon--items--351 { background-position: 0 51.465201%; }
.icon--items--352 { background-position: 0 51.648352%; }
.icon--items--353 { background-position: 0 51.831502%; }
.icon--items--354 { background-position: 0 52.014652%; }
.icon--items--355 { background-position: 0 52.197802%; }
.icon--items--356 { background-position: 0 52.380952%; }
.icon--items--357 { background-position: 0 52.564103%; }
.icon--items--358 { background-position: 0 52.747253%; }
.icon--items--359 { background-position: 0 52.930403%; }
.icon--items--36  { background-position: 0 53.113553%; }
.icon--items--360 { background-position: 0 53.296703%; }
.icon--items--361 { background-position: 0 53.479853%; }
.icon--items--362 { background-position: 0 53.663004%; }
.icon--items--363 { background-position: 0 53.846154%; }
.icon--items--364 { background-position: 0 54.029304%; }
.icon--items--365 { background-position: 0 54.212454%; }
.icon--items--366 { background-position: 0 54.395604%; }
.icon--items--367 { background-position: 0 54.578755%; }
.icon--items--368 { background-position: 0 54.761905%; }
.icon--items--369 { background-position: 0 54.945055%; }
.icon--items--37  { background-position: 0 55.128205%; }
.icon--items--370 { background-position: 0 55.311355%; }
.icon--items--371 { background-position: 0 55.494505%; }
.icon--items--372 { background-position: 0 55.677656%; }
.icon--items--373 { background-position: 0 55.860806%; }
.icon--items--374 { background-position: 0 56.043956%; }
.icon--items--375 { background-position: 0 56.227106%; }
.icon--items--376 { background-position: 0 56.410256%; }
.icon--items--377 { background-position: 0 56.593407%; }
.icon--items--378 { background-position: 0 56.776557%; }
.icon--items--379 { background-position: 0 56.959707%; }
.icon--items--38  { background-position: 0 57.142857%; }
.icon--items--380 { background-position: 0 57.326007%; }
.icon--items--381 { background-position: 0 57.509158%; }
.icon--items--382 { background-position: 0 57.692308%; }
.icon--items--383 { background-position: 0 57.875458%; }
.icon--items--384 { background-position: 0 58.058608%; }
.icon--items--385 { background-position: 0 58.241758%; }
.icon--items--386 { background-position: 0 58.424908%; }
.icon--items--387 { background-position: 0 58.608059%; }
.icon--items--388 { background-position: 0 58.791209%; }
.icon--items--389 { background-position: 0 58.974359%; }
.icon--items--39  { background-position: 0 59.157509%; }
.icon--items--390 { background-position: 0 59.340659%; }
.icon--items--391 { background-position: 0 59.52381%; }
.icon--items--392 { background-position: 0 59.70696%; }
.icon--items--393 { background-position: 0 59.89011%; }
.icon--items--394 { background-position: 0 60.07326%; }
.icon--items--395 { background-position: 0 60.25641%; }
.icon--items--396 { background-position: 0 60.43956%; }
.icon--items--397 { background-position: 0 60.622711%; }
.icon--items--398 { background-position: 0 60.805861%; }
.icon--items--399 { background-position: 0 60.989011%; }
.icon--items--4   { background-position: 0 61.172161%; }
.icon--items--40  { background-position: 0 61.355311%; }
.icon--items--400 { background-position: 0 61.538462%; }
.icon--items--401 { background-position: 0 61.721612%; }
.icon--items--402 { background-position: 0 61.904762%; }
.icon--items--403 { background-position: 0 62.087912%; }
.icon--items--404 { background-position: 0 62.271062%; }
.icon--items--405 { background-position: 0 62.454212%; }
.icon--items--406 { background-position: 0 62.637363%; }
.icon--items--407 { background-position: 0 62.820513%; }
.icon--items--408 { background-position: 0 63.003663%; }
.icon--items--409 { background-position: 0 63.186813%; }
.icon--items--41  { background-position: 0 63.369963%; }
.icon--items--410 { background-position: 0 63.553114%; }
.icon--items--411 { background-position: 0 63.736264%; }
.icon--items--412 { background-position: 0 63.919414%; }
.icon--items--413 { background-position: 0 64.102564%; }
.icon--items--414 { background-position: 0 64.285714%; }
.icon--items--415 { background-position: 0 64.468864%; }
.icon--items--416 { background-position: 0 64.652015%; }
.icon--items--417 { background-position: 0 64.835165%; }
.icon--items--418 { background-position: 0 65.018315%; }
.icon--items--419 { background-position: 0 65.201465%; }
.icon--items--42  { background-position: 0 65.384615%; }
.icon--items--420 { background-position: 0 65.567766%; }
.icon--items--421 { background-position: 0 65.750916%; }
.icon--items--422 { background-position: 0 65.934066%; }
.icon--items--423 { background-position: 0 66.117216%; }
.icon--items--424 { background-position: 0 66.300366%; }
.icon--items--425 { background-position: 0 66.483516%; }
.icon--items--426 { background-position: 0 66.666667%; }
.icon--items--427 { background-position: 0 66.849817%; }
.icon--items--428 { background-position: 0 67.032967%; }
.icon--items--429 { background-position: 0 67.216117%; }
.icon--items--43  { background-position: 0 67.399267%; }
.icon--items--430 { background-position: 0 67.582418%; }
.icon--items--431 { background-position: 0 67.765568%; }
.icon--items--432 { background-position: 0 67.948718%; }
.icon--items--433 { background-position: 0 68.131868%; }
.icon--items--434 { background-position: 0 68.315018%; }
.icon--items--435 { background-position: 0 68.498168%; }
.icon--items--436 { background-position: 0 68.681319%; }
.icon--items--437 { background-position: 0 68.864469%; }
.icon--items--438 { background-position: 0 69.047619%; }
.icon--items--439 { background-position: 0 69.230769%; }
.icon--items--44  { background-position: 0 69.413919%; }
.icon--items--440 { background-position: 0 69.59707%; }
.icon--items--441 { background-position: 0 69.78022%; }
.icon--items--442 { background-position: 0 69.96337%; }
.icon--items--443 { background-position: 0 70.14652%; }
.icon--items--444 { background-position: 0 70.32967%; }
.icon--items--445 { background-position: 0 70.512821%; }
.icon--items--446 { background-position: 0 70.695971%; }
.icon--items--447 { background-position: 0 70.879121%; }
.icon--items--448 { background-position: 0 71.062271%; }
.icon--items--449 { background-position: 0 71.245421%; }
.icon--items--45  { background-position: 0 71.428571%; }
.icon--items--450 { background-position: 0 71.611722%; }
.icon--items--451 { background-position: 0 71.794872%; }
.icon--items--452 { background-position: 0 71.978022%; }
.icon--items--453 { background-position: 0 72.161172%; }
.icon--items--454 { background-position: 0 72.344322%; }
.icon--items--455 { background-position: 0 72.527473%; }
.icon--items--456 { background-position: 0 72.710623%; }
.icon--items--457 { background-position: 0 72.893773%; }
.icon--items--458 { background-position: 0 73.076923%; }
.icon--items--459 { background-position: 0 73.260073%; }
.icon--items--46  { background-position: 0 73.443223%; }
.icon--items--460 { background-position: 0 73.626374%; }
.icon--items--461 { background-position: 0 73.809524%; }
.icon--items--462 { background-position: 0 73.992674%; }
.icon--items--463 { background-position: 0 74.175824%; }
.icon--items--464 { background-position: 0 74.358974%; }
.icon--items--465 { background-position: 0 74.542125%; }
.icon--items--466 { background-position: 0 74.725275%; }
.icon--items--467 { background-position: 0 74.908425%; }
.icon--items--468 { background-position: 0 75.091575%; }
.icon--items--469 { background-position: 0 75.274725%; }
.icon--items--47  { background-position: 0 75.457875%; }
.icon--items--470 { background-position: 0 75.641026%; }
.icon--items--471 { background-position: 0 75.824176%; }
.icon--items--472 { background-position: 0 76.007326%; }
.icon--items--473 { background-position: 0 76.190476%; }
.icon--items--474 { background-position: 0 76.373626%; }
.icon--items--475 { background-position: 0 76.556777%; }
.icon--items--476 { background-position: 0 76.739927%; }
.icon--items--477 { background-position: 0 76.923077%; }
.icon--items--478 { background-position: 0 77.106227%; }
.icon--items--479 { background-position: 0 77.289377%; }
.icon--items--48  { background-position: 0 77.472527%; }
.icon--items--480 { background-position: 0 77.655678%; }
.icon--items--481 { background-position: 0 77.838828%; }
.icon--items--482 { background-position: 0 78.021978%; }
.icon--items--483 { background-position: 0 78.205128%; }
.icon--items--484 { background-position: 0 78.388278%; }
.icon--items--485 { background-position: 0 78.571429%; }
.icon--items--486 { background-position: 0 78.754579%; }
.icon--items--487 { background-position: 0 78.937729%; }
.icon--items--488 { background-position: 0 79.120879%; }
.icon--items--489 { background-position: 0 79.304029%; }
.icon--items--49  { background-position: 0 79.487179%; }
.icon--items--490 { background-position: 0 79.67033%; }
.icon--items--491 { background-position: 0 79.85348%; }
.icon--items--492 { background-position: 0 80.03663%; }
.icon--items--493 { background-position: 0 80.21978%; }
.icon--items--494 { background-position: 0 80.40293%; }
.icon--items--495 { background-position: 0 80.586081%; }
.icon--items--496 { background-position: 0 80.769231%; }
.icon--items--497 { background-position: 0 80.952381%; }
.icon--items--498 { background-position: 0 81.135531%; }
.icon--items--499 { background-position: 0 81.318681%; }
.icon--items--5   { background-position: 0 81.501832%; }
.icon--items--50  { background-position: 0 81.684982%; }
.icon--items--500 { background-position: 0 81.868132%; }
.icon--items--501 { background-position: 0 82.051282%; }
.icon--items--502 { background-position: 0 82.234432%; }
.icon--items--503 { background-position: 0 82.417582%; }
.icon--items--504 { background-position: 0 82.600733%; }
.icon--items--505 { background-position: 0 82.783883%; }
.icon--items--506 { background-position: 0 82.967033%; }
.icon--items--507 { background-position: 0 83.150183%; }
.icon--items--508 { background-position: 0 83.333333%; }
.icon--items--509 { background-position: 0 83.516484%; }
.icon--items--51  { background-position: 0 83.699634%; }
.icon--items--510 { background-position: 0 83.882784%; }
.icon--items--511 { background-position: 0 84.065934%; }
.icon--items--512 { background-position: 0 84.249084%; }
.icon--items--513 { background-position: 0 84.432234%; }
.icon--items--514 { background-position: 0 84.615385%; }
.icon--items--515 { background-position: 0 84.798535%; }
.icon--items--516 { background-position: 0 84.981685%; }
.icon--items--517 { background-position: 0 85.164835%; }
.icon--items--518 { background-position: 0 85.347985%; }
.icon--items--519 { background-position: 0 85.531136%; }
.icon--items--52  { background-position: 0 85.714286%; }
.icon--items--520 { background-position: 0 85.897436%; }
.icon--items--521 { background-position: 0 86.080586%; }
.icon--items--522 { background-position: 0 86.263736%; }
.icon--items--523 { background-position: 0 86.446886%; }
.icon--items--524 { background-position: 0 86.630037%; }
.icon--items--525 { background-position: 0 86.813187%; }
.icon--items--526 { background-position: 0 86.996337%; }
.icon--items--527 { background-position: 0 87.179487%; }
.icon--items--528 { background-position: 0 87.362637%; }
.icon--items--529 { background-position: 0 87.545788%; }
.icon--items--53  { background-position: 0 87.728938%; }
.icon--items--530 { background-position: 0 87.912088%; }
.icon--items--531 { background-position: 0 88.095238%; }
.icon--items--532 { background-position: 0 88.278388%; }
.icon--items--533 { background-position: 0 88.461538%; }
.icon--items--534 { background-position: 0 88.644689%; }
.icon--items--535 { background-position: 0 88.827839%; }
.icon--items--536 { background-position: 0 89.010989%; }
.icon--items--537 { background-position: 0 89.194139%; }
.icon--items--538 { background-position: 0 89.377289%; }
.icon--items--539 { background-position: 0 89.56044%; }
.icon--items--54  { background-position: 0 89.74359%; }
.icon--items--540 { background-position: 0 89.92674%; }
.icon--items--541 { background-position: 0 90.10989%; }
.icon--items--542 { background-position: 0 90.29304%; }
.icon--items--543 { background-position: 0 90.47619%; }
.icon--items--544 { background-position: 0 90.659341%; }
.icon--items--545 { background-position: 0 90.842491%; }
.icon--items--546 { background-position: 0 91.025641%; }
.icon--items--55  { background-position: 0 91.208791%; }
.icon--items--56  { background-position: 0 91.391941%; }
.icon--items--57  { background-position: 0 91.575092%; }
.icon--items--58  { background-position: 0 91.758242%; }
.icon--items--59  { background-position: 0 91.941392%; }
.icon--items--6   { background-position: 0 92.124542%; }
.icon--items--60  { background-position: 0 92.307692%; }
.icon--items--61  { background-position: 0 92.490842%; }
.icon--items--62  { background-position: 0 92.673993%; }
.icon--items--63  { background-position: 0 92.857143%; }
.icon--items--64  { background-position: 0 93.040293%; }
.icon--items--65  { background-position: 0 93.223443%; }
.icon--items--66  { background-position: 0 93.406593%; }
.icon--items--67  { background-position: 0 93.589744%; }
.icon--items--68  { background-position: 0 93.772894%; }
.icon--items--69  { background-position: 0 93.956044%; }
.icon--items--7   { background-position: 0 94.139194%; }
.icon--items--70  { background-position: 0 94.322344%; }
.icon--items--71  { background-position: 0 94.505495%; }
.icon--items--72  { background-position: 0 94.688645%; }
.icon--items--73  { background-position: 0 94.871795%; }
.icon--items--74  { background-position: 0 95.054945%; }
.icon--items--75  { background-position: 0 95.238095%; }
.icon--items--76  { background-position: 0 95.421245%; }
.icon--items--77  { background-position: 0 95.604396%; }
.icon--items--78  { background-position: 0 95.787546%; }
.icon--items--79  { background-position: 0 95.970696%; }
.icon--items--8   { background-position: 0 96.153846%; }
.icon--items--80  { background-position: 0 96.336996%; }
.icon--items--81  { background-position: 0 96.520147%; }
.icon--items--82  { background-position: 0 96.703297%; }
.icon--items--83  { background-position: 0 96.886447%; }
.icon--items--84  { background-position: 0 97.069597%; }
.icon--items--85  { background-position: 0 97.252747%; }
.icon--items--86  { background-position: 0 97.435897%; }
.icon--items--87  { background-position: 0 97.619048%; }
.icon--items--88  { background-position: 0 97.802198%; }
.icon--items--89  { background-position: 0 97.985348%; }
.icon--items--9   { background-position: 0 98.168498%; }
.icon--items--90  { background-position: 0 98.351648%; }
.icon--items--91  { background-position: 0 98.534799%; }
.icon--items--92  { background-position: 0 98.717949%; }
.icon--items--93  { background-position: 0 98.901099%; }
.icon--items--94  { background-position: 0 99.084249%; }
.icon--items--95  { background-position: 0 99.267399%; }
.icon--items--96  { background-position: 0 99.450549%; }
.icon--items--97  { background-position: 0 99.6337%; }
.icon--items--98  { background-position: 0 99.81685%; }
.icon--items--99  { background-position: 0 100%; }
