.icon--materials {
  display: block;
  background-image: url("/assets/sprites/materials.png");
  background-repeat: no-repeat;
  background-position: -100% -100%;
  background-size: 100%;
  max-width: 100%;
  overflow: hidden;
}
.icon--materials--29     { background-position: 0 0; }
.icon--materials--0      { background-position: 0 2.272727%; }
.icon--materials--10     { background-position: 0 4.545455%; }
.icon--materials--11     { background-position: 0 6.818182%; }
.icon--materials--12     { background-position: 0 9.090909%; }
.icon--materials--13     { background-position: 0 11.363636%; }
.icon--materials--14     { background-position: 0 13.636364%; }
.icon--materials--15     { background-position: 0 15.909091%; }
.icon--materials--16     { background-position: 0 18.181818%; }
.icon--materials--17     { background-position: 0 20.454545%; }
.icon--materials--18     { background-position: 0 22.727273%; }
.icon--materials--19     { background-position: 0 25%; }
.icon--materials--2      { background-position: 0 27.272727%; }
.icon--materials--20     { background-position: 0 29.545455%; }
.icon--materials--21     { background-position: 0 31.818182%; }
.icon--materials--22     { background-position: 0 34.090909%; }
.icon--materials--23     { background-position: 0 36.363636%; }
.icon--materials--24     { background-position: 0 38.636364%; }
.icon--materials--25     { background-position: 0 40.909091%; }
.icon--materials--26     { background-position: 0 43.181818%; }
.icon--materials--27     { background-position: 0 45.454545%; }
.icon--materials--28     { background-position: 0 47.727273%; }
.icon--materials--1      { background-position: 0 50%; }
.icon--materials--3      { background-position: 0 52.272727%; }
.icon--materials--30     { background-position: 0 54.545455%; }
.icon--materials--31     { background-position: 0 56.818182%; }
.icon--materials--32     { background-position: 0 59.090909%; }
.icon--materials--33     { background-position: 0 61.363636%; }
.icon--materials--34     { background-position: 0 63.636364%; }
.icon--materials--35     { background-position: 0 65.909091%; }
.icon--materials--36     { background-position: 0 68.181818%; }
.icon--materials--37     { background-position: 0 70.454545%; }
.icon--materials--38     { background-position: 0 72.727273%; }
.icon--materials--39     { background-position: 0 75%; }
.icon--materials--4      { background-position: 0 77.272727%; }
.icon--materials--40     { background-position: 0 79.545455%; }
.icon--materials--5      { background-position: 0 81.818182%; }
.icon--materials--6      { background-position: 0 84.090909%; }
.icon--materials--7      { background-position: 0 86.363636%; }
.icon--materials--8      { background-position: 0 88.636364%; }
.icon--materials--9      { background-position: 0 90.909091%; }
.icon--materials--coin   { background-position: 0 93.181818%; }
.icon--materials--crete  { background-position: 0 95.454545%; }
.icon--materials--empire { background-position: 0 97.727273%; }
.icon--materials--sparta { background-position: 0 100%; }
