.icon--materials {
  display: block;
  background-image: url("/assets/sprites/materials.png");
  background-repeat: no-repeat;
  background-position: -100% -100%;
  background-size: 100%;
  max-width: 100%;
  overflow: hidden;
}
.icon--materials--0         { background-position: 0 0; }
.icon--materials--1         { background-position: 0 0.60241%; }
.icon--materials--10        { background-position: 0 1.204819%; }
.icon--materials--100       { background-position: 0 1.807229%; }
.icon--materials--101       { background-position: 0 2.409639%; }
.icon--materials--102       { background-position: 0 3.012048%; }
.icon--materials--103       { background-position: 0 3.614458%; }
.icon--materials--104       { background-position: 0 4.216867%; }
.icon--materials--105       { background-position: 0 4.819277%; }
.icon--materials--106       { background-position: 0 5.421687%; }
.icon--materials--107       { background-position: 0 6.024096%; }
.icon--materials--108       { background-position: 0 6.626506%; }
.icon--materials--109       { background-position: 0 7.228916%; }
.icon--materials--11        { background-position: 0 7.831325%; }
.icon--materials--110       { background-position: 0 8.433735%; }
.icon--materials--111       { background-position: 0 9.036145%; }
.icon--materials--112       { background-position: 0 9.638554%; }
.icon--materials--113       { background-position: 0 10.240964%; }
.icon--materials--114       { background-position: 0 10.843373%; }
.icon--materials--115       { background-position: 0 11.445783%; }
.icon--materials--116       { background-position: 0 12.048193%; }
.icon--materials--117       { background-position: 0 12.650602%; }
.icon--materials--118       { background-position: 0 13.253012%; }
.icon--materials--119       { background-position: 0 13.855422%; }
.icon--materials--12        { background-position: 0 14.457831%; }
.icon--materials--120       { background-position: 0 15.060241%; }
.icon--materials--121       { background-position: 0 15.662651%; }
.icon--materials--122       { background-position: 0 16.26506%; }
.icon--materials--123       { background-position: 0 16.86747%; }
.icon--materials--124       { background-position: 0 17.46988%; }
.icon--materials--125       { background-position: 0 18.072289%; }
.icon--materials--126       { background-position: 0 18.674699%; }
.icon--materials--127       { background-position: 0 19.277108%; }
.icon--materials--128       { background-position: 0 19.879518%; }
.icon--materials--129       { background-position: 0 20.481928%; }
.icon--materials--13        { background-position: 0 21.084337%; }
.icon--materials--130       { background-position: 0 21.686747%; }
.icon--materials--131       { background-position: 0 22.289157%; }
.icon--materials--132       { background-position: 0 22.891566%; }
.icon--materials--133       { background-position: 0 23.493976%; }
.icon--materials--134       { background-position: 0 24.096386%; }
.icon--materials--135       { background-position: 0 24.698795%; }
.icon--materials--136       { background-position: 0 25.301205%; }
.icon--materials--137       { background-position: 0 25.903614%; }
.icon--materials--138       { background-position: 0 26.506024%; }
.icon--materials--139       { background-position: 0 27.108434%; }
.icon--materials--14        { background-position: 0 27.710843%; }
.icon--materials--140       { background-position: 0 28.313253%; }
.icon--materials--141       { background-position: 0 28.915663%; }
.icon--materials--142       { background-position: 0 29.518072%; }
.icon--materials--143       { background-position: 0 30.120482%; }
.icon--materials--144       { background-position: 0 30.722892%; }
.icon--materials--145       { background-position: 0 31.325301%; }
.icon--materials--146       { background-position: 0 31.927711%; }
.icon--materials--147       { background-position: 0 32.53012%; }
.icon--materials--148       { background-position: 0 33.13253%; }
.icon--materials--149       { background-position: 0 33.73494%; }
.icon--materials--15        { background-position: 0 34.337349%; }
.icon--materials--150       { background-position: 0 34.939759%; }
.icon--materials--151       { background-position: 0 35.542169%; }
.icon--materials--152       { background-position: 0 36.144578%; }
.icon--materials--153       { background-position: 0 36.746988%; }
.icon--materials--154       { background-position: 0 37.349398%; }
.icon--materials--155       { background-position: 0 37.951807%; }
.icon--materials--156       { background-position: 0 38.554217%; }
.icon--materials--157       { background-position: 0 39.156627%; }
.icon--materials--158       { background-position: 0 39.759036%; }
.icon--materials--159       { background-position: 0 40.361446%; }
.icon--materials--16        { background-position: 0 40.963855%; }
.icon--materials--17        { background-position: 0 41.566265%; }
.icon--materials--18        { background-position: 0 42.168675%; }
.icon--materials--19        { background-position: 0 42.771084%; }
.icon--materials--2         { background-position: 0 43.373494%; }
.icon--materials--20        { background-position: 0 43.975904%; }
.icon--materials--21        { background-position: 0 44.578313%; }
.icon--materials--22        { background-position: 0 45.180723%; }
.icon--materials--23        { background-position: 0 45.783133%; }
.icon--materials--24        { background-position: 0 46.385542%; }
.icon--materials--25        { background-position: 0 46.987952%; }
.icon--materials--26        { background-position: 0 47.590361%; }
.icon--materials--27        { background-position: 0 48.192771%; }
.icon--materials--28        { background-position: 0 48.795181%; }
.icon--materials--29        { background-position: 0 49.39759%; }
.icon--materials--3         { background-position: 0 50%; }
.icon--materials--30        { background-position: 0 50.60241%; }
.icon--materials--31        { background-position: 0 51.204819%; }
.icon--materials--32        { background-position: 0 51.807229%; }
.icon--materials--33        { background-position: 0 52.409639%; }
.icon--materials--34        { background-position: 0 53.012048%; }
.icon--materials--35        { background-position: 0 53.614458%; }
.icon--materials--36        { background-position: 0 54.216867%; }
.icon--materials--37        { background-position: 0 54.819277%; }
.icon--materials--38        { background-position: 0 55.421687%; }
.icon--materials--39        { background-position: 0 56.024096%; }
.icon--materials--4         { background-position: 0 56.626506%; }
.icon--materials--40        { background-position: 0 57.228916%; }
.icon--materials--41        { background-position: 0 57.831325%; }
.icon--materials--42        { background-position: 0 58.433735%; }
.icon--materials--43        { background-position: 0 59.036145%; }
.icon--materials--44        { background-position: 0 59.638554%; }
.icon--materials--45        { background-position: 0 60.240964%; }
.icon--materials--46        { background-position: 0 60.843373%; }
.icon--materials--47        { background-position: 0 61.445783%; }
.icon--materials--48        { background-position: 0 62.048193%; }
.icon--materials--49        { background-position: 0 62.650602%; }
.icon--materials--5         { background-position: 0 63.253012%; }
.icon--materials--50        { background-position: 0 63.855422%; }
.icon--materials--51        { background-position: 0 64.457831%; }
.icon--materials--52        { background-position: 0 65.060241%; }
.icon--materials--53        { background-position: 0 65.662651%; }
.icon--materials--54        { background-position: 0 66.26506%; }
.icon--materials--55        { background-position: 0 66.86747%; }
.icon--materials--56        { background-position: 0 67.46988%; }
.icon--materials--57        { background-position: 0 68.072289%; }
.icon--materials--58        { background-position: 0 68.674699%; }
.icon--materials--59        { background-position: 0 69.277108%; }
.icon--materials--6         { background-position: 0 69.879518%; }
.icon--materials--60        { background-position: 0 70.481928%; }
.icon--materials--61        { background-position: 0 71.084337%; }
.icon--materials--62        { background-position: 0 71.686747%; }
.icon--materials--63        { background-position: 0 72.289157%; }
.icon--materials--64        { background-position: 0 72.891566%; }
.icon--materials--65        { background-position: 0 73.493976%; }
.icon--materials--66        { background-position: 0 74.096386%; }
.icon--materials--67        { background-position: 0 74.698795%; }
.icon--materials--68        { background-position: 0 75.301205%; }
.icon--materials--69        { background-position: 0 75.903614%; }
.icon--materials--7         { background-position: 0 76.506024%; }
.icon--materials--70        { background-position: 0 77.108434%; }
.icon--materials--71        { background-position: 0 77.710843%; }
.icon--materials--72        { background-position: 0 78.313253%; }
.icon--materials--73        { background-position: 0 78.915663%; }
.icon--materials--74        { background-position: 0 79.518072%; }
.icon--materials--75        { background-position: 0 80.120482%; }
.icon--materials--76        { background-position: 0 80.722892%; }
.icon--materials--77        { background-position: 0 81.325301%; }
.icon--materials--78        { background-position: 0 81.927711%; }
.icon--materials--79        { background-position: 0 82.53012%; }
.icon--materials--8         { background-position: 0 83.13253%; }
.icon--materials--80        { background-position: 0 83.73494%; }
.icon--materials--81        { background-position: 0 84.337349%; }
.icon--materials--82        { background-position: 0 84.939759%; }
.icon--materials--83        { background-position: 0 85.542169%; }
.icon--materials--84        { background-position: 0 86.144578%; }
.icon--materials--85        { background-position: 0 86.746988%; }
.icon--materials--86        { background-position: 0 87.349398%; }
.icon--materials--87        { background-position: 0 87.951807%; }
.icon--materials--88        { background-position: 0 88.554217%; }
.icon--materials--89        { background-position: 0 89.156627%; }
.icon--materials--9         { background-position: 0 89.759036%; }
.icon--materials--90        { background-position: 0 90.361446%; }
.icon--materials--91        { background-position: 0 90.963855%; }
.icon--materials--92        { background-position: 0 91.566265%; }
.icon--materials--93        { background-position: 0 92.168675%; }
.icon--materials--94        { background-position: 0 92.771084%; }
.icon--materials--95        { background-position: 0 93.373494%; }
.icon--materials--96        { background-position: 0 93.975904%; }
.icon--materials--97        { background-position: 0 94.578313%; }
.icon--materials--98        { background-position: 0 95.180723%; }
.icon--materials--99        { background-position: 0 95.783133%; }
.icon--materials--coin      { background-position: 0 96.385542%; }
.icon--materials--crete     { background-position: 0 96.987952%; }
.icon--materials--empire    { background-position: 0 97.590361%; }
.icon--materials--halloween { background-position: 0 98.192771%; }
.icon--materials--quest     { background-position: 0 98.795181%; }
.icon--materials--sparta    { background-position: 0 99.39759%; }
.icon--materials--winter    { background-position: 0 100%; }
