.icon--materials {
  display: block;
  background-image: url("/assets/sprites/materials.png");
  background-repeat: no-repeat;
  background-position: -100% -100%;
  background-size: 100%;
  background-clip: padding-box;
  width: 24px;
  height: 24px;
  max-width: 100%;
  overflow: hidden;
}
.icon--materials--0LBVX2GX   { background-position: 0 0; }
.icon--materials--0nZ0xWA0   { background-position: 0 1.923077%; }
.icon--materials--0waCSyRF   { background-position: 0 3.846154%; }
.icon--materials--4aGuwZt6   { background-position: 0 5.769231%; }
.icon--materials--4xkc17yR   { background-position: 0 7.692308%; }
.icon--materials--babylonian { background-position: 0 9.615385%; }
.icon--materials--Bk8n6i8b   { background-position: 0 11.538462%; }
.icon--materials--bqlyYIkN   { background-position: 0 13.461538%; }
.icon--materials--cgGsg7yG   { background-position: 0 15.384615%; }
.icon--materials--coin       { background-position: 0 17.307692%; }
.icon--materials--crete      { background-position: 0 19.230769%; }
.icon--materials--d2Ttn8eu   { background-position: 0 21.153846%; }
.icon--materials--empire     { background-position: 0 23.076923%; }
.icon--materials--Gx2g2tjN   { background-position: 0 25%; }
.icon--materials--H9WAyBCs   { background-position: 0 26.923077%; }
.icon--materials--halloween  { background-position: 0 28.846154%; }
.icon--materials--HzzzEBij   { background-position: 0 30.769231%; }
.icon--materials--IuZWj97m   { background-position: 0 32.692308%; }
.icon--materials--JDgm6NH1   { background-position: 0 34.615385%; }
.icon--materials--JiibtqKJ   { background-position: 0 36.538462%; }
.icon--materials--jJ6HDtuO   { background-position: 0 38.461538%; }
.icon--materials--jMYy4Cg8   { background-position: 0 40.384615%; }
.icon--materials--JWtD9HNg   { background-position: 0 42.307692%; }
.icon--materials--Kxu9OwTL   { background-position: 0 44.230769%; }
.icon--materials--KYrH8DgR   { background-position: 0 46.153846%; }
.icon--materials--kZgtHg7J   { background-position: 0 48.076923%; }
.icon--materials--Ld3Qn1Ce   { background-position: 0 50%; }
.icon--materials--lHG8kq1d   { background-position: 0 51.923077%; }
.icon--materials--lknDsdKS   { background-position: 0 53.846154%; }
.icon--materials--market     { background-position: 0 55.769231%; }
.icon--materials--MeI7vMPh   { background-position: 0 57.692308%; }
.icon--materials--norse      { background-position: 0 59.615385%; }
.icon--materials--persian    { background-position: 0 61.538462%; }
.icon--materials--pptvipbj   { background-position: 0 63.461538%; }
.icon--materials--pq54FD6j   { background-position: 0 65.384615%; }
.icon--materials--qFbarSLf   { background-position: 0 67.307692%; }
.icon--materials--quest      { background-position: 0 69.230769%; }
.icon--materials--qW81Bzd7   { background-position: 0 71.153846%; }
.icon--materials--R9TCzDRb   { background-position: 0 73.076923%; }
.icon--materials--riHxVIeE   { background-position: 0 75%; }
.icon--materials--sparta     { background-position: 0 76.923077%; }
.icon--materials--SznPOAWC   { background-position: 0 78.846154%; }
.icon--materials--UCg0FA07   { background-position: 0 80.769231%; }
.icon--materials--uFYYJfVQ   { background-position: 0 82.692308%; }
.icon--materials--uzKDZ1T1   { background-position: 0 84.615385%; }
.icon--materials--v0YFjv6w   { background-position: 0 86.538462%; }
.icon--materials--winter     { background-position: 0 88.461538%; }
.icon--materials--WjdFc4Yl   { background-position: 0 90.384615%; }
.icon--materials--wmNwlLwG   { background-position: 0 92.307692%; }
.icon--materials--wOJHsDif   { background-position: 0 94.230769%; }
.icon--materials--XkQc6WsQ   { background-position: 0 96.153846%; }
.icon--materials--ylBCjJyx   { background-position: 0 98.076923%; }
.icon--materials--zfJBS7qg   { background-position: 0 100%; }
