.icon--materials {
  display: block;
  background-image: url("assets/sprite-materials.png");
  width: 20px;
  height: 20px;
}
.icon--materials--0  { background-position: -64px 0px; }
.icon--materials--1  { background-position: 0px -256px; }
.icon--materials--10 { background-position: 0px -64px; }
.icon--materials--11 { background-position: -64px -64px; }
.icon--materials--12 { background-position: -128px 0px; }
.icon--materials--13 { background-position: -128px -64px; }
.icon--materials--14 { background-position: 0px -128px; }
.icon--materials--15 { background-position: -64px -128px; }
.icon--materials--16 { background-position: -128px -128px; }
.icon--materials--17 { background-position: -192px 0px; }
.icon--materials--18 { background-position: -192px -64px; }
.icon--materials--19 { background-position: -192px -128px; }
.icon--materials--2  { background-position: 0px -192px; }
.icon--materials--20 { background-position: -64px -192px; }
.icon--materials--21 { background-position: -128px -192px; }
.icon--materials--22 { background-position: -192px -192px; }
.icon--materials--23 { background-position: -256px 0px; }
.icon--materials--24 { background-position: -256px -64px; }
.icon--materials--25 { background-position: -256px -128px; }
.icon--materials--26 { background-position: -256px -192px; }
.icon--materials--27 { background-position: 0px 0px; }
.icon--materials--28 { background-position: -64px -256px; }
.icon--materials--29 { background-position: -128px -256px; }
.icon--materials--3  { background-position: -192px -256px; }
.icon--materials--30 { background-position: -256px -256px; }
.icon--materials--31 { background-position: -320px 0px; }
.icon--materials--32 { background-position: -320px -64px; }
.icon--materials--33 { background-position: -320px -128px; }
.icon--materials--34 { background-position: -320px -192px; }
.icon--materials--35 { background-position: -320px -256px; }
.icon--materials--36 { background-position: 0px -320px; }
.icon--materials--37 { background-position: -64px -320px; }
.icon--materials--38 { background-position: -128px -320px; }
.icon--materials--39 { background-position: -192px -320px; }
.icon--materials--4  { background-position: -256px -320px; }
.icon--materials--40 { background-position: -320px -320px; }
.icon--materials--5  { background-position: -384px 0px; }
.icon--materials--6  { background-position: -384px -64px; }
.icon--materials--7  { background-position: -384px -128px; }
.icon--materials--8  { background-position: -384px -192px; }
.icon--materials--9  { background-position: -384px -256px; }