@import 'imports';

:host {
  display: block;
}

.__input-container {
  position: relative;
}

.__input {
  @include elevation(2);

  width: 100%;
  height: 3rem;
  overflow: hidden;
  border-radius: ($border-radius / 2);
  padding: 0 3rem 0 1rem;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 3rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.--empty {
  .__clear {
    display: none;
  }
}

.__clear {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 3rem;
  height: 3rem;
  box-shadow: none;
  border-radius: 50%;
  background: rgba($theme-text, .8);
  color: $theme-shadow;
  opacity: .25;
  transform: translate3d(0,0,0);
  transition: opacity .1s ease-out;

  &:hover,
  &:focus {
    opacity: 1;
  }

  svg {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
