@import "imports";

:host {
  position: relative;
  display: block;

  &:hover {
    z-index: 1;
  }
}

.icon--items {
  $size: 64px;
  border-radius: 10px;
  background-color: $theme-border;
  width: $size;
  height: $size;
}

.icon--materials {
  $size: 24px;
  border-radius: 3px;
  width: $size;
  height: $size;
}

.__inside {
  @include elevation(4);
  @include border();

  width: 100%;
  margin: 0 auto;
  background: $theme-shadow;
  padding: .75rem;
  font-size: 14px;
  color: white;
  opacity: .95;
}

.row {
  display: flex;

  span {
    white-space: nowrap;
  }
}

.row.--header {
  justify-content: space-between;
}

.__rarity {
  text-transform: capitalize;
}

.row.--name {
  margin: .75rem 0;
}

.__name {
  margin-left: .25rem;
  padding: .25rem;
  font-size: 18px;
  font-weight: 700;
  flex: 1;
}

.row.--effects {
  margin: 0;
  margin-left: .25rem;

  ul {
    flex: 1;
    list-style: none;
    margin: 0;
    margin-left: 1rem;
    padding: 0;
    font-size: 14px;
  }
  li {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0.6em;
      transform: translateY(-50%);
      left: -1em;
      background: white;
      border-radius: 50%;
      width: .375rem;
      height: .375rem;
      pointer-events: none;
      user-select: none;
      box-shadow: 1px 0 1px #000;
    }
  }
}

.__value {
  position: relative;
  padding: 0 .25rem;

  &.--left {
    margin-right: auto;
  }

  &.--right {
    padding-left: 1em;
    margin-left: auto;
    cursor: default;
    font-size: 90%;
  }
}

.row.--level {
  margin-top: 1rem;
}

.row.--levels {
  margin-top: .25rem;
  font-size: 90%;
  color: hsl(0, 0%, 65%);
  flex-wrap: wrap;

  .__level {
    position: relative;

    button {
      background: transparent;
      margin: 0;
      padding: 0 .2rem;
      color: inherit;
      transform: translate3d(0,0,0);
      transition: .1s ease-out;
      transition-property: color;
      box-shadow: none;

      &:hover, &:active {
        color: white;
        transition: none;
      }
    }
  }
}

.row.--recipe,
.row.--vendor {
  margin-top: 1rem;
  margin-bottom: .25rem;
  flex-wrap: wrap;
}

.__vendor-rotation {
  width: 100%;
  margin-bottom: .25rem;
  color: hsl(0, 0%, 65%);
}

.row.--materials {
  margin-left: .5rem;
  font-size: 90%;
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  grid-column-gap: .375rem;
  grid-row-gap: .125rem;
  align-items: center;

  + .row.--materials {
    margin-top: .1rem;
  }
}

.__mat-text,
.__mat-amount {
  margin-top: .125rem;
}

.__mat-amount {
  text-align: right;
}
