@import "imports";

:host {
  position: relative;
  display: block;
}

.__setting {
  margin-bottom: 2rem;
}

.__description {
  font-weight: 700;
  display: flex;
  align-items: center;
}

cis-icon {
  width: 2em;
  height: 2em;
  margin-right: 1em;
}

summary,
.summary {
  font-weight: 700;
  margin: 1rem 0 0;
  padding: .5rem 0;
}

.__grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin: 1rem 0 1rem 1rem;

  :nth-child(2n) {
    font-weight: 700;
  }
}
