@import "imports";

:host {
  position: relative;
  display: block;

  &:hover,
  &:active {
    .tooltip {
      display: block;
    }
  }
}

.tooltip {
  display: none;
  position: absolute;
  bottom: -.5rem;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  background: white;
  z-index: 1;
  padding: .5rem 1rem;
  color: black;
  font-size: .9rem;
  font-weight: 300;
  text-align: center;
  text-shadow: none;
  white-space: nowrap;
}
