@import "imports";

:host {
  position: relative;
  display: block;
}

.__setting {
  margin-bottom: 1rem;
}

.__description {
  display: flex;
  align-items: center;

  strong {
    color: inherit;
    font-weight: 700;
  }
}

cis-icon {
  width: 2em;
  height: 2em;
  margin-right: 1em;
}

input {
  padding: .5rem 0;
}

a {
  display: inline-block;
  padding: .5rem 0;
}
