<div class="__setting">
  <div class="__description">
    <cis-icon icon="precision"></cis-icon>
    <strong>Shown Decimals:</strong>&nbsp;&nbsp;
    {{ precision.value }}
  </div>
  <cis-input-range [min]="0" [max]="3" [formControl]="precision">
  </cis-input-range>
</div>

<div class="__setting">
  <div class="__description">
    <cis-icon icon="columns"></cis-icon>
    <strong>Max Columns:</strong>&nbsp;&nbsp;
    {{ maxColumns.value }}
  </div>
  <cis-input-range [min]="1" [max]="5" [formControl]="maxColumns">
  </cis-input-range>
</div>

<div class="__setting">
  <div class="__description">
    <cis-icon icon="everything"></cis-icon>
    <strong>By Default Show:</strong>
  </div>
  <cis-input-switch off="Nothing" on="Everything"
    [formControl]="defaultToEverything">
  </cis-input-switch>
</div>
