<div class="__setting">
  <div class="__description">
    <cis-icon icon="precision"></cis-icon>
    Decimals:&nbsp;&nbsp;{{ precision.value }}
  </div>
  <input class="__value" type="range" min="0" max="3" step="1"
    [formControl]="precision">
</div>

<div class="__setting">
  <div class="__description">
    <cis-icon icon="columns"></cis-icon>
    Max Columns:&nbsp;&nbsp;{{ maxColumns.value }}
  </div>
  <input class="__value" type="range" min="2" max="5" step="1"
    [formControl]=" maxColumns">
</div>
